// default styles
html {
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

// body styles 
body {
	font-family: $main_font;
	font-size: $main_fontsize;
	color: $main_color;
}
// styles for 
.container {
	padding: 0 15px;
	margin: 0 auto;
	@include media-up(sm) {
		width: 550px;
	}
	@include media-up(md) {
		width: 760px;
	}
	@include media-up(lg) {
		width: 970px;
	}
	@include media-up(xl) {
		width: 1170px;
	}
}
.flex-row {
	display: flex;
}
.t-right {
	text-align: right;
}
.t-center {
	text-align: center;
}
p {
	margin: 0 0 15px;
}
i {
	font-family: $main_italic;
}
b,
strong {
	font-family: $main_bold;
	font-weight: normal;
}
// sprite icons 
.icon {
	display: inline-block;
}
// sprite icons
.i-avto {
	@include sprite($i-avto);
}
.i-metro {
	@include sprite($i-metro);
}
.i-walk {
	@include sprite($i-walk);
}