.blog {
	.booking-block {
		@include media-up(md) {
			margin-left: 50px;
		}		
	}
	header {
		background: #000;
		border-bottom: solid 1px #e7e7e7;
	}
	ul.inner-navigation {
		justify-content: flex-start;
		@include media-up(lg) {
			margin-left: -15px;
		}
		@include media-up(xl) {
			margin-left: -20px;
		}
	}
}
.blog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	.item {
		width: 100%;
		max-width: 460px;
		margin: 0 auto;
		padding: 25px 15px 0;
		@include media-up(md) {
			width: 50%;
			max-width: none;
			margin: 0;
		}
		@include media-up(lg) {
			width: 33.3333%;
			padding: 35px 15px 0;
		}
	}
	.meta-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 20px;
		.date {
			color: #d4311c;
			font-size: 14px;
		}
		.city {
			color: #d4311c;
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 0.075em;
			font-family: $main_medium;
		}
	}
	.blog-item {
		&:hover {
			.img-block {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
	.img-block {
		position: relative;
		height: 215px;
		overflow: hidden;
		@include media-up(sm) {
			height: 265px;
		}
		@include media-up(lg) {
			height: 225px;
		}
		img {
			display: block;
			height: auto;
		    position: absolute;
		    min-width: 100%;
		    min-height: 100%;
		    max-width: none;
		    top: -100%;
		    left: -100%;
		    bottom: -100%;
		    right: -100%;
		    margin: auto;
		    transition: transform 0.3s ease;
		    @include media-down(xs) {
		    	max-height: 290px;
		    }
		}
	}
	.content {
		padding: 20px;
		border: solid 1px #cdd6da;
		border-top: 0;
		@include media-up(sm) {
			padding: 25px;
		}
		@include media-up(lg) {
			padding: 20px;
		}
		.title {
			font-size: 24px;
			line-height: normal;
			color: #084654;
			font-family: $main_medium;
			margin: 0 0 20px;
		}
		.excerpt {
			color: #6f7a85;
			font-size: 14px;
			line-height: 20px;
			@include media-up(sm) {
				font-size: 15px;
			}
		}
		.more {
			margin-top: 20px;
			text-align: right;
			a {
				color: #000;
				font-family: $main_medium;
				padding-bottom: 3px;
				border-bottom: solid 1px #000;
				text-decoration: none;
				&:hover {
					border-color: transparent;
				}
			}
		}
	}
}

.pagination {
	margin: 30px 0;
	@include media-up(sm) {
		margin: 40px 0;
	}
	@include media-up(md) {
		margin: 45px 0;
	}
	@include media-up(lg) {
		margin: 60px 0;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			& + li {
				margin-left: 10px;
				@include media-up(md) {
					margin-left: 13px;
				}
			}
			a, span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 47px;
				height: 47px;
				border: solid 1px #cdd6da;
				color: #084654;
				font-size: 15px;
				text-decoration: none;
				transition: $d_transition;
				svg {
					fill: #d4311c;
					font-size: 14px;
					transition: $d_transition;
				}
			}
			&:first-child {
				@include media-up(md) {
					margin-right: 17px;
				}
			}
			&:last-child {
				@include media-up(md) {
					margin-left: 30px;
				}
			}
			&:first-child,
			&:last-child {
				a, span {
					border-width: 2px;
					border-color: #d4311c;
				}
			}
			a {
				&:hover {
					background: #d4311c;
					border-color: #d4311c;
					color: #fff;
					svg {
						fill: #fff;
					}
				}
			}
			&.active {
				span {
					background: #f9f9f9;
				}
			}
		}
	}
}