.blog-post {
	padding-bottom: 55px;
	font-size: 15px;
	line-height: 30px;
	@include media-up(md) {
		font-size: 16px;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	@include media-up(lg) {
		padding-bottom: 80px;
	}
	img {
		width: 100%;
		display: block;
		margin: 0 0 20px;
		@include media-up(sm) {
			max-width: 240px;
			float: left;
			margin: 0 20px 0 0;
		}
		@include media-up(md) {
			max-width: 350px;
			margin: 0 30px 0 0;
		}
		@include media-up(xl) {
			max-width: 460px;
		}
	}
	.more {
		justify-content: center;
		display: flex;
		margin-top: 30px;
		@include media-up(sm){
			margin-top: 50px;
		}
		@include media-up(lg) {
			margin-top: 70px;
		}
		a {
			min-width: 280px;
		}
	}
	.hidden {
		display: none;
	}
	.date-block {
		display: flex;
		align-items: center;
		margin: 0 0 15px;
		.date {
			color: #d4311c;
			font-size: 12px;
			padding-right: 20px;
			margin-right: 20px;
			position: relative;
			@include media-up(md) {
				font-size: 14px;
			}
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				width: 1px;
				height: 14px;
				background: #cdd6da;
				margin-top: -7px;
			}
		}
		.city {
			font-size: 12px;
			color: #d4311c;
			text-transform: uppercase;
			font-family: $main_medium;
			@include media-up(md) {
				font-size: 14px;
			}
		}
	}
}