.special-list {
	flex-wrap: wrap;
	margin: 0 -15px 10px;
	@include media-up(md) {
		margin: 0 -15px 20px;
	}
	.item {
		padding-bottom: 20px;
		@include media-up(md) {
			padding-bottom: 30px;
		}
		& + .item {
			@include media-down(sm) {
				margin-top: 0;
			}
		}
	}
}
.special-offers {
	h1 {
		text-align: center;
	}
	.special-more {
		text-align: center;
		margin: 0 0 30px;
		@include media-up(md) {
			margin: 0 0 50px;
		}
		.btn {
			min-width: 255px;
		}
	}
}