.booking-block {
	position: relative;
	z-index: 100;
}
.booking-form {
	position: absolute;
	background: #000;
	top: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transform: translateY(-30px);
	transition: $d_transition;
	width: 555px;
	padding: 35px 50px;
	@include media-down(md) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: auto;
		padding: 60px 20px 35px;
	}
	&.show {
		opacity: 1;
		visibility: visible;
		z-index: 101;
		transform: translateY(0);
	}
	.date-block {
		position: relative;
		z-index: 1;
		svg {
			position: absolute;
			fill: #dad3c8;
			right: 0;
			top: 8px;
			font-size: 20px;
			z-index: -1;
		}
	}
	.booking-control {
		margin: 0 0 25px;
		input {
			width: 100%;
			background: none;
			height: 40px;
			color: #dad3c8;
			border: 0;
			border-bottom: solid 1px #5e5950;
			outline: none;
			font-size: 16px;
		}
	}
	.close-booking {
		position: absolute;
		right: 20px;
		top: 20px;
		background: none;
		border: 0;
		cursor: pointer;
		outline: none;
		@include media-down(md) {
			right: auto;
			left: 18px;
			top: 23px;
		}
		svg {
			font-size: 16px;
			fill: #6d6961;
			@include media-down(md) {
				font-size: 20px;
				fill: #fff;
			}
		}
	}
	.booking-row {
		display: flex;
		margin: 0 -20px;
		.booking-control {
			width: 50%;
			padding: 0 20px;
			@include media-down(sm) {
				width: 100%;
				padding: 0;
			}
		}
		@include media-down(sm) {
			margin: 0;
			display: block;
		}
	}
	.booking-submit {
		margin-top: 25px;
		@include media-down(sm) {
			text-align: center;
		}
		.booking-row {
			justify-content: flex-end;
		}
		.booking-control {
			margin: 0;
		}
		input[type=submit] {
			width: 100%;
			height: 47px;
			color: #fff;
			border: 0;
			outline: none;
			background: #d4311c;
			text-transform: uppercase;
			font-family: $main_medium;
			font-size: 14px;
			cursor: pointer;
			transition: $d_transition;
			&:hover {
				background: #b11f0c;
			}
			@include media-down(sm) {
				max-width: 280px;
			}
			@include media-down(xs) {
				max-width: none;
			}
		}
	}
}
.jq-selectbox.custom-select {
	display: block;
	.jq-selectbox__select {
		width: 100%;
		display: flex;
		border: 0;
		height: 40px;
		border-radius: 0;
		padding: 0 45px 0 0;
		border-bottom: solid 1px #5e5950;
		color: #dad3c8;
	}
	.jq-selectbox__trigger-arrow {
		right: 0;
		top: 18px;
		border-top: 5px solid #9c968b;
	}
	&.opened {
		.jq-selectbox__select {
			background: none;
			border-color: #fff;
			color: #fff;
			.jq-selectbox__trigger-arrow {
				border-top: 5px solid #d4311c;
			}
		}
	}
	.jq-selectbox__dropdown {
		margin: 4px 0 0;
		border-radius: 0;
	}
	li {
		&:hover {
			background-color: #d4311c;
		}
		&.selected {
			background-color: #aa8c5e;
		}
	}
}