.conference-catalog {
	&.restaurants-catalog {
		background: none;
		padding-bottom: 0;
		.restaurant {
			padding-bottom: 20px;
			@include media-up(lg) {
				padding-bottom: 30px;
			}
			.restaurant-content {
				background: rgba(#fff, 0.83);
				padding: 20px;
				left: 0;
				bottom: 20px;
				top: 20px;
				max-width: 270px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				@include media-up(sm) {
					display: block;
					bottom: auto;
					top: 40px;
					padding: 25px;
					max-width: 390px;
				}
				@include media-up(md) {
					padding: 30px;
					max-width: 600px;
					padding: 35px;
				}
				@include media-up(lg) {
					right: 0;
					max-width: none;
					top: 35px;
					padding: 25px;
				}
				@include media-up(xl) {
					right: auto;
					max-width: 91%;
				}
				@include media-up(lp) {
					max-width: rem(675);
					top: 50px;
					padding: 45px;
				}
			}
			.more {
				text-align: right;
			}
			.time-row {
				text-align: left;
				.title {
					order: 2;
					margin-bottom: 0;
					@include media-up(sm) {
						margin-bottom: 35px;
					}
					@include media-up(lg) {
						margin-bottom: 15px;
					}
					@include media-up(xl) {
						margin-bottom: 35px;
					}
					a {
						font-size: 24px;
						@include media-up(md) {
							font-size: 36px;
						}
						@include media-up(lg) {
							font-size: 24px;
						}
						@include media-up(xl) {
							font-size: 36px;
						}
					}
				}
				.time {
					color: #816e4d;
					font-size: 16px;
					margin-bottom: 0;
					@include media-up(sm) {
						margin-bottom: 10px;
					}
					@include media-up(md) {
						font-size: 24px;
					}
					@include media-up(xl) {
						font-size: 30px;
					}
				}
			}
			.text {
				max-width: none;
				text-align: left;
			}
			.img-block {
				@include media-down(md) {
					height: 510px;
				}
				@include media-down(sm) {
					height: 370px;
				}
				@include media-down(xs) {
					height: 240px;
				}
				img {
					@include media-down(sm) {
					    max-height: 395px;
					}
					@include media-down(xs) {
						max-height: 300px;
					}
				}
			}
			&:nth-child(1) {
				.wrap-restaurant {
					margin: 0;
					padding: 0 15px;
					@include media-up(lg) {
						padding: 0 7.5px;
					}
					@include media-up(lp) {
						padding: 0 15px;
					}
					.text {
						text-align: center;
						@include media-up(lg) {
							max-width: 980px;
						}
					}
					.time {
						color: #fff;
						font-size: 24px;
						@include media-up(lg) {
							font-size: 30px;
						}
					}
					.time-row {
						text-align: center;
						.title {
							@include media-down(xs) {
								margin: 20px 0 40px;
							}
							a {
								@include media-up(lg) {
									font-size: 36px;
								}
								@include media-up(lp) {
									font-size: 72px;
								}
								@include media-down(sm) {
									font-size: 36px;
								}
								@include media-down(xs) {
									font-size: 24px;
								}
							}
						}
					}
				}
				.img-block {
					@include media-down(sm) {
						height: 340px;
					}
					@include media-down(xs) {
					    height: 355px;
					}
					img {
						@include media-down(xs) {
							max-height: 390px;
						}
					}
				}
			}
		}
	}
}
.section-text {
	padding: 20px 0 40px;
	@include media-up(md) {
		padding: 40px 0 60px;
	}
	@include media-up(lg) {
		padding: 30px 0 60px;
	}
	@include media-up(nt) {
		padding: 40px 0 70px;
	}
}