.single-rest {
	.container {
		@include media-down(nt) {
			width: 100%;
		}
	}
	.title-row {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin: 25px 0;
		@include media-up(md) {
			margin: 35px 0;
		}
		@include media-up(lp) {
			margin: 50px 0;
		}
		@include media-down(xs) {
			flex-wrap: wrap;
		}
	}
	.rest-title {
		margin: 0;
		color: #000;
		font-size: 30px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		width: 100%;
		margin: 0 0 30px;
		@include media-up(sm) {
			width: auto;
			text-align: left;
			margin: 0;
		}
		@include media-up(md) {
			font-size: 48px;
		}
	}
	.price-block {
		width: 100%;
		text-align: center;
		@include media-up(sm) {
			text-align: left;
			width: auto;
			flex-shrink: 0;
			margin-left: 55px;
		}
		@include media-up(lg){
			display: none;
		}
		.btn {
			min-width: 240px;
		}
		.price {
			font-size: 14px;
			font-weight: 300;
			margin: 0 0 10px;
			@include media-up(md) {
				font-size: 18px;
			}
			span {
				font-size: 24px;
				font-weight: 500;
				margin: 0 5px;
				@include media-up(md) {
					font-size: 30px;
				}
			}
			b {
				font-weight: 500;
			}
		}
	}
	.rest-info-section {
		position: relative;
		padding: 35px 15px 20px;
		@include media-up(lg) {
			padding: 60px 15px 90px;
			background: url(../img/mramor-bg.png) no-repeat center center;
			background-size: cover;
		}
		@include media-up(nt) {
			padding: 80px 0 105px;
		}
		.single-decorate {
		    font-size: 48px;
		    color: #896e4a;
		    font-family: $marena_font;
		    position: absolute;
		    transform-origin: 0 100%;
		    transform: rotate(90deg) translateY(0);
		    display: none;
		    left: 5%;
		    top: 60px;
		    @media all and (min-width: 1600px) {
		    	display: block;
		    }
		}
	}
	.r-wrap {
		position: relative;
		max-width: 1260px;
		margin: 0 auto;
	}
	.rest-area {
		background: #fff;
		@include media-up(md) {
			border: solid 2px rgba(#9d845e, 0.39);
			padding: 45px 65px 225px 40px;
		}
		@include media-up(lg) {
			padding: 20px 0 35px 25px;
		}
		@include media-up(xl) {
			padding: 50px 0 65px 55px;
		}
		.top-block{
			display: flex;
			.button-order{
				.btn{
					padding: 17px 80px;
				}
			}
		}
		.info-row {
			display: flex;
			align-items: flex-start;
			@include media-down(xs) {
				flex-wrap: wrap;
			}
		}
		.r-area {
			flex-shrink: 0;
			font-weight: 300;
			color: #000;
			font-size: 30px;
			@include media-up(md) {
				font-size: 48px;
			}
			span {
				font-size: 12px;
				@include media-up(md) {
					font-size: 14px;
				}
			}
			@include media-down(xs) {
				width: 100%;
			}
		}
		.r-title {
			font-weight: 500;
			font-size: 30px;
			color: #000;
			margin: 0 0 20px;
			text-transform: uppercase;
			@include media-up(sm) {
				margin: 0 0 30px;
			}
			@include media-up(md) {
				font-size: 48px;
			}
		}
		.work-time{
			color: #896e4a;
			font-family: $marena_font;
			font-size: 24px;
			font-weight: 400;
			padding: 0 0 30px 0;
			@include media-down(xs){
				padding: 0;
				font-size: 18px;
			}
		}
		.r-information {
			padding: 0 0 0 20px;
			max-width: 520px;
			position: relative;
			margin-top: 30px;
			@include media-up(sm) {
				padding: 0 0 0 40px;
				margin: 0;
			}
			@include media-up(md) {
				padding: 0 0 0 30px;
				max-width: 610px;
			}
			@include media-up(lg) {
				max-width: 400px;
			}
			@include media-up(xl) {
				max-width: 485px;
			}
			@include media-up(nt) {
				max-width: 520px;
			}
			&:before {
				content: '';
				width: 1px;
				height: 100px;
				position: absolute;
				top: 0;
				left: 0;
				background: #d8cfbf;
				//@include media-up(sm) {
				//	left: 20px;
				//}
				//@include media-up(md) {
				//	left: 25px;
				//}
			}
			.icons {
				margin: 0 0 30px;
				ul {
					list-style: none;
					padding: 0;
					margin: 0 0 0 -25px;
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					li {
						margin-left: 25px;
						.fi {
							color: #896e4a;
							font-size: 30px;
						}
					}
				}
			}
			.r-text {
				color: #484747;
				font-size: 14px;
				font-weight: 300;
				line-height: 30px;
				@include media-up(md) {
					font-size: 16px;
				}
			}
		}
	}
	.accommodations-bg{
		background-color: #dccebd;
		width: 35%;
		height: 390px;
		position: absolute;
		right: 40px;
		@include media-up(lg) {
			position: absolute;
			width: 35%;
			right: 20px;
			top: 90px;
		}
		@include media-up(nt) {
			top: 110px;
			width: 35%;
			right: 40px;
		}
	}
	.accommodations-block {
		background: #fff;
		box-shadow: 0 0 45px 0 rgba(0,0,0,.2),
					20px -25px 0px 0px rgba(215,205,188,1);
		padding: 20px;
		margin: 35px 0 0;
		@include media-down(xs){
			box-shadow: 0 0 45px 0 rgba(0,0,0,.2),
			10px -10px 0px 0px rgba(215,205,188,1);
			padding: 35px 35px 100px;
		}
		@include media-up(sm) {
			padding: 35px 35px 100px;
			margin: 30px 0 0;
			box-shadow: 0 0 45px 0 rgba(0,0,0,.2),
			10px -10px 0px 0px rgba(215,205,188,1);
		}
		@include media-up(md) {
			max-width: 457px;
			margin: -160px auto 80px 200px;
			padding: 45px 45px 120px;
			box-shadow: 0 0 45px 0 rgba(0,0,0,.2),
			20px -25px 0px 0px rgba(215,205,188,1);
		}
		@include media-up(lg) {
			position: absolute;
			width: 37%;
			right: 60px;
			top: 110px;
			padding: 30px;
			margin: 0;
			box-shadow: 0 0 45px 0 rgba(0,0,0,.2),
			20px -25px 0px 0px rgba(215,205,188,1);
		}
		@include media-up(xl) {
			padding: 40px;
			width: 430px;
			box-shadow: 0 0 45px 0 rgba(0,0,0,.2),
			20px -25px 0px 0px rgba(215,205,188,1);
		}
		@include media-up(nt) {
			right: 60px;
			top: 135px;
			width: 455px;
			box-shadow: 0 0 45px 0 rgba(0,0,0,.2),
			20px -25px 0px 0px rgba(215,205,188,1);
		}
		.ac-title {
			font-size: 16px;
			color: #000;
			text-transform: uppercase;
			margin: 0 0 15px;
			@include media-up(md) {
				font-size: 24px;
				margin: 0 0 25px;
			}
		}
		.ac-text {
			font-size: 14px;
			color: #484747;
			line-height: 30px;
			@include media-up(md) {
				font-size: 16px;
			}
		}
		ul {
			list-style: none;
			margin: 25px 0 0;
			padding: 0;
			line-height: normal;
			li {
				padding-left: 25px;
				position: relative;
				&:before {
					content: '';
				    width: 7px;
				    height: 7px;
				    position: absolute;
				    left: 0;
				    border-radius: 20px;
				    top: 5px;
				    border: solid 1px #000;
				}
				& + li {
					margin-top: 20px;
				}
			}
		}
		.more{
			float: right;
			margin-top: 60px;
			@include media-up(md) {
				margin-top: 40px;
			}
			@include media-up(sm) {
				margin-top: 30px;
			}
			@include media-down(xs) {
				margin-top: 30px;
			}
		}
		.accommodations-button{
			display: flex;
			justify-content: center;
			@include media-up(xs){
				display: none;
			}
			@include media-up(lg){
				display: flex;
			}
			.button-order{
				position: absolute;
				top: -90px;
				.btn{
					padding: 17px 80px;
				}
			}
		}
	}
	.text-block {
		@include media-up(xl) {
			padding: 45px 0 75px;
		}
	}
}
.single-rest-slider {
	position: relative;
	padding: 0 15px;
	@include media-up(lp) {
		padding: 0 30px;
	}
	.slider-controls {
		bottom: 30px;
		@include media-up(lg) {
			bottom: 40px;
		}
	}
}
.rooms-navigation {
	margin-top: 15px;
	.container {
		@include media-down(md) {
			width: 100%;
		}
	}
	.nav-row {
		border-top: solid 1px #e1dcd3;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25px 0;
		@include media-up(sm) {
			padding: 30px 0;
		}
		@include media-up(lg) {
			padding: 60px 0 100px;
		}
		a {
			display: flex;
			align-items: center;
			text-decoration: none;
			font-size: 16px;
			color: #896e4a;
			transition: $d_transition;
			span {
				padding: 0 20px;
				display: none;
				@include media-up(lg) {
					display: block;
				}
			}
			svg {
				font-size: 34px;
				opacity: 0.66;
				transition: $d_transition;
			}
			&:hover {
				svg {
					opacity: 1;
				}
			}
		}
	}
}