.services-catalog {
	display: flex;
	flex-direction: column;
	@include media-up(lg) {
		padding: 0 10px;
	}
	@include media-down(md) {
		max-width: 768px;
		margin: 0 auto;	
	}
	@include media-down(sm) {
		max-width: 568px;
	}
	@include media-down(xs) {
		max-width: 320px;
	}
	/* DEFAULT STYLES FOR SERVICE ELEMENT
   	========================================================================== */
	.service {
		padding: 0 15px 20px;
		height: 165px;
		@include media-up(sm) {
			height: 285px;
		}
		@include media-up(md) {
			height: 385px;
		}
		@include media-up(lg) {
			height: 300px;
			width: 50%;
			padding: 0 10px 20px;
		}
		@include media-up(lp) {
			height: rem(390);
		}
		.service-wrap {
			height: 100%;
			position: relative;
		}
		.img-block {
			height: 100%;
			width: 100%;
			position: relative;
			overflow: hidden;
			img {
				height: auto;
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				max-width: none;
				top: -100%;
				left: -100%;
				bottom: -100%;
				right: -100%;
				margin: auto;
				max-height: 300px;
				@include media-up(sm) {
					max-height: 480px;
				}
				@include media-up(md) {
					max-height: 600px;
				}
				@include media-up(lg) {
					max-height: 530px;
				}
				@include media-up(lp) {
					max-height: rem(770);
				}
			}
		}
		.service-content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: background 0.3s ease;
			color: #fff;
			display: flex;
			align-items: flex-end;
			overflow: hidden;
			/* STYLES WHEN HOVERED BLOCK
			   ========================================================================== */
			&:hover {
				@include media-up(xl) {
					// background: rgba(#000, 0.7);
				}
				.overlay {
					opacity: 0.8;
				}
				.top-content {
					transform: translateY(0);
					transition: all 0.3s ease;
				}
				.more {
					transform: translateX(0);
					opacity: 1;
					transition: all 0.3s ease 0.3s;
				}
				.text {
					opacity: 1;
					transform: translateX(0);
					position: relative;
					transition: all 0.3s ease 0.3s;
					font-weight: 300;
				}
				.title-block {
					transform: translateY(0);
					transition: all 0.3s ease;
					@include media-up(xl) {
						padding: 25px 30px 10px;
					}
					@media all and (min-width: 1600px) {
						padding: rem(80) rem(40) rem(25);
					}
				}
			}
			/* STYLES FOR DEFAULT SMALL ELEMENTS
			   ========================================================================== */
		   	.overlay {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%);
				opacity: 1;
				transition: all 0.3s ease;
				opacity: 0.6;
			}
			.top-content {
				height: 100%;
				transition: all 0.3s ease 0.3s;
				width: 100%;
				z-index: 1;
				@include media-up(xl) {
					transform: translateY(100%);
				}
			}
			.title-block {
				padding: 20px 20px 30px;
				transition: all 0.3s ease 0.3s;
				@include media-up(sm) {
					padding: 25px 25px 15px;
				}
				@include media-up(md) {
					padding: 35px 35px 20px;
				}
				@include media-up(lg) {
					padding: 25px 30px 10px;
				}
				@include media-up(xl) {
					transform: translateY(-100%);
					padding: 25px 30px 30px;
				}
				@include media-up(lp) {
					padding: rem(80) rem(40) rem(40);
				}
				.d-hotel {
					font-family: $marena_font;
					font-size: 16px;
					color: #fff;
				    margin-bottom: 10px;
				    @include media-up(md) {
				    	font-size: 20px;
				    	margin-bottom: 35px;
				    }
				    @include media-up(lg) {
				    	margin-bottom: 15px;	
				    }
				    @include media-up(lp) {
				    	margin-bottom: rem(30);
				    }
				}
				.name {
					color: #fff;
					font-size: 18px;
					font-weight: 500;
					text-transform: uppercase;
					@include media-up(sm) {
						font-size: 24px;
					}
					@include media-up(md) {
						font-size: 36px;
					}
					@include media-up(lg) {
						font-size: 24px;
					}
					@include media-up(lp) {
						font-size: rem(36);
					}
				}
			}
			.more {
				position: absolute;
				left: 0;
				bottom: 0;
				padding: 0 0 20px 20px;
				transition: all 0.3s ease;
				z-index: 1;
				@include media-up(sm) {
					padding: 0 0 25px 25px;
				}
				@include media-up(md) {
					padding: 0 0 55px 35px;
				}
				@include media-up(lg) {
					padding: 0 0 25px 30px;
				}
				@include media-up(xl) {
					transform: translateX(-200px);
					opacity: 0;
				}
				@include media-up(lp) {
					padding: 0 0 rem(30) rem(40);
				}
				a {
					color: #fff;
					text-decoration: none;
					vertical-align: middle;
					font-size: 16px;
					transition: $d_transition;
					&:hover {
						span {
							width: 66px;
						}
					}
					span {
						width: 40px;
						height: 12px;
						overflow: hidden;
						display: inline-flex;
						margin-left: 15px;
						transition: width 0.3s ease;
						position: relative;
					}
					svg {
						font-size: 11px;
					    vertical-align: middle;
					    position: absolute;
					    right: 0;
					    top: 0;
					    fill: #fff;
					    transition: $d_transition;
					}
				}
			}
			.text {
				transition: all 0.3s ease;
				padding: 0 30px;
				width: 100%;
				color: #fff;
				font-size: 14px;
				line-height: 30px;
				display: none;
				@include media-up(sm) {
					display: block;
					padding: 0 25px;
					overflow: hidden;
    				max-height: 88px;
				}
				@include media-up(md) {
					padding: 0 35px;
					font-size: 16px;
				}
				@include media-up(lg) {
					padding: 0 30px;
				}
				@include media-up(xl) {
					transform: translateX(200px);
					opacity: 0;
				}
				@include media-up(lp) {
					padding: 0 rem(40);
				}
			}
		}
		/* STYLES FOR NTH_CHILDS SERVICE BLOCKS FOR MOBILE
		   ========================================================================== */
		&:nth-child(2) {
			@include media-up(lg) {
				align-self: flex-start;
			}
		}
		&:nth-child(3) {
			@include media-up(lg) {
				align-self: flex-end;
				margin-left: -50%;
			}
		}
		&:nth-child(5n+1) {
			@include media-down(md) {
				height: 640px;
			}
			@include media-down(sm) {
				height: 440px;
			}
			@include media-down(xs) {
				height: 290px;
			}
			/* STYLES FOR MOBILE BLOCKS
			   ========================================================================== */
			@include media-down(md) {
				.img-block {
			   		img {
		   				max-height: 690px;
		   				@include media-down(sm) {
		   					max-height: 450px;
		   				}
		   				@include media-down(xs) {
		   					max-height: 290px;
		   				}
			   		}
			   	}
				.service-content {
					right: 15px;
					left: 15px;
					bottom: 70px;
					background: rgba(#fff, 0.83);
					height: auto;
					top: auto;
					display: block;
					text-align: center;
					@include media-down(sm) {
						right: 30px;
						left: 30px;
						bottom: 50px;
					}
					@include media-down(xs) {
						right: 10px;
						left: 10px;
						bottom: 10px;
					}
					.top-content {
				   		transform: translateY(0);
				   	}
				   	.title-block {
				   		transform: translateY(0);
				   		@include media-down(xs) {
				   			padding-bottom: 25px;
				   		}	
				   		.d-hotel {
				   			font-size: 24px;
				   			color: #816e4d;
				   			margin-bottom: 25px;
				   			@include media-down(sm) {
				   				font-size: 16px;
				   			}
				   			@include media-down(xs) {
				   				margin-bottom: 10px;
				   			}
				   		}
				   		.name {
				   			color: #000;
				   			font-size: 36px;
				   			@include media-down(sm) {
				   				font-size: 24px;
				   			}
				   		}
				   	}
				   	.more {
				   		transform: translateX(0);
						opacity: 1;
						position: static;
						text-align: center;
						padding: 0 0 30px;
				   	}
				   	.spec-more {
				   		color: #816e4d;
				   		padding: 12px 50px;
				   		border: solid 2px #816e4d;
				   		text-align: center;
				   		justify-content: center;
				   		display: inline-block;
				   		span {
				   			display: none;
				   		}
				   	}
				   	.text {
				   		transform: translateX(0);
						opacity: 1;
						color: #000;
						margin-bottom: 30px;
				   	}
			   	}
			   	.overlay {
			   		display: none;
			   	}
			}
		}
	}
	.service-row {
		display: flex;
		@include media-down(md) {
			flex-direction: column;
		}
		/* STYLES FOR ODD SERVICE ROW
		   ========================================================================== */
		&:nth-child(odd) {
			.service {
				&:first-child {
					@include media-up(lg) {
						height: 600px;
					}
					@include media-up(lp) {
						height: rem(780);
					}
					/* STYLES FOR CONTENT AREA FOR BIG BLOCK
					   ========================================================================== */
				   	@include media-up(lg) {
				   		.service-content {
							right: 30px;
							left: 30px;
							bottom: 60px;
							background: rgba(#fff, 0.83);
							height: auto;
							top: auto;
							display: block;
							text-align: center;
							&:hover {
								.title-block {
									@include media-up(lp) {
										padding-bottom: 20px !important;
							   			padding-top: 35px !important;
									}
								}
							}
							@include media-up(lp) {
								right: rem(105);
								left: rem(105);
								top: 50%;
								transform: translateY(-50%);
								bottom: auto;
							}
							.top-content {
						   		transform: translateY(0);
						   	}
						   	.title-block {
						   		transform: translateY(0);
						   		padding-bottom: 20px;
						   		padding-top: 35px;
						   		.d-hotel {
						   			font-size: 24px;
						   			color: #816e4d;
						   			margin-bottom: 20px;
						   		}
						   		.name {
									color: #000;
									font-size: 36px;
						   		}
						   	}
						   	.more {
						   		transform: translateX(0);
								opacity: 1;
								position: static;
								text-align: center;
								padding: 0 0 45px;
								span {
									display: none;
								}
								.spec-more {
									display: inline-flex;
									text-align: center;
									justify-content: center;
									color: #896e4a;
									padding: 18px 50px;
									background: transparent;
									cursor: pointer;
									outline: none;
									position: relative;
									font-size: 16px;
									transition: $d_transition;
									text-decoration: none;
									outline: none;
									position: relative !important;
									z-index: 1;
									&:before {
										content: '';
										position: absolute;
										top: 0;
										left: 0;
										width: 100%;
										height: 100%;
										border-radius: inherit;
										z-index: -1;
										box-shadow: inset 0 0 0 2px #896e4a;
										transition: box-shadow 0.3s, transform 0.3s;
										@include media-up(md) {
											transform: scale3d(1, 0.8, 1);
										}
									}
									&:hover,
									&:focus {
										&:before {
											transform: scale3d(1, 1, 1);
										}
									}
								}
						   	}
						   	.text {
						   		transform: translateX(0);
								opacity: 1;
								color: #000;
					   			margin-bottom: 20px;
					   			font-weight: 300;
					   			@include media-up(lp) {
					   				padding: 0 rem(30) !important;
					   			}
						   	}
					   	}
					   	.img-block {
					   		img {
					   			max-height: 600px;
					   			@include media-up(lp) {
					   				max-height: rem(780);
					   			}
					   		}
					   	}
					   	.overlay {
					   		display: none;
					   	}
				   	}
				}
			}
		}
		/* STYLES FOR EVEN SERVICE ROW
		   ========================================================================== */
		&:nth-child(even) {
			.service {
				/* STYLES FOR BIG ELEMENT ON DESKTOP
				   ========================================================================== */
				&:nth-child(2) {
					@include media-up(lg) {
						order: 3;
						height: 600px;
					}
					@include media-up(lp) {
						height: rem(780);
					}
					/* STYLES FOR CONTENT AREA FOR BIG BLOCK
					   ========================================================================== */
				   	@include media-up(lg) {
				   		.service-content {
							right: 30px;
							left: 30px;
							bottom: 60px;
							background: rgba(#fff, 0.83);
							height: auto;
							top: auto;
							display: block;
							text-align: center;
							&:hover {
								.title-block {
									@include media-up(lp) {
										padding-bottom: 20px !important;
							   			padding-top: 35px !important;
									}
								}
							}
							@include media-up(lp) {
								right: rem(105);
								left: rem(105);
								top: 50%;
								transform: translateY(-50%);
								bottom: auto;
							}
							.top-content {
						   		transform: translateY(0);
						   	}
						   	.title-block {
						   		transform: translateY(0);
						   		padding-bottom: 20px;
						   		padding-top: 35px;
						   		.d-hotel {
						   			font-size: 24px;
						   			color: #816e4d;
						   			margin-bottom: 20px;
						   		}
						   		.name {
									color: #000;
									font-size: 36px;
						   		}
						   	}
						   	.more {
						   		transform: translateX(0);
								opacity: 1;
								position: static;
								text-align: center;
								padding: 0 0 45px;
								span {
									display: none;
								}
								.spec-more {
									display: inline-flex;
									text-align: center;
									justify-content: center;
									color: #896e4a;
									padding: 18px 50px;
									background: transparent;
									cursor: pointer;
									outline: none;
									position: relative;
									font-size: 16px;
									transition: $d_transition;
									text-decoration: none;
									outline: none;
									position: relative !important;
									z-index: 1;
									&:before {
										content: '';
										position: absolute;
										top: 0;
										left: 0;
										width: 100%;
										height: 100%;
										border-radius: inherit;
										z-index: -1;
										box-shadow: inset 0 0 0 2px #896e4a;
										transition: box-shadow 0.3s, transform 0.3s;
										@include media-up(md) {
											transform: scale3d(1, 0.8, 1);
										}
									}
									&:hover,
									&:focus {
										&:before {
											transform: scale3d(1, 1, 1);
										}
									}
								}
						   	}
						   	.text {
						   		transform: translateX(0);
								opacity: 1;
								color: #000;
					   			margin-bottom: 20px;
					   			font-weight: 300;
					   			@include media-up(lp) {
					   				padding: 0 rem(30) !important;
					   			}
						   	}
					   	}
					   	.img-block {
					   		img {
					   			max-height: 600px;
					   			@include media-up(lp) {
					   				max-height: rem(780);
					   			}
					   		}
					   	}
					   	.overlay {
					   		display: none;
					   	}
				   	}
				}
			}
		}
	}
}
.more-services {
	text-align: center;
	padding: 15px 0 35px;
	@include media-up(sm) {
		padding: 30px 0 55px;
	}
	@include media-up(lp) {
		padding: 60px 0 90px;
	}
}