.text-page {
	@include media-up(md) {
		padding: 60px 0;
	}
	.img-section {
		margin: 0 auto;
		max-width: 568px;
		@include media-up(md) {
			max-width: 768px;
		}
		@include media-up(lg) {
			max-width: none;
			margin: 0 0 45px;
		}
		@include media-up(xl) {
			display: flex;
		}
		.img-block {
			position: relative;
			overflow: hidden;
			height: 340px;
			@include media-up(sm) {
				height: 385px;
			}
			@include media-up(md) {
				height: 515px;
			}
			@include media-up(lg) {
				width: 54.5%;
				height: 430px;
				float: left;
				margin: 0 20px 0 0;
			}
			@include media-up(xl) {
				height: 630px;
				float: none;
				flex-shrink: 0;
				margin: 0;
			}
			@include media-up(lp) {
				width: 49.5%;
			}
			img {
				display: block;
				margin: auto;
				position: absolute;
				top: -100%;
				right: -100%;
				bottom: -100%;
				left: -100%;
				min-width: 100%;
				min-height: 100%;
				max-width: none;
				height: auto;
				max-height: 360px;
				@include media-up(sm) {
					max-height: 405px;
				}
				@include media-up(md) {
					max-height: 540px;
				}
				@include media-up(lg) {
					max-height: 470px;
				}
				@include media-up(xl) {
					max-height: none;
				}
			}
		}
		.text-area {
			padding: 30px 15px;
			@include media-up(sm) {
				padding: 45px 15px;
			}
			@include media-up(lg) {
				padding: 15px 15px 0;
			}
			@include media-up(xl) {
				padding: 50px 20px 0 50px;
			}
			@media all and (min-width: 1600px) {
				padding: rem(50) rem(230) 0 rem(185);
			}
			.t-title {
				color: #000;
				font-size: 20px;
				font-weight: 600;
				line-height: normal;
				text-transform: uppercase;
				margin: 0 0 20px;
				@include media-up(md) {
					font-size: 24px;
				}
				@include media-up(xl) {
					margin: 0 0 30px;
				}
			}
		}
	}
	.text {
		line-height: 30px;
		font-weight: 300;
		font-size: 14px;
		@include media-up(md) {
			font-size: 16px;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 20px 0;
		display: flex;
		flex-wrap: wrap;
		max-width: 900px;
		@include media-up(md) {
			margin: 30px 0 30px -20px;
		}
		@include media-up(lp) {
			margin: 40px 0 40px -20px;
		}
		li {
			width: 100%;
			font-size: 14px;
			color: #333;
			line-height: normal;
			padding: 0 0 20px 25px;
			position: relative;
			font-weight: 300;
			@include media-up(sm) {
				width: 350px;
			}
			@include media-up(md) {
				margin-left: 20px;
				font-size: 16px;
				line-height: 30px;
			}
			@include media-up(lg) {
				width: 430px;
			}
			&:before {
				content: '';
				width: 7px;
				height: 7px;
				position: absolute;
				top: 7px;
				@include media-up(md) {
					top: 10px;
				}
				left: 0;
				border: solid 1px #000;
				border-radius: 10px;
			}
		}
	}
	.table-section {
		padding: 45px 0;
		position: relative;
		background: url(../img/restaurant-section-bg.png) no-repeat center center;
		background-size: cover;
		position: relative;
		@include media-up(lg) {
			min-height: 480px;
		}
		@include media-up(md) {
			padding: 60px 0;
		}
		@include media-up(lg) {
			padding: 90px 0;
		}
		.single-decorate {
			font-size: 48px;
		    color: #896e4a;
		    font-family: $marena_font;
		    position: absolute;
		    transform-origin: 0 100%;
		    transform: rotate(90deg) translateY(0);
		    display: none;
		    left: 20px;
			top: -15px;
		    @include media-up(nt) {
		    	display: block;
		    }
		    @media all and (min-width: 1600px) {
		    	left: rem(110);
		    }
		}
	}
	.blockquote-section {
		@include media-down(sm) {
			padding: 0 0 40px;
		}
	}
	.quote-row {
		margin: 15px 0;
		@include media-up(md) {
			margin: 30px 0;
		}
		@include media-up(xl) {
			display: flex;
		}
		blockquote {
			margin: 15px 0;
			@include media-up(md) {
				margin: 25px 0;
			}
			@include media-up(xl) {
				margin: 0 0 0 30px;
				width: 560px;
				flex-shrink: 0;
			}
		}
	}
	blockquote {
		margin: 20px 0;
		color: #896e4a;
		line-height: 36px;
		font-family: $marena_font;
		font-size: 24px;
		@include media-up(md) {
			font-size: 30px;
		}
	}
}
.blockquote-line {
	position: relative;
	margin: 0 0 30px;
	overflow: hidden;
	padding-top: 5px;
	@include media-up(xl) {
		margin: 0 0 60px;
	}
	span {
		font-family: $marena_font;
		color: #bda990;
		font-size: 24px;
		position: relative;
		margin-left: 60px;
		display: inline-block;
		padding: 0 10px;
		@include media-up(sm) {
			padding: 0 20px;
			margin-left: 130px;
		}
		&:before {
			content: '';
			height: 2px;
			width: 200px;
			display: block;
			position: absolute;
			right: 100%;
			top: 8px;
			background: #bda990;
		}
		&:after {
			content: '';
			height: 2px;
			width: 1200px;
			position: absolute;
			left: 100%;
			top: 8px;
			background: #bda990;
		}
	}
}
.table {
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
    border-collapse: collapse;
    background: #fff;
    border: solid 2px #dbcdba;
    th {
		padding: 25px 15px;
		text-align: center;
		color: #000;
		font-size: 18px;
		background: #faf8f5;
		font-weight: 500;
		border: solid 1px #dbcdba;
    }
    td {
    	padding: 25px 15px;
    	font-size: 16px;
    	font-weight: 300;
    	border-bottom: solid 1px #dbcdba;
		@include media-up(sm) {
			border: solid 1px #dbcdba;
		}
    }
    tr:last-child {
		td:last-child {
			@include media-down(xs) {
				border: 0;
			}
		}
    }
    thead {
    	@include media-down(xs) {
			display: none !important;
		}
    }
    tbody {
    	td {
    		@include media-down(xs) {
    			display: block !important;
    		}
    	}
    }
    .mobile_th {
    	display: none !important;
    	padding: 25px 15px;
		text-align: center;
		color: #000;
		font-size: 18px;
		background: #faf8f5;
		font-weight: 500;
    	@include media-down(xs) {
    		display: block !important;
    	}
    }
}
.u-title {
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 0 20px;
	@include media-up(md) {
		font-size: 30px;
		margin: 0 0 30px;
	}
}
.ul-section	{
	&.ul-block {
		padding: 40px 0 10px;
		ul {
			max-width: none;
			li {
				width: 100%;
				line-height: 30px;
				padding-bottom: 10px;
				&:before {
					top: 11px;
				}
			}
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 20px 0;
		display: flex;
		flex-wrap: wrap;
		max-width: 900px;
		@include media-up(md) {
			margin: 30px 0 30px -20px;
		}
		@include media-up(lp) {
			margin: 40px 0 40px -20px;
		}
		li {
			width: 100%;
			font-size: 14px;
			color: #333;
			line-height: normal;
			padding: 0 0 10px 25px;
			position: relative;
			font-weight: 300;
			@include media-up(sm) {
				width: 350px;
			}
			@include media-up(md) {
				margin-left: 20px;
				font-size: 16px;
				line-height: 30px;
			}
			@include media-up(lg) {
				width: 430px;
			}
			&:before {
				content: '';
				width: 7px;
				height: 7px;
				position: absolute;
				top: 7px;
				@include media-up(md) {
					top: 10px;
				}
				left: 0;
				border: solid 1px #000;
				border-radius: 10px;
			}
		}
	}
}