.additional-section {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	position: relative;
	@include media-up(md) {
		height: 96px;
		display: flex;
		align-items: center;
	    min-width: 0;
	    min-height: 0;
	    justify-content: space-between;
	}
	@include media-up(lg) {
		position: fixed;
		top: 95px;
		width: 100%;
		left: 0;
		z-index: 100;
		background: #fff;
	}
	@include media-up(lp) {
		top: 120px;
	}
	.a-title {
		position: absolute;
		left: 0;
		top: 0;
		height: 96px;
		width: 215px;
		padding: 15px 30px;
		flex-shrink: 0;
		text-transform: uppercase;
		font-size: 15px;
		font-weight: 500;
		background: #9a7f45;
		align-items: center;
		justify-content: center;
		color: #fff;
		margin-right: 20px;
		display: none;
		letter-spacing: 0.05em;
		@include media-up(xl) {
			display: inline-flex;
		}
	}
	.btn {
		color: #000;
	}
	.additional-nav {
		position: relative;
		@include media-up(md) {
			flex: 0 auto;
			min-width: 0;
		}
		&:after {
			@include media-up(md) {
				content: '';
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				background: #bbbac7;
				z-index: -1;
			}
		}
		.item {
			outline: none;
			.slide-wrap {
				position: relative;
				&:before {
					@include media-up(md) {
						content:'';
						width: 1px;
						height: 36px;
						background: rgba(#31303d, 0.11);
						position: absolute;
						right: 0;
						top: 3px;
						display: block;
					}
				}
			}
			a {
				outline: none;
				display: block;
				text-decoration: none;
				transition: $d_transition;
				font-size: 16px;
				color: #363636;
				padding: 25px 15px;
				@include media-up(md) {
					padding: 13px 25px 20px;
					border-bottom: solid 5px transparent;
					font-size: 14px;
				}
				@include media-up(nt) {
					font-size: 15px;
				}
				@include media-up(lp) {
					font-size: 16px;
				}
				&:hover {
					color: #a5803f;
				}
			}
			&.slick-current {
				a {
					border-color: #9a7f45;
				}
			}
		}
	}
	.additional-menu {
		padding: 0 64px 0 0;
		position: relative;
		@include media-up(md) {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0 50px;
			margin: 0 15px 0 15px;
			min-width: 0;
	    	min-height: 0;
		}
		@include media-up(xl) {
			margin: 0 15px 0 235px;
		}
		@include media-up(lp) {
			margin: 0 15px 0 235px;
			max-width: 1400px;
		}
	}
	.additional-controls {
		position: absolute;
		top: 50%;
		margin-top: -17px;
		width: 100%;
		left: 0;
		span {
            width: 34px;
            height: 34px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            border: solid 2px rgba(#916d2d, 0.6);
            transition: $d_transition;
            cursor: pointer;
            position: absolute;
            top: 0;
            &.prev {
            	left: 0;
            	@include media-down(sm) {
            		display: none;
            	}
            }
            &.next {
            	right: 0;
            	@include media-down(sm) {
            		right: 15px;
            	}
            }
            &:hover {
                background: #a5803f;
                border-color: #a5803f;
                svg {
                    fill: #fff;
                }
            }
            svg {
                fill: #916d2d;
                font-size: 10px;
                transition: $d_transition;
            }
        }
	}
	.prices-link {
		@include media-up(md) {
	    	margin-right: 15px;
	    	margin-left: 15px;
	    	flex-shrink: 0;
		}
		@include media-up(lp) {
			margin-right: 20px;
			margin-left: 140px;
		}
		@include media-down(sm) {
			width: 100%;
			display: flex;
			background: #a5803f;
			color: #fff;
		}
	}
}