footer{
	background-color: #2e2c3b;
	color: #fff;
	padding: 30px 0;
	@include media-up(lg) {
		padding: 30px 0 20px;
	}
}
.footer-container {
	max-width: 568px;
	padding: 0 15px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	@include media-up(md) {
		max-width: 768px;
	}
	@include media-up(lg) {
		max-width: 970px;
	}
	@include media-up(xl) {
		max-width: 1170px;
	}
	@include media-up(nt) {
		max-width: 1366px;
	}
	@include media-up(lp) {
		max-width: 1430px;
	}
}
.foot-logo {
	@include media-down(sm) {
		padding-bottom: 140px;
	}
	img {
		max-width: 165px;
		@include media-up(md) {
			max-width: 140px;
		}
		@include media-up(lg) {
			max-width: 175px;
		}
	}
}
.top-footer {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@include media-down(sm) {
		flex-direction: column;
		align-items: center;
	}
}
.foot-links {
	max-width: 550px;
	padding: 0 25px;
	width: 100%;
	display: none;
	@include media-up(nt) {
		display: block;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		li {
			padding: 0 15px 20px;
			width: 33.333%;
			@include media-up(lp) {
				padding: 0 25px 20px;
			}
			a {
				color: #fff;
				font-size: 16px;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
.call-block {
	@include media-down(xs) {
		width: 100%;
	}
	.tel {
		margin-bottom: 15px;
		@include media-up(md) {
			text-align: center;
			margin-bottom: 20px;
		}
		a {
			color: #fff;
			font-size: 16px;
			font-weight: 500;
			text-decoration: none;
			position: relative;
			display: inline-flex;
			padding-left: 30px;
			@include media-up(md) {
				font-size: 18px;
			}
			svg {
				fill: #fff;
				position: absolute;
				left: 0;
				top: 0;
				font-size: 20px;
				@include media-up(md) {
					font-size: 22px;
				}
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.call-btn {
	a {
		display: inline-flex;
		height: 58px;
		width: 100%;
		align-items: center;
		justify-content: center;
		background: #9a7f45;
		color: #fff;
		font-weight: 500;
		font-size: 13px;
		text-transform: uppercase;
		text-decoration: none;
		border: solid 2px #9a7f45;
		letter-spacing: 0.05em;
		transition: $d_transition;
		&:hover {
			background: none;
		}
		@include media-up(sm) {
			width: 255px;
		}
		@include media-up(md) {
			width: 265px;
		}
	}
}
.subscribe-block {
	@include media-up(md) {
		margin-left: 20px;
	}
	@include media-up(lg) {
		margin-left: 30px;
	}
	@include media-down(xs) {
		order: -1;
		margin-bottom: 35px;
		width: 100%;
	}
	.s-title {
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 20px;
	}
	.sub-control {
		position: relative;
		input {
			height: 58px;
			width: 100%;
			padding-left: 20px;
			padding-right: 70px;
			background: #fff;
			outline: none;
			border: 0;
			@include media-up(sm) {
				width: 255px;
			}
			@include media-up(md) {
				width: 265px;
			}
			@include media-up(lg) {
				width: 355px;
			}
		}
		button {
			position: absolute;
			right: 0;
			top: 0;
			height: 58px;
			width: 65px;
			background: #9a7f45;
			border: 0;
			outline: none;
			cursor: pointer;
			transition: $d_transition;
			&:hover {
				background: #806734;
			}
			svg {
				fill: #fff;
				font-size: 14px;
			}
		}
		label.error {
			font-size: 14px;
			color: #000;
			font-weight: 300;
			background-color: #fff;
			position: absolute;
			top: 100%;
			left: 0;
			transform: translate(0,13px);
			padding: 13px 13px 13px 45px;
			border: solid 1px #a5803f;
			display: block;
			z-index: 1;
			min-width: 208px;
			background-image: url(../img/info-ico.png);
			background-position: 12px center;
			background-repeat: no-repeat;
			display: none;
			&:before, 
			&:after {
				content: ''; 
				position: absolute;
				left: 50%; 
				margin-left: -10px;
				top: -20px;
				border: 10px solid transparent; 
				border-bottom: 10px solid #a5803f;
			}
			&:after {
				border-bottom: 10px solid #fff;
				top: -18px; 
			}
		}
	}
}
.blocks-wrap {
	display: flex;
	align-items: flex-end;
	@include media-down(sm) {
		justify-content: space-between;
	}
	@include media-down(xs) {
		flex-direction: column;
	}
}
.sections-blocks {
	position: relative;
	@include media-down(sm) {
		width: 100%;
	}
}
.socials-block {
	width: 650px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		li {
			margin-right: 10px;
			position: relative;
			z-index: 10;
			@include media-up(sm) {
				margin-right: 15px;
			}
			a {
				width: 39px;
				height: 39px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border-radius: 50px;
				border: solid 2px rgba(#fff,0.57);
				transition: $d_transition;
				&:hover {
					border-color: #9a7f45;
					background: #9a7f45;
					svg {
						fill: #fff;
					}
				}
				svg {
					fill: #fff;
					font-size: 19px;
					transition: $d_transition;
				}
				.icon-vk {
					font-size: 12px;
				}
				.icon-youtube {
					font-size: 15px;
				}
				.icon-tripadvisor {
					font-size: 25px;
				}
			}
		}
	}
}
.partners {
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	justify-content: center;
	left: 0;
	top: 135px;
	@include media-up(md) {
		position: relative;
		top: 0;
		justify-content: flex-start;
		padding-right: 50px;
		width: auto;
	}
	@include media-up(xl) {
		margin-left: 175px;
		padding: 0 50px;
	}
	@include media-up(nt) {
		padding: 0 80px;
	}
	@include media-up(lp) {
		padding: 0 65px;
	}
	a {
		display: inline-block;
		position: relative;
		z-index: 10;
		& + a {
			margin-left: 30px;
		}
	}
}
.middle-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	@include media-up(xl) {
		padding-top: 0;
	}
}
.copy, 
.develop {
	@include media-up(sm) {
		max-width: 220px;
	}
}
.bottom-footer {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color: #fff;
	width: 100%;
	padding-top: 30px;
	@include media-up(md) {
		font-size: 14px;
	}
	@include media-up(xl) {
		position: absolute;
		left: 0;
		bottom: 30px;
		padding: 0 15px;
	}
	@include media-down(xs) {
		flex-direction: column;
	}
	.develop {
		@include media-down(xs) {
			padding-top: 15px;
		}
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}