#map {
	height: 470px;
	@include media-up(md) {
		height: 580px;
	}
	@include media-up(lg) {
		height: 650px;
	}
}
.map-area {
	padding: 5px 0;
	.map-wrap {
		position: relative;
	}
	.maps-info {
		position: absolute;
		left: 0;
		z-index: 10;
		bottom: 0;
		height: auto;
		width: 100%;
		background: url(../img/pattern.png);
		@include media-up(lg) {
			height: 100%;
			width: 420px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 30px 55px;
			top: 0;
			bottom: auto;
		}
		@include media-up(nt) {
			width: 28.5%;
		}
		@include media-up(lp) {
			width: 420px;

		}
	}
	.i-title {
		font-size: 24px;
		color: #fff;
		margin: 0 0 65px;
		display: none;
		@include media-up(lg) {
			display: block;
		}
	}
	.nav-tabs {
		list-style: none;
		padding: 0;
		margin: 0;
		@include media-down(md) {
			display: flex;
		}
		li {
			@include media-down(md) {
				width: 33.333%;
			}
			&.active,
			&:hover {
				.circle {
					border-color: rgba(#a5803f, 0.4);
				}
				svg {
					fill: #a5803f;
				}
				a {
					color: #a5803f;
				}
			}
			.circle {
				flex-shrink: 0;
				transition: $d_transition;
				@include media-up(lg) {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 69px;
					height: 69px;
					border: solid 2px rgba(#fff, 0.4);
					border-radius: 60px;
				}
			}
			svg {
				fill: #fff;
				transition: $d_transition;
				font-size: 30px;
				&.icon-auto {
					font-size: 26px;
				}
			}
			& + li {
				@include media-up(lg) {
					margin-top: 30px;
				}
			}
			a {
				display: flex;
				align-items: center;
				color: #fff;
				font-size: 14px;
				text-decoration: none;
				font-weight: 500;
				transition: $d_transition;
				@include media-down(md) {
					padding: 15px;
					display: flex;
					justify-content: center;
					height: 60px;
					width: 100%;
					align-items: center;
				}
				.c-name {
					margin-left: 20px;
					@include media-down(sm) {
						display: none;
					}
				}
			}
			&:nth-child(2) {
				@include media-down(md) {
					position: relative;
					&:after,
					&:before {
						content: '';
						width: 1px;
						height: 35px;
						background: rgba(#fff, 0.15);
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
					&:after {
						left: auto;
						right: 0;
					}
				}
			}
		}
	}
	.info-wrap {
		position: relative;
		z-index: 5;
	}
	.tab-content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		height: 100%;
		width: 100%;
		@include media-up(md) {
			width: 420px;
		}
		@include media-up(lg) {
			width: 420px;
		}
		@include media-up(nt) {
			width: 28.5%;
		}
		@include media-up(lp) {
			width: 420px;
		}
		.tab-pane {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			background: rgba(#000, 0.7);
			width: 100%;
			padding: 40px 15px 80px;
			overflow: auto;
			@include media-up(md) {
				padding: 45px 35px 80px;
			}
			@include media-up(lg) {
				padding: 60px 35px 15px;
				left: 100%;
			}
			.tab-title {
				color: #fff;
				font-size: 18px;
				font-weight: 500;
				margin: 0 0 20px;
				padding: 0 0 15px;
				position: relative;
				@include media-up(md) {
					font-size: 24px;
					margin: 0 0 35px;
					padding: 0 0 25px;
				}
				&:after {
					content: '';
					width: 50px;
					height: 1px;
					background: #fff;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			.tab-text {
				font-size: 15px;
				line-height: 30px;
				color: rgba(#fff, 0.75);
			}
		}
	}
}