.medical-section {
	margin: 0 0 5px;
	position: relative;
	display: flex;
	align-items: stretch;
	overflow: hidden;
	.control-area {
		width: 54%;
		background: url(../img/pattern.png);
		padding: 40px 60px 30px 70px;
		display: none;
		@include media-up(md) {
			display: block;
		}
		@include media-up(lg) {
			padding: 45px 60px 30px;
			width: 45%;
		}
		@include media-up(xl) {
			width: 33%;
		}
		@include media-up(lp) {
			width: 34%;
			padding: rem(85) rem(110) rem(60);
		}
		.c-title {
			font-weight: 500;
			font-size: 30px;
			color: #fff;
			text-transform: uppercase;
			margin: 0 0 30px;
			@include media-up(lg) {
				font-size: 26px;
				margin: 0 0 25px;
			}
			@include media-up(nt) {
				font-size: 36px;
				margin: 0 0 25px;
			}
			@include media-up(lp) {
				font-size: rem(48);
				margin: 0 0 60px;
			}
		}
		.nav-tabs {
			border-left: solid 2px rgba(#e1e1e1, 0.62);
			li {
				margin-bottom: 15px;
				@include media-up(lp) {
					margin-bottom: rem(30);
				}
				&.active {
					a {
						color: #9a7f45;
						border-color: #9a7f45;
					}
				}
				a {
					color: rgba(#fff, 0.45);
					font-weight: 500;
					font-size: 15px;
					text-decoration: none;
					display: block;
					padding: 10px 0 10px 25px;
					border-left: solid 5px transparent;
					transition: $d_transition;
					&:hover {
						color: #9a7f45;
					}
					@include media-up(lg) {
						font-size: 16px;
					}
					@include media-up(lp) {
						padding: rem(10) 0 rem(10) rem(50);
					}
				}
			}
		}
	}
	.info-area {
		width: 46%;
		display: none;
		@include media-up(md) {
			display: block;
		}
		@include media-up(lg) {
			width: 55%;
		}
		@include media-up(xl) {
			width: 67%;
		}
		@include media-up(lp) {
			width: 66%;
		}
		.tab-pane {
			position: relative;
			height: 100%;
		}
		.img-block {
			min-height: 470px;
			height: 100%;
			position: relative;
			overflow: hidden;
			@include media-up(lg) {
				min-height: 560px;
			}
			@include media-up(lp) {
				min-height: 790px;
			}
			img {
				height: auto;
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				max-width: none;
				top: -100%;
				left: -100%;
				bottom: -100%;
				right: -100%;
				margin: auto;
			}
		}
		.info-block {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			z-index: 1;
			background: rgba(#212027, 0.7);
			width: 100%;
			padding: 80px 35px 35px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@include media-up(lg) {
				width: 360px;
				padding: 85px 35px 40px;
			}
			@include media-up(lp) {
				width: 420px;
				background: rgba(#000, 0.7);
				padding: 50px 35px 60px;
			}
			.i-title {
				color: #fff;
				font-weight: 500;
				font-size: 18px;
				line-height: 30px;
				padding: 0 0 20px;
				position: relative;
				margin: 0 0 25px;
				@include media-up(lg) {
					font-size: 24px;
					margin: 0 0 45px;
					padding: 0 0 25px;
				}
				&:after {
					content: '';
					display: block;
					width: 49px;
					height: 1px;
					background: #fff;
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}
			.i-descr {
				font-size: 14px;
				color: #fff;
				line-height: 30px;
				margin: 0 0 35px;
				@include media-up(lp) {
					font-size: 15px;
					color: rgba(#fff, 0.75);
				}
			}
			.i-hidden {
				display: none;
				@include media-up(lp) {
					display: block;
				}
			}
			.i-notice {
				display: none;
				.notice-descr {
					color: #a5803f;
					line-height: 30px;
					margin: 0 0 25px;
				}
				@include media-up(lp) {
					display: block;
				}
				.i-list {
					list-style: none;
					margin: 0;
					padding: 0;
					li {
						position: relative;
						margin-bottom: 20px;
						padding-left: 30px;
						font-size: 15px;
						color: rgba(#fff, 0.75);
						&:before {
							content: '';
							width: 9px;
							height: 9px;
							border-radius: 20px;
							border: solid 2px #a09065;
							display: block;
							position: absolute;
							left: 0;
							top: 5px;
						}
					}
				}
			}
		}
	}
	&.reverse-section {
		.info-area {
			@include media-up(md) {
				order: -1;
			}
			.info-block {
				left: auto;
				right: 0;
				@include media-up(lp) {
					padding: 105px 35px 80px;
				}
			}
		}
	}
	&.termal-section {
		.info-area {
			.info-block {
				@include media-up(lp) {
					padding: 100px 35px 60px;
				}
			}
		}
	}
	.mobile-medical-section {
		.m-title {
			margin: 0 0 30px;
			@include media-up(sm) {
				margin: 0 0 50px;
			}
		}
	}
}

.mobile-medical-section {
	position: relative;
	@include media-up(md) {
		display: none;
	}
	img {
		max-width: 100%;
		display: block;
	}
	.m-content {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		background: rgba(#000, 0.47);
	}
	.m-title {
		margin: 0 0 50px;
		font-size: 20px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		max-width: 350px;
		text-align: center;
		@include media-up(sm) {
			margin: 0 0 80px;
			font-size: 24px;
		}
	}
}