.rooms-section {
	padding: 5px 0;
	@include media-up(lg) {
		display: flex;
		align-items: stretch;
	}
	.rooms-slider {
		@include media-up(lg) {
			width: 55%;
		}
		@include media-up(nt) {
			width: 67%;
		}
	}
	.rooms-infoblock {
		@include media-up(lg) {
			width: 45%;
		}
		@include media-up(nt) {
			width: 33%;
		}
	}
	.sp-information {
		box-sizing: border-box;
		position: absolute;
		right: 0;
		bottom: 0;
		height: auto;
		background: rgba(#000, 0.7);
		width: 100%;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include media-up(md) {
			padding: 35px;
			width: 360px;
			height: 100%;
			top: 0;
			bottom: auto;
		}
		@include media-up(lg) {
			padding: 40px 35px 45px;
		}
		@include media-up(lp) {
			width: 420px;
			padding: rem(75) rem(50) rem(45);
		}
	}
	.sp-booking {
		text-align: center;
		margin-bottom: 35px;
		@include media-up(nt) {
			margin-bottom: 60px;
		}
		a {
			transition: $d_transition !important;
		}
	}
	.sp-nav {
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			border: solid 2px rgba(#fff, 0.6);
			transition: $d_transition;
			&:hover {
				background: #a5803f;
				border-color: #a5803f;
			}
			svg {
				font-size: 12px;
				fill: #fff;
			}
			& + span {
				margin-left: 40px;
			}
		}
	}
	.sp-title {
		color: #fff;
		font-size: 16px;
		position: relative;
		font-weight: 500;
		a {
			color: #fff;
			text-decoration: none;
			display: block;
			padding: 20px 15px;
			@include media-up(md) {
				padding: 0;
			}
		}
		@include media-up(md) {
			padding: 0 0 15px;
		}
		@include media-up(lg) {
			font-size: 24px;
			padding: 0 0 20px;
		}
		&:before {
			@include media-up(md) {
				content: '';
				height: 1px;
				width: 49px;
				position: absolute;
				background: #fff;
				display: block;
				bottom: 0;
				left: 0;
				font-weight: 500;
			}
		}
	}
	.sp-list {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			position: relative;
			margin-bottom: 20px;
			padding-left: 30px;
			&:before {
				content: '';
				width: 9px;
				height: 9px;
				border-radius: 20px;
				border: solid 2px #a5803f;
				display: block;
				position: absolute;
				left: 0;
				top: 5px;
			}
		}
		@include media-up(lp) {
			display: block;
		}
	}
	.sp-description {
		font-size: 15px;
		line-height: 30px;
		overflow: hidden;
		max-height: 180px;
		display: none;
		@include media-up(md) {
			display: block;
		}
		@include media-up(lp) {
			max-height: 150px;
		}
	}
}
.sp-controls {
	display: none;
	@include media-up(md) {
		display: block;
	}
}
.r-icons {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	@include media-up(sm) {
		padding: 0;
		margin-left: -30px;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}
	@include media-up(md) {
		margin-left: -50px;
	}
	@include media-up(lg) {
		margin-left: -15px;
	}
	@include media-up(nt) {
		margin-left: -30px;
		flex-wrap: nowrap;
	}
	@include media-up(lp) {
		flex-wrap: wrap;
	}
	.icon {
		margin-bottom: 5px;
		max-width: 160px;
		padding: 0 20px;
		@include media-up(sm) {
			display: inline-flex;
			align-items: center;
			max-width: none;
			padding: 0;
			margin-left: 30px;
		}
		@include media-up(md) {
			margin-left: 50px;
		}
		@include media-up(lg) {
			margin-left: 15px;
			margin-bottom: 5px;
		}
		@include media-up(nt) {
			margin-left: 30px;
		}
		span {
			font-size: 12px;
			line-height: 18px;
			color: #000;
			max-width: 130px;
			@include media-up(sm) {
				margin-left: 15px;
			}
			@include media-up(md) {
				font-size: 14px;
				max-width: 150px;
			}
			@include media-up(lg) {
				max-width: 130px;
				font-size: 12px;
			}
			@include media-up(lp) {
				font-size: 14px;
				max-width: 150px;
			}
		}
	}
	img {
		width: 48px;
		flex-shrink: 0;
		display: block;
		margin-bottom: 5px;
		@include media-up(sm) {
			margin-bottom: 0;
		}
		@include media-up(md) {
			width: 69px;
		}
		@include media-up(lg) {
			width: 48px;
		}
		@include media-up(lp) {
			width: 69px;
		}
	}
}
.rooms-infoblock {
	padding: 25px 15px;
	@include media-up(lg) {
		padding: 25px 35px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	@include media-up(xl) {
		padding: 35px;
	}
	@include media-up(lp) {
		padding: rem(110) rem(50) rem(80);
	}
	.r-title {
		font-weight: 500;
		font-size: 24px;
		text-transform: uppercase;
		margin: 0 0 20px;
		@include media-up(md) {
			font-size: 30px;
		}
		@include media-up(nt) {
			font-size: 36px;
		}
		@include media-up(lp) {
			font-size: 48px;
			margin: 0 0 50px;
		}
	}
	.r-description {
		font-size: 16px;
		line-height: 30px;
		margin: 0 0 20px;
		@include media-up(md) {
			font-size: 18px;
		}
		@include media-up(lp) {
			font-size: 24px;
		}
	}
	.r-text {
		font-size: 14px;
		color: #363636;
		line-height: 30px;
		margin: 0 0 35px;
		@include media-up(lg) {
			margin: 0 0 15px;
		}
		@include media-up(xl) {
			margin: 0 0 35px;
		}
		@include media-up(lp) {
			font-size: 15px;
			margin: 0 0 50px;
		}
	}
	.r-more {
		text-align: center;
		margin-top: 45px;
		@include media-up(sm) {
			text-align: right;
		}
		@include media-up(md) {
			margin-top: 30px;
		}
		@include media-up(nt) {
			margin-top: 60px;
		}
	}
}