.text-section {
	padding: 35px 0;
	@include media-up(md) {
		padding: 35px 0 50px;
	}
	@include media-up(lg) {
		padding: 60px 0;
	}
	.container {
		@include media-down(nt) {
			width: 100%;
		}
	}
	.t-title {
		font-size: 24px;
		color: #000;
		font-weight: 500;
		margin: 0 0 15px;
		text-transform: uppercase;
		@include media-up(md) {
			font-size: 30px;
		}
		@include media-up(lp) {
			font-size: 48px;
		}
	}
	.t-description {
		color: #000;
		font-size: 14px;
		text-transform: uppercase;
		margin: 0 0 30px;
	}
}
.hidden-text {
	display: none;
}
.text {
	line-height: 30px;
	font-size: 14px;
	color: rgba(#000, 0.75);
	@include media-up(sm) {
		font-size: 15px;
	}
}
.text-more {
	text-align: center;
	margin-top: 25px;
	@include media-up(xl) {
		margin-top: 50px;
	}
	a {
		font-size: 15px;
		color: #9a7f45;
		text-decoration: none;
		border-bottom: dashed 1px #9a7f45;
	}
}