@media all and (max-width: 1199px) {
  .how-it-block ul li:nth-child(2):before {
    left: -60px;
  }
  .how-it-block ul li:nth-child(2):after {
    right: -60px;
  }
}

@media all and (max-width: 991px) {
  .p-title {
    font-size: 35px;
  }
  .banner .stiker {
    bottom: 180px;
  }
  .info-graph ul li {
    font-size: 14px;
    height: 300px;
  }
  .info-graph ul li.divider {
    display: none;
  }
  .how-it-block ul li:nth-child(2):before {
    width: 90px;
    height: 90px;
    left: 0;
  }
  .how-it-block ul li:nth-child(2):after {
    width: 90px;
    height: 90px;
    right: 0;
  }
  .programm-wrapp ul li:nth-child(4) {
    right: 0;
    top: 700px;
  }
  .programm-wrapp ul li:nth-child(5) {
    left: 0;
    top: 700px;
  }
  .choose-content .choose-img img {
    max-width: 200px;
  }
  .choose-content .choose-img {
    height: 250px;
  }
  .find-btn {
    font-size: 14px;
    padding: 20px;
  }
  .c-row3 > div {
    width: 50%;
  }
  .sign-wrapp > div {
    width: 100%;
  }
  .tones-block {
    width: 100%;
    margin: 0;
    right: inherit;
    position: relative;
    margin-top: 30px;
    padding: 40px 30px 30px 30px;
    text-align: center;
    transform: none;
  }
  .tones-block img {
    left: 50%;
    transform: translateX(-50%);
    top: -34px;
  }
  .installer-img {
    position: static;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    height: auto;
    padding: 30px;
    transform: none;
  }
  .installer-img img {
    max-width: 100%;
    position: static;
    transform: translate(0, 0);
  }
}

@media all and (min-width: 768px) {
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
    float: right;
  }
}

@media all and (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .navbar-collapse ul li {
    float: none;
    display: block;
  }
  .navbar-collapse ul li a {
    padding: 20px 15px;
    border-bottom: 1px solid #e1e1e1;
  }
  .logo {
    padding: 16px 0;
  }
  .logo img {
    max-width: 170px;
  }
  .p-title {
    font-size: 20px;
  }
  .banner .stiker {
    bottom: 15px;
    width: 100px;
    height: 100px;
    background-size: cover;
    right: 50%;
    margin-right: -50px;
  }
  .foot-title {
    padding-top: 20px;
  }
  .top-footer {
    text-align: center;
  }
  .info-graph ul li {
    width: 100%;
    height: auto;
  }
  .info-graph ul li .block-graph {
    padding: 30px;
  }
  .info-graph ul li.info {
    height: auto;
  }
  .info-graph ul li.info > .block-graph {
    height: auto;
    padding: 15px;
  }
  .info-graph ul li.info > .block-graph p {
    padding: 20px 0 0;
    position: static;
    transform: translate(0, 0);
  }
  .info-graph ul li.info .number {
    right: inherit;
    left: 50%;
    margin-left: -40px;
    top: -18px;
  }
  .info-graph ul li > .block-graph img {
    position: static;
    transform: translate(0, 0);
  }
  .description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .programm-wrapp {
    padding: 20px 15px;
  }
  .programm-wrapp .info-block {
    width: auto;
  }
  .programm-wrapp > img {
    display: none;
  }
  .programm-wrapp ul {
    position: static;
    font-size: 0 !important;
  }
  .programm-wrapp ul li {
    font-size: 13px;
    vertical-align: top;
    position: static;
    transform: translateX(0) !important;
    width: 50%;
    display: inline-block;
    padding: 0 5px 40px;
  }
  .banner {
    padding: 20px 0 40px;
  }
  .info-graph, .how-it-block, .find-block, .programm-block {
    padding: 20px 0;
  }
  .top-title {
    font-size: 18px;
  }
  .top-title > span {
    margin-right: 10px;
  }
  .top-title > span img {
    width: 30px;
  }
  .p-title {
    margin: 0 0 50px;
  }
  .table-responsive {
    border: 0;
    margin: 0;
  }
  .choose ul li {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }
  .choose {
    padding: 20px 0;
  }
  .c-panes .c-pane-content ul li {
    width: 100%;
  }
  .c-row label, .c-row .input-control {
    padding: 0;
    width: 100%;
  }
  .c-panes .c-pane-content > ul.two-blocks li {
    width: 100%;
  }
  .input-control > input[type="text"], .input-control > input[type="number"] {
    width: 100%;
  }
  .steps ul li .prog-block {
    padding: 15px 10px;
    text-align: center;
  }
  .steps ul li .prog-block > span.p_number {
    margin: 0;
  }
  .jq-selectbox__select, .jq-selectbox {
    max-width: 100%;
    width: 100%;
  }
  .c-row3 > div {
    width: 100%;
  }
  .steps ul {
    margin: 15px 0;
  }
  .jq-file__browse, .jq-file__name {
    float: none;
  }
  .jq-file__name {
    margin: 15px;
  }
  .custom-scroll_2_inner > ul {
    padding-left: 25px;
  }
  .modal-body .c-row label {
    text-align: left;
  }
  .modal-dialog {
    width: 100%;
    margin: 0;
    padding: 30px 10px;
  }
  .modal-body .jq-selectbox__select {
    max-width: 100%;
  }
}

@media all and (max-width: 480px) {
  .how-it-block ul li {
    width: 100%;
    padding: 15px 0 !important;
    text-align: center !important;
  }
  .how-it-block ul li:nth-child(2):before {
    display: none;
  }
  .how-it-block ul li:nth-child(2):after {
    display: none;
  }
  .programm-wrapp ul li {
    width: 100%;
  }
  .steps ul li {
    width: 100%;
    margin-bottom: 10px;
  }
  .steps ul li .prog-block > span.p_number {
    font-size: 20px;
  }
}
