@font-face {
  font-family: 'tail';
  src: url("../fonts/taile.eot");
  src: url("../fonts/taile.eot?#iefix") format("embedded-opentype"), url("../fonts/taile.woff2") format("woff2"), url("../fonts/taile.woff") format("woff"), url("../fonts/taile.ttf") format("truetype"), url("../fonts/taile.svg#tail") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "MyriadProBold"; */
@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "MyriadProItalic"; */
@font-face {
  font-family: "MyriadProItalic";
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "MyriadProSemiBold"; */
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "MyriadProBoldItalic"; */
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot");
  src: url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"), url("../fonts/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
  src: url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"), url("../fonts/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font: 14px "MyriadProRegular", sans-serif;
  background: #f5f5f5;
  min-width: 320px;
}

header {
  background: url("../img/header_img.jpg") no-repeat center 0;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #fff;
  font-family: "tail", sans-serif;
  line-height: 120px;
}

.search_result header {
  background: url("../img/search-bg.jpg") no-repeat center 0;
}

.navbar {
  background: #fff;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  min-height: auto;
  margin: 0;
}

.navbar .container {
  position: relative;
}

.navbar-nav li {
  border-left: 1px solid #f2f2f2;
}

.navbar-nav li:last-child {
  border-right: solid 1px #f2f2f2;
}

.navbar-nav li a {
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  padding: 20px 30px;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.navbar-nav li a:hover {
  background: #fbfbfb;
}

.search-form {
  position: absolute;
  right: 15px;
  top: 12px;
}

.search-form input {
  height: 30px;
  border: none;
  border-bottom: solid 1px #d9d9d9;
  outline: none !important;
  color: rgba(0, 0, 0, 0.35);
  width: 140px;
  background: #fff;
  display: inline-block;
}

.search-form button {
  background: none;
  border: none;
  outline: none;
  vertical-align: bottom;
}

.search-form span, .search-form .check-title a i, .check-title a .search-form i {
  color: #9f9f9f;
  font-size: 20px;
}

.search-form .form-block > span, .search-form .check-title a .form-block > i, .check-title a .search-form .form-block > i {
  display: none;
  cursor: pointer;
}

.navbar-toggle {
  position: relative;
  z-index: 10;
  padding-left: 15px;
  -moz-border-radius: 0;
  border-radius: 0;
}

.navbar-toggle .glyphicon {
  margin-left: 5px;
}

.navbar-toggle .cng, .navbar-toggle .glyphicon {
  color: rgba(0, 0, 0, 0.7);
}

.h2 {
  font-size: 30px;
  color: #252525;
  margin: 40px 0;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  line-height: 0.75;
}

.h2 span, .h2 .check-title a i, .check-title a .h2 i {
  display: inline-block;
  padding-right: 25px;
  background: #f5f5f5;
}

.h2:after {
  content: "";
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 100%;
  height: 2px;
  -webkit-box-shadow: 0px 1px 0px 0px #dcdcdc;
  -moz-box-shadow: 0px 1px 0px 0px #dcdcdc;
  box-shadow: 0px 1px 0px 0px #dcdcdc;
  background: #f5f5f5;
  border-top: solid 1px #dcdcdc;
}

.h2 b {
  font-family: 'MyriadProSemiBold', sans-serif;
  font-weight: normal;
}

.main-filter {
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
}

.jq-selectbox, .help-row .filter-control input {
  vertical-align: middle;
  cursor: pointer;
}

.jq-selectbox__select {
  height: 36px;
  padding: 0 45px 0 10px;
  border: 1px solid #e5e5e5;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  line-height: 35px;
  color: rgba(0, 0, 0, 0.35);
}

.jq-selectbox__select:hover {
  background: #F5F5F5;
}

.jq-selectbox__select:active {
  background: #F5F5F5;
}

.jq-selectbox.focused .jq-selectbox__select, .help-row .filter-control input.focused .jq-selectbox__select {
  border: 1px solid #cecece;
  background: -webkit-linear-gradient(#FFF, #f5f5f5);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#f5f5f5));
  background: -moz-linear-gradient(#FFF, #f5f5f5);
  background: linear-gradient(#FFF, #f5f5f5);
}

.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 5px;
  right: 12px;
  display: inline-block;
  font-family: 'FontAwesome';
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;
  -webkit-font-kerning: auto;
  -moz-font-kerning: auto;
  font-kerning: auto;
  -webkit-font-language-override: normal;
  -moz-font-language-override: normal;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 25px;
  color: #cecece;
}

.jq-selectbox__trigger-arrow:before {
  content: "\f107";
}

.jq-selectbox__trigger-arrow.up:before {
  content: "\f106";
}

.jq-selectbox__dropdown {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #CCC;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif;
}

.jq-selectbox__search {
  margin: 5px;
}

.jq-selectbox ul, .help-row .filter-control input ul {
  margin: 0;
  padding: 0;
}

.jq-selectbox li, .help-row .filter-control input li {
  min-height: 18px;
  padding: 5px 10px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #231F20;
}

.jq-selectbox li.selected, .help-row .filter-control input li.selected {
  background-color: #A3ABB1;
  color: #FFF;
}

.jq-selectbox li:hover, .help-row .filter-control input li:hover {
  background: #E6E6E6;
  color: #000;
}

.jq-selectbox li.disabled, .help-row .filter-control input li.disabled {
  color: #AAA;
}

.jq-selectbox li.disabled:hover, .help-row .filter-control input li.disabled:hover {
  background: none;
}

.jq-selectbox li.optgroup, .help-row .filter-control input li.optgroup {
  font-weight: bold;
}

.jq-selectbox li.optgroup:hover, .help-row .filter-control input li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}

.jq-selectbox li.option, .help-row .filter-control input li.option {
  padding-left: 25px;
}

.datepickr-wrapper {
  display: inline-block;
  position: relative;
}

.datepicker-container {
  font-size: 14px;
  line-height: 30px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 250px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  direction: ltr !important;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.datepicker-container:before,
.datepicker-container:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  content: ' ';
  border: 5px solid transparent;
}

.datepicker-dropdown {
  position: absolute;
  z-index: 1;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
}

.datepicker-inline {
  position: static;
}

.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #e5e5e5;
}

.datepicker-bottom-left:before,
.datepicker-bottom-left:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
  bottom: -5px;
  left: 10px;
  border-bottom: 0;
}

.datepicker-bottom-left:before,
.datepicker-bottom-right:before {
  border-top-color: #e5e5e5;
}

.datepicker-bottom-left:after,
.datepicker-bottom-right:after {
  bottom: -4px;
  border-top-color: #fff;
}

.datepicker-top-right:before,
.datepicker-top-right:after,
.datepicker-bottom-right:before,
.datepicker-bottom-right:after {
  right: 10px;
  left: auto;
}

.datepicker-panel > ul:before,
.datepicker-panel > ul:after {
  display: table;
  content: ' ';
}

.datepicker-panel > ul:after {
  clear: both;
}

.datepicker-panel > ul {
  width: 102%;
  margin: 0;
  padding: 0;
}

.datepicker-panel > ul > li {
  float: left;
  width: 36px;
  height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
}

.datepicker-panel > ul > li:hover {
  background-color: #eee;
}

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #999;
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #fff;
  background: #cecece;
}

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  cursor: default;
  color: #ccc;
  background-color: #fff;
}

.datepicker-panel > ul > li[data-view='years prev'],
.datepicker-panel > ul > li[data-view='year prev'],
.datepicker-panel > ul > li[data-view='month prev'],
.datepicker-panel > ul > li[data-view='years next'],
.datepicker-panel > ul > li[data-view='year next'],
.datepicker-panel > ul > li[data-view='month next'],
.datepicker-panel > ul > li[data-view='next'] {
  font-size: 18px;
}

.datepicker-panel > ul > li[data-view='years current'],
.datepicker-panel > ul > li[data-view='year current'],
.datepicker-panel > ul > li[data-view='month current'] {
  width: 180px;
}

.datepicker-panel > ul[data-view='years'] > li,
.datepicker-panel > ul[data-view='months'] > li {
  line-height: 52.5px;
  width: 62.5px;
  height: 52.5px;
}

.datepicker-panel > ul[data-view='week'] > li,
.datepicker-panel > ul[data-view='week'] > li:hover {
  cursor: default;
  background-color: #fff;
}

.datepicker-hide {
  display: none;
}

.jq-checkbox {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #d9d9d9;
  background: #F5F5F5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 10px;
  height: 10px;
  margin: 2px 0 0 2px;
  background: #666;
  -webkit-box-shadow: inset 0 -3px 6px #AAA;
  -moz-box-shadow: inset 0 -3px 6px #AAA;
  box-shadow: inset 0 -3px 6px #AAA;
}

.jq-checkbox.disabled {
  opacity: .55;
}

.br-theme-fontawesome-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}

.br-theme-fontawesome-stars .br-widget a {
  font: normal normal normal 18px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}

.br-theme-fontawesome-stars .br-widget a:after {
  content: '\f006';
  color: #919191;
}

.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #ffd200;
  content: '\f005';
}

.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: #ffd200;
  content: '\f005';
}

.br-theme-fontawesome-stars .br-widget .br-current-rating {
  display: none;
}

.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 20px 0 40px;
}

.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
  height: 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #efefef;
}

.irs-line-left, .irs-line-mid, .irs-line-right {
  position: absolute;
  display: block;
  top: 0;
}

.irs-line-left {
  left: 0;
  width: 11%;
}

.irs-line-mid {
  left: 9%;
  width: 82%;
}

.irs-line-right {
  right: 0;
  width: 11%;
}

.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
  height: 5px;
  background: #da4a6c;
  top: 50%;
  margin-top: -2.5px;
}

.irs-bar-edge {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}

.irs-slider {
  position: absolute;
  display: block;
  cursor: default;
  z-index: 1;
  width: 4px;
  height: 17px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #cb4162;
  top: -5px;
  cursor: pointer;
}

.irs-slider.type_last {
  z-index: 2;
}

.irs-min {
  position: absolute;
  display: block;
  left: 0;
  top: 13px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
  visibility: visible !important;
  display: block !important;
}

.irs-max {
  position: absolute;
  display: block;
  right: 0;
  top: 13px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
  visibility: visible !important;
  display: block !important;
}

.irs-from, .irs-to, .irs-single {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}

.irs-min:before, .irs-max:before {
  content: "$";
  margin-right: 3px;
}

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.irs-with-grid .irs-grid {
  display: block;
}

.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}

.irs-grid-pol.small {
  height: 4px;
}

.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}

.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: transparent;
  z-index: 2;
}

.lt-ie9 .irs-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed;
}

.irs-disabled {
  opacity: 0.4;
}

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}

.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
  /* direct pointer events to js */
}

.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
  -ms-touch-action: auto;
  touch-action: auto;
}

.mCustomScrollBox {
  /* contains plugin's markup */
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}

.mCSB_container {
  /* contains the original content */
  overflow: hidden;
  width: auto;
  height: auto;
}

/* 
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR 
y-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_inside > .mCSB_container {
  margin-right: 30px;
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
}

/* non-visible scrollbar */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0;
}

/* RTL direction/left-side scrollbar */
.mCSB_scrollTools {
  /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
  position: absolute;
  width: 16px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
}

.mCSB_outside + .mCSB_scrollTools {
  right: -26px;
}

/* scrollbar position: outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  /* RTL direction/left-side scrollbar */
  right: auto;
  left: 0;
}

.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px;
}

/* RTL direction/left-side scrollbar (scrollbar position: outside) */
.mCSB_scrollTools .mCSB_draggerContainer {
  /* contains the draggable element and dragger rail markup */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.mCSB_scrollTools .mCSB_dragger {
  /* the draggable element */
  cursor: pointer;
  width: 100%;
  height: 30px;
  /* minimum dragger height */
  z-index: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 4px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  text-align: center;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  /* auto-expanded scrollbar */
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
  /* auto-expanded scrollbar */
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
}

/* 
------------------------------------------------------------------------------------------------------------------------
3. HORIZONTAL SCROLLBAR 
x-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-bottom: 15px;
}

.mCSB_horizontal.mCSB_outside > .mCSB_container {
  min-height: 100%;
}

.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}

/* non-visible scrollbar */
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  width: auto;
  height: 5px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ededed;
}

.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: -26px;
}

/* scrollbar position: outside */
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
  margin: 0 10px;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 5px;
  background: #ededed;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 30px;
  /* minimum dragger width */
  height: 100%;
  left: 0;
  background: #dcdcdc;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 5px;
  background: #dcdcdc;
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  height: 5px;
  /* auto-expanded scrollbar */
}

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 5px;
  /* auto-expanded scrollbar */
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  display: block;
  position: absolute;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
  left: 0;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  right: 0;
}

.help-row {
  margin: 0 -4px;
}

.help-row .filter-control {
  display: block;
  float: left;
  width: 25%;
  padding: 0 4px 8px 4px;
}

.help-row .filter-control .jq-selectbox, .help-row .filter-control input {
  width: 100%;
}

.help-row .filter-control label {
  font-weight: normal;
  font-family: 'MyriadProSemiBold', sans-serif;
}

.date-input {
  border: 0;
  outline: none;
  height: 36px;
  line-height: 35px;
  padding-left: 10px;
  border: 1px solid #e5e5e5;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.35);
  cursor: pointer;
  position: relative;
}

.date-input:before {
  content: "\f107";
  position: absolute;
  top: 5px;
  right: 12px;
  display: inline-block;
  font-family: 'FontAwesome';
  -webkit-font-feature-settings: normal;
  -moz-font-feature-settings: normal;
  font-feature-settings: normal;
  -webkit-font-kerning: auto;
  -moz-font-kerning: auto;
  font-kerning: auto;
  -webkit-font-language-override: normal;
  -moz-font-language-override: normal;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 25px;
  color: #cecece;
}

.date-input:hover {
  background: #F5F5F5;
}

.check-title {
  padding: 30px 0;
  position: relative;
}

.check-title:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  border-bottom: dashed 1px #d9d9d9;
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
}

.check-title a {
  color: #fb496e;
  position: relative;
  top: -3px;
  z-index: 10;
  display: inline-block;
  background: #fff;
  padding-left: 30px;
  outline: none;
}

.check-title a span, .check-title a i {
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
}

.check-title a i {
  text-decoration: none;
}

.check-title a:hover, .check-title a:hover span, .check-title a:hover i {
  text-decoration: none;
}

.check-area button {
  width: 100%;
  height: 54px;
  border: 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #e5e5e5;
  background: white;
  background: -moz-linear-gradient(top, white 0%, rgba(0, 0, 0, 0.03) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(0, 0, 0, 0.03)));
  background: -webkit-linear-gradient(top, white 0%, rgba(0, 0, 0, 0.03) 100%);
  background: -o-linear-gradient(top, white 0%, rgba(0, 0, 0, 0.03) 100%);
  background: -ms-linear-gradient(top, white 0%, rgba(0, 0, 0, 0.03) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(0, 0, 0, 0.03)));
  background: linear-gradient(to bottom, white 0%, rgba(0, 0, 0, 0.03) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
  -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.01);
  outline: none;
}

.check-area button span, .check-area button .check-title a i, .check-title a .check-area button i {
  margin-right: 20px;
}

.check-area button:hover {
  background: rgba(0, 0, 0, 0.03);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.03) 0%, white 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.03)), color-stop(100%, white));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.03) 0%, white 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.03) 0%, white 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.03) 0%, white 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.03)), to(white));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=0 );
}

.check-block {
  display: none;
  margin-bottom: 30px;
}

.check-block label {
  margin: 0 25px 10px 0;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.check-block label > div {
  margin-right: 15px;
}

.feat-block {
  background: #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.02);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.02);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.02);
}

.feat-block .info-block {
  padding: 15px;
}

.carousel-inner > .item {
  max-height: 300px;
}

.carousel-inner > .item img {
  width: 100%;
}

.chev-left, .chev-right {
  background: none;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 40px;
  margin-top: -15px;
}

.chev-right {
  left: inherit;
  right: 40px;
}

.carousel-control {
  width: 50%;
  opacity: 0;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.img-gallery:hover .carousel-control {
  opacity: 1;
}

.carousel-control:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.carousel-control:focus {
  opacity: 0;
}

.bars p {
  font-size: 18px;
  color: #424c55;
  margin-bottom: 5px;
}

.price span, .price .check-title a i, .check-title a .price i {
  color: #80c435;
  font-size: 30px;
  display: inline-block;
  padding: 7px 0 7px 20px;
  border-left: solid 1px #d3d3d3;
}

.button-block {
  padding-top: 25px;
}

.button-block a {
  display: block;
  float: left;
  width: 50%;
  text-align: center;
  border: solid 1px #e5e5e5;
  color: rgba(34, 34, 34, 0.5);
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 12px;
  background: rgba(237, 237, 237, 0.51);
  background: -moz-linear-gradient(top, rgba(237, 237, 237, 0.51) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237, 237, 237, 0.51)), color-stop(100%, rgba(255, 255, 255, 0.02)));
  background: -webkit-linear-gradient(top, rgba(237, 237, 237, 0.51) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: -o-linear-gradient(top, rgba(237, 237, 237, 0.51) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: -ms-linear-gradient(top, rgba(237, 237, 237, 0.51) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(237, 237, 237, 0.51)), to(rgba(255, 255, 255, 0.02)));
  background: linear-gradient(to bottom, rgba(237, 237, 237, 0.51) 0%, rgba(255, 255, 255, 0.02) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}

.button-block a:hover {
  border-color: #e5e5e5;
  color: rgba(34, 34, 34, 0.5);
  background: rgba(235, 235, 235, 0.96);
  background: -moz-linear-gradient(top, rgba(235, 235, 235, 0.96) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 235, 235, 0.96)), color-stop(100%, rgba(255, 255, 255, 0.02)));
  background: -webkit-linear-gradient(top, rgba(235, 235, 235, 0.96) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: -o-linear-gradient(top, rgba(235, 235, 235, 0.96) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: -ms-linear-gradient(top, rgba(235, 235, 235, 0.96) 0%, rgba(255, 255, 255, 0.02) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(235, 235, 235, 0.96)), to(rgba(255, 255, 255, 0.02)));
  background: linear-gradient(to bottom, rgba(235, 235, 235, 0.96) 0%, rgba(255, 255, 255, 0.02) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff', GradientType=0 );
}

.btn-group.button-block {
  width: 100%;
}

.top100 {
  height: 300px;
  margin-bottom: 30px;
}

.top100 .top-info {
  float: left;
  width: 35%;
  height: 100%;
  padding: 30px 60px 25px 30px;
  background: url("../img/top100bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top100 .top-info h3 {
  margin: 0;
  font-size: 30px;
  color: #fff;
  font-weight: normal;
}

.top100 .top-info h3 span, .top100 .top-info h3 .check-title a i, .check-title a .top100 .top-info h3 i {
  font-family: "MyriadProSemiBold";
}

.top100 .top-info p {
  margin: 25px 0;
  color: #fff;
  font-size: 15px;
  line-height: 1.6;
}

.top100 .top-info a {
  display: inline-block;
  width: 215px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  line-height: 45px;
  border: dashed 1px #fff;
  outline: none;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.top100 .top-info a:hover {
  text-decoration: none;
  background: #fff;
  color: #000;
}

.top100 .table-block {
  float: right;
  height: 100%;
  width: 65%;
}

.top100 .table-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0 !important;
  height: 100%;
}

.top100 .table-block ul > li {
  display: inline-block;
  height: 50%;
  position: relative;
  font-size: 14px;
  width: 33.3333%;
  background: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #e5e5e5;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.top100 .table-block ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

.top100 .table-block ul > li:hover {
  -webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.top100 .table-block ul > li:nth-child(n+4) {
  border-bottom: 0;
}

.top100 .table-block ul > li:nth-child(3), .top100 .table-block ul > li:nth-child(6) {
  border-right: 0;
}

.top100 .table-block ul > li img {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100px;
}

footer {
  width: 100%;
  background: #fff;
  padding: 25px 0;
  -webkit-box-shadow: 4px 0 0 3px rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 4px 0 0 3px rgba(0, 0, 0, 0.01);
  box-shadow: 4px 0 0 3px rgba(0, 0, 0, 0.01);
  margin-top: 30px;
}

.copyright {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

.aside-filter {
  background: #fff;
  margin-top: 40px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 30px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.02);
  -moz-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.02);
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.02);
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  z-index: 100;
}

.aside-filter h2 {
  font-size: 20px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #e5e5e5;
}

#open_filter {
  cursor: pointer;
  text-align: center;
  margin: 0 -20px 10px;
  background: #da4a6c;
  color: #fff;
}

#open_filter span, #open_filter .check-title a i, .check-title a #open_filter i {
  margin-left: 10px;
}

.aside-filter .filter-control {
  margin-bottom: 25px;
}

.aside-filter .jq-selectbox, .aside-filter .help-row .filter-control input, .help-row .filter-control .aside-filter input {
  width: 100%;
}

.filter-control label {
  display: block;
  font-family: "MyriadProSemiBold",sans-serif;
  font-weight: normal;
}

.filter-row {
  margin: 0 -5px;
}

.filter-row .input-block {
  width: 50%;
  padding: 0 5px;
  float: left;
}

.js-input-from, .js-input-to {
  width: 100%;
  border: 1px solid #e5e5e5;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
  color: rgba(0, 0, 0, 0.35);
  height: 36px;
  padding-left: 10px;
  display: block;
}

.filter-row .date-input:before {
  display: none;
}

.filter-search {
  width: 100%;
  height: 40px;
  background: #da4a6c;
  border: 0;
  color: #fff;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}

.preferences label {
  font-size: 12px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.preferences .p-title {
  font-family: "MyriadProSemiBold",sans-serif;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: dotted 1px #e5e5e5;
  cursor: pointer;
}

.preferences .p-title i {
  font-size: 20px;
  color: #b0b0b0;
}

.preferences .pref-block {
  display: none;
}

.hotels-list {
  position: relative;
}

.list-filter {
  position: absolute;
  top: 0;
  left: -70px;
  z-index: 1000;
}

.list-filter .toggle_filter {
  position: absolute;
  top: 0;
  left: 100%;
  width: 50px;
  height: 50px;
  background: #fff;
  color: #646464;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  z-index: 200;
}

.list-filter .aside-filter {
  position: relative;
  margin: 0;
  display: none;
  z-index: 999;
  width: 270px;
  -webkit-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.2);
}

.list-filter .aside-filter.slide {
  display: block;
}

.list-filter.list-fixed {
  position: fixed;
  left: 0;
  top: 210px;
}

.main-content {
  position: relative;
}

.add-top {
  top: -75px;
}

.overlay {
  position: fixed;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.1);
}

.hotels {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels li {
  border-bottom: solid 1px #e5e5e5;
  background: #fff;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  position: relative;
}

.hotels li .popup {
  position: absolute;
  width: 530px;
  background: #fff;
  z-index: 10;
  bottom: 100%;
  left: 0;
  border: solid 1px #e5e5e5;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.08);
  padding: 30px;
  display: none;
}

.hotels li .popup:before {
  content: "";
  width: 20px;
  height: 22px;
  background: url(../img/popup-triangle.png) no-repeat 0 0;
  position: absolute;
  top: 100%;
  left: 70px;
}

.hotels li .popup img {
  max-width: 150px;
  display: inline-block;
  margin: 0 5px;
}

.hotels li:hover {
  -webkit-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
}

.hotels li > div {
  float: left;
}

.hotels li .h-info {
  border-left: solid 1px #e5e5e5;
}

.hotels li .h-info .h-title {
  font-size: 15px;
  margin: 0 0 10px;
  color: #424c55;
}

.hotels li .h-info .h-text {
  color: rgba(66, 76, 85, 0.5);
  font-size: 13px;
}

.h-img {
  text-align: center;
  padding-top: 25px;
  width: 15%;
}

.h-img img {
  max-width: 120px;
}

.h-price {
  width: 20%;
}

.h-price {
  padding: 0 30px;
  margin: 30px 0;
  border-left: dashed 1px #e5e5e5;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.h-price span, .h-price .check-title a i, .check-title a .h-price i {
  font-size: 30px;
  color: #80c435;
}

.h-price a {
  line-height: 38px;
  background: #fbfbfb;
  width: 90px;
  border: solid 1px #ececec;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: #979797;
  text-decoration: none;
  outline: none;
}

.h-price a:hover {
  background: #fff;
}

.h-info {
  width: 65%;
  padding: 20px;
}

.load-more {
  width: 100%;
  border: none;
  height: 60px;
  background: #fff;
  outline: none;
  color: #ff4870;
  font-size: 15px;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.load-more span, .load-more .check-title a i, .check-title a .load-more i {
  text-decoration: underline;
  margin-left: 15px;
}

.load-more i {
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.load-more:hover {
  background: #fafafa;
}

.load-more:hover span, .load-more:hover .check-title a i, .check-title a .load-more:hover i {
  text-decoration: none;
}

.load-more:hover i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.text-block {
  background: #fff;
  padding: 15px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
}

.fixed.fixed_aside .aside-filter {
  position: fixed;
  top: 0;
  width: 270px;
}

.hotel-features {
  padding: 15px;
  background: #fff;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
}

.hotel-features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-features ul li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: solid 1px #dedede;
}

.hotel-features ul li > div {
  float: left;
}

.hotel-features ul li .f-label {
  width: 20%;
  font-family: 'MyriadProSemiBold', sans-serif;
}

.hotel-features ul li .f-text {
  width: 80%;
}

.carousel-indicators {
  margin: 0;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  top: 100%;
  left: 0;
  bottom: inherit;
}

.carousel-indicators li {
  background-color: #fff;
  border: solid 1px #ccc;
  height: 12px;
  width: 12px;
}

.carousel-indicators .active {
  background-color: #ccc;
  border: 0;
  height: 12px;
  width: 12px;
  margin: 1px;
}

.content-slider .carousel-control {
  width: 15%;
  opacity: 1;
}

.content-slider {
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.01);
  padding-bottom: 40px;
}

.content-slider .carousel-inner > .item {
  max-height: 100%;
}

@media all and (max-width: 1199px) {
  .h-info {
    width: 55%;
  }
  .h-img {
    width: 20%;
  }
  .h-price {
    width: 25%;
  }
  .fixed.fixed_aside .aside-filter {
    width: 290px;
  }
}

@media all and (max-width: 991px) {
  .navbar-nav li a {
    padding: 15px 15px;
    line-height: inherit;
  }
  .fixed.fixed_aside .aside-filter {
    width: 220px;
  }
  .search-form {
    top: 5px;
  }
  .top100 .top-info {
    padding-right: 30px;
  }
  .top100 .top-info h3 {
    font-size: 20px;
  }
  .top100 .top-info a {
    width: 150px;
  }
  .aside-filter {
    padding: 15px;
  }
  .h-info {
    width: 50%;
  }
  .h-img {
    width: 20%;
  }
  .h-price {
    width: 30%;
    padding: 0 20px;
  }
}

@media all and (max-width: 767px) {
  .search-form {
    padding: 0 30px 0 30px;
    width: 100%;
    height: 32px;
  }
  .search-form .form-block {
    width: 100%;
    position: relative;
  }
  .search-form button {
    display: none;
  }
  .search-form .form-block > span, .search-form .check-title a .form-block > i, .check-title a .search-form .form-block > i {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: -30px;
  }
  .search-form input {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 5px;
    padding: 0;
    height: 32px;
    width: 0;
  }
  .main-filter {
    padding: 15px;
  }
  .help-row .filter-control {
    width: 100%;
    float: none;
  }
  .h2 {
    margin: 20px 0;
    font-size: 24px;
  }
  .check-block label {
    display: block;
    width: 100%;
  }
  .top100 {
    height: auto;
  }
  .top100 .top-info {
    width: 100%;
    float: none;
  }
  .top100 .table-block {
    float: none;
    width: 100%;
  }
  .top100 .table-block ul > li {
    width: 50%;
    height: 180px;
    border: solid 1px #e5e5e5;
  }
  .top100 .table-block ul > li:nth-child(1) {
    border-width: 1px 0 0 1px;
  }
  .top100 .table-block ul > li:nth-child(2) {
    border-width: 0 1px 0;
  }
  .top100 .table-block ul > li:nth-child(3) {
    border-width: 1px 1px 0 1px;
  }
  .top100 .table-block ul > li:nth-child(n+5) {
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
  }
  .top100 .table-block ul > li:nth-child(5) {
    border-right: 0;
  }
  .top100 .top-info {
    padding-right: 30px;
  }
  .top100 .top-info h3 {
    font-size: 20px;
  }
  .top100 .top-info a {
    width: 215px;
  }
  .list-filter .aside-filter {
    display: block;
    width: 100%;
    -webkit-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.02);
    -moz-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.02);
    box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.02);
    position: fixed;
    bottom: 0;
  }
  .aside-filter {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    max-height: 36px;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    z-index: 100;
    margin-top: 0;
    padding: 0 20px 20px 20px;
    overflow: hidden;
  }
  .aside-filter #open_filter {
    padding: 10px 0;
  }
  .aside-filter.slide {
    height: auto;
    max-height: 100%;
    overflow: auto;
  }
  .h2 {
    line-height: inherit;
  }
  .h2:after {
    top: 14px;
  }
  .aside-filter.slide > form {
    margin-bottom: 20px;
  }
  .toggle_filter {
    display: none;
  }
  .list-filter {
    position: static;
  }
  footer {
    margin-bottom: 36px;
  }
  .index footer {
    margin-bottom: 0;
  }
  .carousel-control {
    display: none;
  }
  .hotels li > div {
    float: none;
    width: 100%;
    border: 0 !important;
  }
  .h-price {
    margin-top: 0;
  }
  .popup {
    display: none !important;
  }
  .hotel-features ul li > div {
    float: none;
  }
}
