.i-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 30px;
}

.icon-facebook {
  width:(10.031/22)*1em;
}
.icon-google-plus {
  width:(24.063/23.47)*1em;
}
.icon-hotel-service {
  width:(47/47)*1em;
}
.icon-instagram {
  width:(19.094/19.594)*1em;
}
.icon-left-arr {
  width:(33/33)*1em;
}
.icon-map-service {
  width:(34/48)*1em;
}
.icon-pointer {
  width:(24/35)*1em;
}
.icon-right-arr {
  width:(33/33)*1em;
}
.icon-right-chev {
  width:(10.031/20)*1em;
}
.icon-right-long-arr {
  width:(66/10.91)*1em;
}
.icon-telephone {
  width:(19.03/19)*1em;
}
.icon-transport-service {
  width:(33/49)*1em;
}
.icon-twitter {
  width:(24.094/19.38)*1em;
}
