// grid breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 568px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	nt: 1366px,
	lp: 1400px
) !default;

// main font variables
$main_fontsize:  				16px;
$main_font: 					'Montserrat', sans-serif;

// other fonts
$marena_font: 					'rosa_marenaregular', sans-serif;

// default transition
$d_transition:   				all 0.3s linear 0s;

// default color
$main_color: 					#474646;