.i-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 30px;
}

.icon-arr-left {
  width:(18/34)*1em;
}
.icon-arr-right {
  width:(18/34)*1em;
}
.icon-calendar-icon {
  width:(17/17)*1em;
}
.icon-close {
  width:(14/13)*1em;
}
.icon-close-thin {
  width:(24/24)*1em;
}
.icon-exit-icon {
  width:(19/19)*1em;
}
.icon-facebook {
  width:(512/512)*1em;
}
.icon-google-plus {
  width:(512/512)*1em;
}
.icon-instagram {
  width:(100/100)*1em;
}
.icon-tel {
  width:(15/15)*1em;
}
.icon-vk {
  width:(512/512)*1em;
}
