@font-face {
  font-family: 'Sansation light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/sansation/Sansation-Light.eot');
  src: url('../fonts/sansation/Sansation-Light.eot?#iefix') format('embedded-opentype'), 
  	   url('../fonts/sansation/Sansation-Light.woff') format('woff'), 
  	   url('../fonts/sansation/Sansation-Light.ttf') format('truetype'), 
  	   url('../fonts/sansation/Sansation-Light.svg#sansationlight') format('svg');
}

@font-face {
  font-family: 'Sansation regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/sansation/Sansation-Regular.eot');
  src: url('../fonts/sansation/Sansation-Regular.eot?#iefix') format('embedded-opentype'), 
  	   url('../fonts/sansation/Sansation-Regular.woff') format('woff'), 
  	   url('../fonts/sansation/Sansation-Regular.ttf') format('truetype'), 
  	   url('../fonts/sansation/Sansation-Regular.svg#sansationreg') format('svg');
}