/*
	author: Darmits Taras;
	year: 2014;
*/
@media screen and (min-width: 1200px) {
	.banner {
		width: 44.667% !important;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.navigation ul li a {
		font-size: 13px;
		padding: 5px 23px;
	}
	.submenu ul li {
		margin-left: 12px;
	}
	.l-links ul li {
		margin-left: 5px;
	}
	.l-links ul li a {
		font-size: 12px;
	}
	.l-links {
		margin-left: 130px;
	}
	.latest-links {
		left: 24px;
	}
	.latest-block {
		height: 320px;
	}
	.events-content {
		bottom: -115px;
	}
	.align-aside {
		padding-bottom: 120px;
	}
	.banners-item .jo-block {
		float: none !important
	}
	.banners-item .jo-block a {
		margin: 20px auto;
	}
}
@media screen and (min-width: 992px) {
	.logo {
		width: 348px;
	}
	.social {
		width: 295px;
		float: right;
	}
	.last-news .col-md-4 .row-for-small {
		margin: 0;
	}
}
@media screen and (max-width: 991px) {
	.align-logo {
		margin: 0 auto;
		width: 340px;
	}
	.top-footer .align-logo {
		margin: 25px 0 0;
		width: auto;
	}
	.align-social {
		float: none;
		width: 280px;
		margin: 0 auto;
	}
	.top-footer .align-social {
		float: left;
		width: auto;
		margin: 0;
	}
	.banner {
		margin-top: 20px;
	}
	.next-news {
		margin-bottom: 0;
		margin-top: 12px;
	}
	.l-links ul li:last-child {
		display: none;
	}
	.latest-links {
		left: 12px;
	}
	.l-links ul li {
		margin-left: 10px;
	}
	.l-links ul li a {
		font-size: 12px;
	}
	.text-post {
		height: auto;
	}
	.latest-post {
		margin-bottom: 20px;
	}
	.latest-lifestyle .col-md-5 {
		margin-top: 25px;
	}
	.latest-block {
		width: 280px;
		margin: 0 0 20px;
	}
	.recent-posts, .tag-cloud {
		min-height: 20px;
		border: none;
	}
	.post-img, .posts-img {
		width: auto;
		height: auto;
	}
	.star-ctr {
		float: left;
		margin-top: 20px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.navigation ul li a {
		font-size: 13px;
		padding: 5px 11px;
	}
	.submenu ul li {
		margin-left: -3px;
	}
	.last-news .col-md-8 {
		padding: 0;
	}
	.last-news .col-md-4 .small-new {
		float: left;
		width: 50%;
		padding-left: 6px;
	}
	.last-news .col-md-4 {
		margin: 0;
	}
	.drop-level .submenu-level li {
		margin: 0 12px;
	}
	.banners-item .jo-block {
		float: none !important
	}
	.banners-item .jo-block a {
		margin: 20px auto;
	}
	.posts-pag {
		height: auto;
		background-size: cover;
	}
	.news-pag {
		width: 100%;
		float: none;
		margin: 0;
	}
	.right-news{
		margin-top: 10px;
	}
}
@media screen and (min-width: 767px) {
	.collapse {
		display: block;
		height: auto !important;
	}
}
@media screen and (max-width: 767px) {
	.align-logo, .align-social {
		width: 100%;
	}
	.middle-header {
		margin-top: 25px;
	}
	.align-social {
		margin-top: 10px;
	}
	.bottom-header {
		margin-top: 25px;
	}
	.top-header {
		display: none;
	}
	.navigation ul li {
		display: block;
		float: none;
		position: relative;
		border-top: solid 1px #2f2f2f;
	}
	.navigation ul li:first-child {
		border: none;
	}
	.navbar-collapse {
		border-top: solid 1px #2f2f2f;
	}
	.navigation ul li a {
		border: none;
		display: block;
		height: 60px;
		padding: 0 15px;
	}
	.drop i, .drop-level i {
		position: absolute;
		right: 15px;
		font-size: 16px;
		top: 18px;
	}
	.submenu ul li {
		margin: 0;
	}
	.submenu {
		position: static;
		padding: 0;
	}
	.submenu .col-md-3 {
		padding: 0;
	}
	.navigation .submenu ul li a {
		height: 30px;
		padding: 0 15px;
	}
	.navigation ul li a {
		height: 50px;
	}
	.submenu ul li {
		min-height: 50px;
		border-top: 1px solid #2f2f2f;
		border-bottom: 0;
	}
	.top-navigation {
		background: #191919;
	}
	.submenu {
		background: #000000;
	}
	.show-xs {
		display: block;
	}
	.hide-xs {
		display: none;
	}
	.aside {
		position: static;
	}
	.your-ads img {
		width: auto;
	}
	.latest-post {
		margin: 0 auto 20px;
	}
	.latest-block {
		margin: 0 auto 20px;
	}
	.post-block {
		margin: 0 auto 15px;
	}
	.bottom-footer {
		height: auto;
		line-height: inherit;
	}
	.bottom-footer p {
		margin: 10px 0;
		float: none !important;
	}
	.subscribe {
		margin: 0 auto 20px;
	}
	.header-cat {
		margin: 0;
	}
	.panel-heading {
		cursor: pointer;
	}
	.bottom-footer {
		text-align: center;
	}
	.post-img {
		height: auto;
		width: auto;
	}
	.subscribe .btn-default {
		width: auto;
	}
	.submenu-level {
		position: static;
		width: 100%;
		background: #000;
		padding-bottom: 0;
	}
	.drop-level .submenu-level li {
		margin: 0;
		height: auto;
		min-height: 40px;
	}
	.drop-level .submenu-level li a {
		padding-left: 15px;
		padding-right: 15px;
		border: none;
	}
	.submenu-level-two {
		position: static;
		width: 100%;
		padding-bottom: 0;
	}
	.submenu-level-two li a {
		padding-left: 40px !important;
	}
	.posts-pag {
		height: auto;
		background-size: cover;
	}
	.news-pag {
		width: 100%;
		float: none;
		margin: 0;
	}
	.right-news{
		margin-top: 10px;
	}
	.error h1 {
		font-size: 100px;
	}
	.input-block {
		padding-left: 20px;
	}
	.search-form {
		height: 50px;
	}
}
