/*
	author: Darmits Taras;
	year: 2014;
*/
/*main styles*/
body {
	font: 13px 'Open Sans', sans-serif;
	font-weight: 300;
	background: #fff;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.wrapper {
	min-width: 360px;
}
/*End main styles*/
/*header styles*/
.top-header {
	width: 100%;
	background: #1a1a1a;
	height: 30px;
	line-height: 26px;
	margin-bottom: 50px;
}
.top-header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.top-header ul li {
	float: left;
	margin-left: 25px;
}
.top-header ul li:first-child {
	margin: 0;
}
.top-header ul li a {
	color: rgba(255,255,255,0.6);
	font-size: 12px;
	text-decoration: none;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.top-header ul li a:hover, .top-header ul li a:focus {
	text-decoration: underline;
	color: #fff;
}
.align-logo {
	position: relative;
}
.logo-block {
	width: 70px;
	height: 70px;
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 35px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	line-height: 66px;
}
.logo-title {
	margin-left: 90px;
}
.logo-title h1 {
	margin: 8px 0 0px;
	font-size: 30px;
	color: #000;
}
.slogan {
	margin: 0;
	font-size: 14px;
	color: rgba(0,0,0,0.5);
}
.banner {
	text-align: center;
}
.banner img {
	max-width: 100%;
}
.align-social {
	float: right;
	padding-top: 15px;
}
.align-social ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.align-social ul li {
	float: left;
	margin-left: 2px;
}
.align-social ul li:first-child {
	margin: 0;
}
.align-social ul li {
	width: 35px;
	height: 35px;
	border: solid 2px #000;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
}
.align-social ul li a {
	display: block;
	color: #000;
	font-size: 20px;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
	height: 34px;
}
.align-social ul li a:hover {
	color: #fff;
	background: #000;
	text-decoration: none;
}
.bottom-header {
	margin-top: 50px;
}
.top-navigation {
	min-height: 60px;
	background: #1a1a1a;
}
.news-links {
	min-height: 40px;
	background: #ededed;
}
.navbar-toggle {
	color: #fff;
	padding-left: 15px;
	float: left;
}
.navbar-toggle i {
	font-size: 16px;
	position: relative;
	right: -10px;
	top: 1px;
}
.navbar-toggle i:before {
	content: "\f107";
}
.navbar-toggle i.drop-angle:before {
	content: "\f106";
}
.navigation ul li {
	float: left;
	min-height: 60px;
	line-height: 60px;
}
.navigation ul li a {
	color: #fff;
	padding: 5px 30px;
	font-size: 15px;
	border-right: dotted 1px #484848;
}
.navbar-collapse {
	box-shadow: none;
	padding: 0;
	position: relative;
}
.navbar-collapse.in {
	overflow: hidden;
}
.fa {
	display: inline !important;
}
.submenu {
	position: absolute;
	width: 100%;
	left: 0;
	top: 60px;
	background: #1a1a1a;
	border-top: solid 1px #2f2f2f;
	display: none;
	padding: 25px 0;
	z-index: 100;
}
.submenu ul li {
	display: block;
	float: none;
	min-height: 30px;
	padding: 5px 0;
	border-bottom: dotted 1px #484848;
	line-height: 30px;
	margin-left: 15px;
}
.navigation .submenu ul li a {
	padding: 0;
	border-right: 0;
	display: block;
	font-size: 13px;
	position: relative;
	color: #fff;
}
.navigation .submenu ul li a span {
	position: absolute;
	right: 15px;
	color: #707070;
}
/*submenu level*/
.drop-level {
	position: relative;
}
.submenu-level {
	position: absolute;
	top: 60px;
	z-index: 100;
	width: 210px;
	background: #1a1a1a;
	padding-bottom: 20px;
	border-top: solid 1px #313131;
	display: none;
}
.drop-level .submenu-level li {
	float: none;
	display: block;
	min-height: 40px;
	height: 40px;
	margin: 0 15px;
}
.drop-level .submenu-level li a {
	display: block;
	height: 40px;
	line-height: 29px;
	border: none;
	border-bottom: dotted 1px #313131;
	padding: 5px 0;
	font-size: 13px;
}
.drop-level:hover .submenu-level, .drop-level-two:hover .submenu-level-two {
	display: block;
}
.drop-level-two {
	position: relative;
}
.submenu-level-two {
	top: 0;
	right: -210px;
	border-top: 0;
	z-index: 100;
	width: 210px;
	background: #1a1a1a;
	padding-bottom: 20px;
	position: absolute;
	display: none;
}
/*.drop-level:hover .submenu-level {
	display: block;
}
.drop-level-two:hover .submenu-level-two {
	display: block !important;
}*/
.menu {
	position: relative;
}
.input-block input {
	width: 100%;
	outline: none;
}
.input-block {
	width: 96%;
	display: none;
	padding-top: 9px;
	z-index: 10;
}
.search-form {
	position: absolute;
	top: 0;
	right: 10px;
	background: #1a1a1a;
	z-index: 101;
	overflow: hidden;
	width: 35px;
	height: 58px;
}
.search-button {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	color: #fff;
	font-size: 20px;
	line-height: 55px;
	outline: none;
	display: block;
}
.button-block {
	width: 35px;
	position: absolute;
	right: 0px;
	z-index: 20;
	text-align: center;
	background: #1a1a1a;
}
.button-block a:hover, .button-block a:focus {
	color: #fff;
	text-decoration: none;
	outline: none;
}
.help-search {
	position: relative;
	min-width: 35px;
	height: 60px;
}
.search-input {
	background: none;
	border: none;
	color: #fff;
	height: 40px;
}
.img-block {
	position: relative;
	height: 220px;
}
.img-block img {
	width: 100%;
	max-height: 100%;
	height: 100%;
	width: 100%;
}
.header-cat {
	margin-top: -14px;
}
.news-title {
	min-width: 50px;
	height: 25px;
	background: #ed1b24;
	padding: 5px 10px 9px;
	font-size: 12px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.news-title h6 {
	color: #fff;
	margin: 0;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}
.first-news h4 {
	margin: 10px 0;
}
.first-news h4 a {
	font-size: 20px !important;
	color: #fff;
	text-decoration: none;
	padding: inherit;
	border-right: none !important;
	padding: 0 !important;
	transition: all 0.4s linear 0s;
}
.first-news h4 a:hover {
	text-decoration: underline;
}
.date-block {
	color: rgba(255,255,255,0.3);
	line-height: 1.42857;
}
.date-block span {
	margin: 0 10px;
}
.next-news {
	padding: 0 0 12px;
	border-bottom: dotted 1px #313131;
	position: relative;
	margin-bottom: 12px;
}
.next-img {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0;
	top: 0;
}
.next-content {
	margin-left: 80px;
	min-height: 60px;
}
.next-content h5 {
	padding: 8px 0;
	margin: 0;
}
.next-content h5 a {
	font-size: 15px !important;
	color: #fff !important;
	border-right: none !important;
	padding: 0 !important;
}
.cat-block {
	display: none;
}
.first-cat {
	display: block;
}
.news-links {
	position: relative;
	line-height: 40px;
}
.latest-links {
	position: absolute;
	top: 0;
	left: 30px;
}
.l-links {
	margin-left: 150px;
}
.latest {
	color: #c04639;
}
.l-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
marquee {
	height: 29px;
}
.l-links ul li {
	display: inline-block;
	margin-left: 20px !important;
}
.l-links ul li:first-child {
	margin: 0;
}
.l-links ul li a {
	color: rgba(0,0,0,0.5);
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.l-links ul li a:hover {
	color: #000;
}
/*End header styles
/*styles for content*/
.align-aside {
	position: relative;
}
.aside {
	position: absolute;
	right: 0;
}
.content {
	margin-top: 30px;
}
.rating-tabs ul[role="tablist"] {
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
}
.rating-tabs ul[role="tablist"] li {
	display: table-cell;
}
.rating-tabs ul[role="tablist"] li a {
	display: block;
	text-align: center;
	height: 26px;
	background: #ededed;
	color: #000;
	line-height: 24px;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.rating-tabs ul[role="tablist"] li a:hover, .rating-tabs ul[role="tablist"] li a:focus {
	color: #fff;
	background: #000;
	text-decoration: none;
}
.rating-tabs ul[role="tablist"] li.active a {
	color: #fff;
	background: #000;
	text-decoration: none;
}
.tab-content {
	margin-top: 20px;
}
/*tabs*/
.tab-cont {
	position: relative;
	margin-bottom: 14px;
	border-bottom: dotted 1px #dddddd;
	min-height: 85px;
	padding-bottom: 10px;
}
.tab-img {
	width: 70px;
	height: 70px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
.tab-wrap {
	margin-left: 85px;
}
.tab-wrap a {
	font-size: 15px;
	color: #000;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.tab-wrap a:hover, .tab-wrap a:focus {
	text-decoration: none;
	color: #ed1b24;
}
.tab-link {
	margin-bottom: 10px;
}
.tab-wrap .date-block {
	font-size: 13px;
	color: #bcbcbc;
}
.tab-wrap .date-block span {
	margin: 0;
}
/*star*/
.star-ctr, .star-ctr-show {
	display: inline-block;
	position: relative;
}
.star-ctr ul {
	white-space: nowrap;
	list-style: none outside none;
	padding-left: 0;
	overflow: hidden;
}
.star-fg {
	top: 0;
	position: absolute;
}
.star-ctr li, .star-ctr-show li {
	display: inline-block;
}
.star-ctr a, .star-ctr-show a {
	outline: none;
}
.star-ctr a:hover, .star-ctr a:focus, .star-ctr-show a:hover, .star-ctr-show a:focus {
	text-decoration: none;
}
.star-ctr a > span, .star-ctr-show a > span {
	font-size: 16px;
}
.star-bg a > span, .star-ctr-show a > span {
	color: #bcbcbc;
}
.star-fg a > span {
	color: #ffc000;
}
.star-ctr-show a.star-ok span {
	color: #ffc000;
}
/*End styles for content
/*subscribe*/
.subscribe {
	padding: 20px;
	min-height: 195px;
	background: url(../img/subscribe-bg.jpg) no-repeat;
	background-size: cover;
	margin-bottom: 20px;
	color: #fff;
}
.subscribe h4 {
	color: #fff;
	margin: 0 0 10px;
}
.form-control {
	border: none;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.form-control:focus {
	border: none;
	box-shadow: none;
	outline: none;
}
.no-margin{
	margin: 0;
}
.subscribe .btn-default {
	width: 100%;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	outline: none;
}
.btn-default {
	background-color: #ed1b24;
	border: none;
	color: #fff;
	font-size: 15px;
	border-bottom: 3px solid #860409;
	padding: 6px 30px;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
	outline: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
	border-color: #860409;
	background-color: #cc1920;
	color: #fff;
	outline: 0 none !important;
}
/*collapsing*/
.panel {
	border: none;
	box-shadow: none;
}
.panel-group .panel {
	border-radius: 0;
}
.panel-group .panel-heading {
	border: none;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
	border: none;
	padding: 0;
}
.panel-heading {
	background: url(../img/title-bg-light.png) repeat-x left 1px;
	border-radius: 0;
	padding: 0;
	cursor: default;
	position: relative;
}
.panel-title {
	font-size: 24px;
	color: #1a1a1a;
	background: #fff;
	display: inline-block;
	padding-right: 15px;
}
.show-xs {
	display: none;
}
.panel-body {
	margin-top: 15px;
}
.panel-group .panel + .panel {
	margin: 0;
} 
.panel-group .panel {
	margin-bottom: 25px;
}
.aside-cat li {
	border-bottom: 1px dotted #dddddd;
	display: block;
	min-height: 35px;
	padding: 5px 0 0;
	line-height: 25px;
	position: relative;
}
.aside-cat li a {
	display: block;
	color: #1a1a1a;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.aside-cat li a:hover, .aside-cat li a:focus {
	color: #ed1b24;
	text-decoration: none;
}
.aside-cat li span {
	position: absolute;
	right: 0;
	top: 3px;
	color: rgba(0,0,0,0.5);
}
.panel-heading h3 span {
	position: absolute;
	right: 0;
	background: #fff;
	color: #ddd;
	padding: 0 0 0 10px;
	font-size: 30px;
	top: -4px;
}
.panel-heading h3 span:before {
	content: "\f107";
}
.panel-heading h3 span.drop-angle:before {
	content: "\f106";
}
.social-count {
	margin: -10px 0 0 -10px;
}
.social-count li {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.social-count li a {
	display: block;
	border: solid 1px #e2e2e2;
	height: 44px;
	width: 44px;
	text-align: center;
	line-height: 44px;
	color: #000;
	font-size: 20px;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.social-count li a:hover, .social-count li a:focus {
	color: #ef3734;
	text-decoration: none;
}
.tooltip-inner {
	padding: 5px 8px;
}
.panel-group .panel + .panel {
	margin: inherit;
}
input[type="radio"] {
	display:none;
}
input[type="radio"] + label span {
	display:inline-block;
	width:12px;
	height:12px;
	margin:-2px 4px 0 0;
	vertical-align:middle;
	background:url(../img/radio.png) left top no-repeat;
	cursor:pointer;
}
input[type="radio"]:checked + label span {
	background:url(../img/radio.png) 0 -14px no-repeat;
}
label {
	cursor: pointer;
	margin: 0;
	color: #1a1a1a;
	font-weight: normal;
}
.vote-form input[type="radio"] + label span {
	margin-right: 15px;
}
.panel-body h4 {
	margin: 0 0 20px;
	font-size: 20px;
}
.vote-form h4 i {
	margin-right: 10px;
}
.view-res {
	color: rgba(0,0,0,0.5);
	margin-left: 25px;
	border-bottom: dotted 1px #7f7f7f;
}
.view-res:hover, .view-res:focus {
	color: rgba(0,0,0,0.5);
	text-decoration: none;
}
/*.your-ads img {
	border: solid 1px #e5e5e5;
}
.your-ads img {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}*/
.banners-item .row {
	margin-top: -15px;
}
.banners-item a {
	display: block;
	width: 125px;
	height: 125px;
	border: solid 1px #e5e5e5;
	text-align: center;
	line-height: 120px;
	color: #cdcdcd;
	margin-top: 15px;
	overflow: hidden;
}
.banners-item a:hover, .banners-item a:focus {
	color: #cdcdcd;
	text-decoration: none;
}
/*Style for content*/
.last-news .col-md-8, .last-news .col-md-4 {
	padding: 0;
}
.last-news .col-md-8 {
	padding-right: 6px;
}
.big-new {
	height: 340px;
	position: relative;
	overflow: hidden;
}
.big-new:before, .small-new:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 137px;
	background: url(../img/news-shadow.png) no-repeat;
}
.big-new img, .small-new img {
	max-height: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
}
.small-new {
	position: relative;
	height: 173px;
	padding-top: 6px;
	overflow: hidden;
}
.last-news .col-md-4 {
	margin-top: -6px;
}
.last-news .col-md-8 .small-new {
	width: 50%;
	float: left;
	padding-left: 6px;
}
.row-for-small {
	margin-left: -6px;
}
.news-content {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 0 15px 15px;
	z-index: 10;
}
.new-title {
	background: rgba(0,0,0,0.7);
	font-size: 12px;
	height: 25px;
	min-width: 50px;
	padding: 6px 10px 9px;
	color: #fff;
	display: inline-block;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.news-content h4 {
	margin: 10px 0;
}
.news-content .date-block {
	color: rgba(255,255,255,0.5);
}
.news-content h4 a {
	color: #fff;
}
.news-content .new-title h6 {
	color: #fff;
	margin: 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.big-new:hover .new-title, .small-new:hover .new-title {
	background-color: #ed1b24;
}
/*latest-posts*/
.main-content .panel-heading {
	margin: 25px 0;
	background-position: left 6px;
	cursor: default;
}
.main-content .panel-heading .panel-title {
	font-size: 30px;
}
.main-content .panel-heading h2 span {
	font-weight: 400;
}
.latest-post {
	padding-bottom: 20px;
	border-bottom: dotted 1px #ccc;
}
.post-img {
	position: relative;
	height: 140px;
	overflow: hidden;
}
.post-img img {
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	width: 100%;
}
.latest-post .news-title {
	background: rgba(0, 0, 0, 0.7);
}
.latest-post:hover .news-title {
	background: #ed1b24;
}
.popular-posts .post-content h5 a {
	font-size: 18px;
}
.post-content h5 a {
	color: #1a1a1a;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
	text-transform: uppercase;
	line-height: 1.4;
}
.post-content h5 a:hover, .post-content h5 a:focus {
	color: #ed1b24;
	text-decoration: none;
}
.latest-post .date-block, .big-lifestyle .date-block, .post-block .date-block {
	color: #1a1a1a;
}
.text-post {
	margin: 15px 0;
	overflow: hidden;
	height: 95px;
}
.text-post p {
	margin: 0;
	color: #1a1a1a;
	line-height: 1.5;
}
.read-more {
	color: #1a1a1a;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.read-more:hover, .read-more:focus {
	color: #ed1b24;
	text-decoration: underline;
}
.big-lifestyle .post-img {
	height: auto;
}
.big-lifestyle .post-img img {
	width: 100%;
}
.latest-lifestyle .news-title {
	background: rgba(0, 0, 0, 0.7);
}
.latest-lifestyle .big-lifestyle:hover .news-title {
	background: #ed1b24;
}
.latest-lifestyle .text-post {
	height: auto;
}
.latest-lifestyle .next-img {
	width: 70px;
	height: 70px;
	overflow: hidden;
}
.latest-lifestyle .next-img img {
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}
.latest-lifestyle .next-news {
	border-color: #ddd;
}
.latest-lifestyle .next-news .date-block {
	color: #b7b7b7;
}
.latest-lifestyle .next-content h5 a {
	color: #1a1a1a !important;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.latest-lifestyle .next-news:hover .next-content h5 a {
	color: #ed1b24 !important;
	text-decoration: none;
}
.latest-lifestyle .next-news {
	padding: 0 0 25px;
}
.latest-block {
	position: relative;
	height: 400px;
	overflow: hidden;
}
.latest-block img {
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}
.latest-block:before {
	content: "";
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 261px;
	background: url(../img/events-shadow.png) repeat-x;
}
.latest-block:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0;
	z-index: 5;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.events-content {
	position: absolute;
	bottom: -95px;
	width: 100%;
	padding: 0 20px 20px 20px;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
	z-index: 10;
}
.events-content .new-title h6 {
	color: #fff;
	margin: 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.events-content h5 {
	max-height: 55px;
	overflow: hidden;
}
.events-content h5 a {
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
}
.events-text p {
	margin: 0;
	color: #fff;
	line-height: 1.5;
}
.latest-block:hover .new-title {
	background: #ed1b24;
}
.latest-block:hover .events-content {
	bottom: 0;
}
.latest-block:hover:after {
	opacity: 0.5;
}
.post-block {
	position: relative;
	padding-bottom: 15px;
	border-bottom: dotted 1px #d9d9d9;
	margin-bottom: 15px;
}
.posts-img {
	position: relative;
}
.posts-img img {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}
.post-block .text-post {
	height: auto;
}
.post-block .new-title {
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.post-block .new-title h6 {
	color: #fff;
	margin: 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.post-block:hover .new-title {
	background: #ed1b24;
}
/*styles for footer*/
footer {
	margin-top: 15px;
	min-width: 360px;
}
.top-footer {
	width: 100%;
	background: #131313;
}
.bottom-footer {
	width: 100%;
	background: #141414;
	border-top: dotted 1px #313131;
	height: 70px;
	line-height: 70px;
}
.bottom-footer p {
	margin: 0;
	color: #fff;
}
.top-footer {
	/*padding: 25px 0;*/
}
.top-footer .align-logo {
	height: 70px;
	margin-top: 25px;
}
.top-footer .logo-block {
	background: #fff;
	color: #000;
}
.top-footer .logo-title h1 {
	color: #fff;
}
.top-footer .slogan {
	color: rgba(255,255,255,0.5);
}
.foot-text {
	padding: 30px 20px 30px 0;
	color: rgba(255,255,255,0.5);
	border-bottom: dotted 1px #262626;
	border-top: dotted 1px #262626;
	margin: 30px 0;
	line-height: 1.6;
}
.top-footer .align-social {
	float: left;
	padding: 0;
}
.top-footer .align-social ul li:first-child {
	margin: 0;
}
.top-footer .align-social ul li {
	border-color: #484848;
	margin-left: 5px;
}
.top-footer .align-social ul li a {
	color: #484848;
}
.top-footer .align-social ul li a:hover,
.top-footer .align-social ul li a:focus {
	color: #fff;
	background: #484848;
}
.recent-posts, .tag-cloud {
	min-height: 450px;
	border-left: dotted 1px #313131;
}
.top-footer .panel-group .panel {
	margin: 25px 0;
	background: none;
}
.top-footer .panel-group .panel-title {
	color: #fff;
	background: #1a1a1a;
	font-size: 20px;
}
.top-footer .panel-heading {
	background: url(../img/title-bg-dark.png) repeat-x left 3px;
}
.top-footer .panel-heading h3 span {
	background: #131313;
	color: #5f5f5f;
	top: -6px;
}
.top-footer .next-news {
	padding: 0 0 25px;
}
.top-footer .next-img {
	height: 70px;
	overflow: hidden;
	width: 70px;
}
.top-footer .next-content {
	margin-left: 90px;
}
.view-all {
	padding: 10px 0;
	text-align: center;
}
.view-all a {
	color: #9e9e9e;
}
.view-all a:hover,
.view-all a:focus {
	color: #fff;
	text-decoration: none;
}
.top-footer .panel-body {
	margin-top: 25px;
}
.tags {
	margin: -5px 0 0 -5px;
}
.tags li {
	display: block;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.tags li a {
	display: block;
	padding: 8px;
	border: solid 1px #313131;
	color: #fff;
	font-weight: 400;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.tags li a:hover {
	text-decoration: none;
	background: #313131;
}
.category-search {
	width: 100%;
	position: relative;
	padding: 10px;
	border: solid 1px #313131;
	height: 38px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.category-search a {
	color: #5c5c5c;
	outline: none;
	display: block;
	width: 100%:;
}
.category-search a i {
	font-size: 20px;
	position: absolute;
	right: 10px;
	top: 8px;
}
.category-search a:hover,
.category-search a:focus {
	color: #5c5c5c;
	text-decoration: none;
}
.sub-search {
	width: 100%;
	position: absolute;
	top: 36px;
	left: 0;
	border: solid 1px #313131;
	-o-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	border-top: 0;
	max-height: 150px;
	overflow: hidden;
	display: none;
}
.rails-div {
	height: 150px;
}
.sub-search ul li {
	border-bottom: solid 1px #313131;
	display: block;
}
.sub-search ul li:last-child {
	border: none;
}
.sub-search ul li a {
	padding: 10px;
}
.sub-search ul li a:hover {
	color: #fff;
}
.category-help {
	min-height: 180px;
}
.top-footer .panel-group {
	margin: 0;
}
.m-t-0 {
	margin-top: 0 !important;
}
.bloglist-2 .latest-post {
	border: 0;
}
.bloglist-3 {
	border-bottom: 1px dotted #d9d9d9;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.bloglist-3 .news-title {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}
.bloglist-3 .big-lifestyle:hover .news-title {
	background: none repeat scroll 0 0 #ed1b24;
}
.bloglist-3 .text-post {
	height: auto;
}
/*Styles for blog inside*/
.slide-block {
	position: relative;
	min-height: 50px;
}
.text-area {
	margin: 20px 0;
}
.text-area p {
	margin: 0;
	font-size: 15px;
	color: rgba(0,0,0,0.8);
}
.slide-block img {
	max-width: 100%;
}
.slide-block .news-title {
	background: rgba(0, 0, 0, 0.7);
	left: 20px;
	bottom: 20px;
}
.carousel:hover .news-title {
	background: #ed1b24;
}
.carousel-control.left, .carousel-control.right {
	background-image: none;
	display: none;
}
.carousel:hover .carousel-control.left, .carousel:hover .carousel-control.right {
	display: block;
}
.carousel-control {
	width: 8%;
	color: #1a1a1a;
}
.carousel-control:hover, .carousel-control:focus {
	color: #131313;
}
.main-content .tags li a {
	color: #444444;
}
.main-content .tags li a:hover {
	color: #ed1b24;
	border: solid 1px #ed1b24;
	background: none;
}
.main-content .tags li a.active-tag {
	color: #ed1b24;
	border: solid 1px #ed1b24;
	background: none;
}
.star-ctr {
	float: right;
}
.posts-pag {
	margin: 30px 0;
	background: url(../img/posts-pag.png) no-repeat;
	height: 130px;
	padding: 20px;
}
.news-pag {
	background: #fff;
	height: 90px;
	padding: 10px;
	width: 49%;
	float: left;
	display:block;
	position: relative;
	color: rgba(0,0,0,0.88);
	overflow: hidden;
}
.news-pag:hover, .news-pag:focus {
	color: rgba(0,0,0,0.88);
	text-decoration: none;
}
.news-pag img {
	position: absolute;
	left: 10px;
	width: 70px;
	height: 70px;
	overflow: hidden;
}
.pag-text {
	margin-left: 90px;
	line-height: 1.6;
	padding-top: 10px;
}
.left-news {
	margin-right: 0.5%;
}
.right-news {
	margin-left: 0.5%;
	float: right;
}
.right-news img {
	right: 10px;
	left: inherit;
}
.right-news .pag-text {
	margin-left: inherit;
	margin-right: 90px;
	text-align: right;
}
.nav-post {
	background: #fff;
	position: absolute;
	width: 100%;
	height: 90px;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 90px;
	font-size: 17px;
	opacity: 0;
	-moz-transition: all 0.4s linear 0s;
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.nav-post i {
	font-size: 20px;
}
.news-pag:hover .nav-post {
	opacity: 0.9;
}
.posted-by {
	margin: 30px 0;
	border-top: dotted 1px #d9d9d9;
	border-bottom: dotted 1px #d9d9d9;
	padding: 30px 0;
	position: relative;
	min-height: 150px;
}
.posted-by img {
	width: 90px;
	height: 90px;
	position: absolute;
	left: 0;
	overflow: hidden;
}
.by-text {
	margin-left: 110px;
}
.by-text p {
	margin: 0;
	color: rgba(0,0,0,0.7);
	line-height: 1.6;
}
.by-text h4 span {
	font-weight: 400;
}
.one-comment {
	position: relative;
	margin-bottom: 20px;
}
.one-comment img {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 0;
}
.text-comment {
	margin-left: 90px;
	padding-top: 10px;
}
.text-comment h5 {
	font-size: 13px;
	margin-top: 0;
}
.sep {
	margin: 0 10px;
	color: #939393;
}
.text-comment h5 span {
	color: #939393;
	font-size: 11px;
}
.text-comment p {
	margin: 0;
	color: rgba(0,0,0,0.8);
	line-height: 1.6;
}
.text-comment h5 a {
	font-size: 11px;
	color: #ed1b24;
}
.main-content .form-group input.form-control {
	border-radius: 0;
	border: solid 1px #cccccc;
	height: 35px;
}
.main-content .form-group textarea.form-control {
	height: 150px;
	resize: none;
	border-radius: 0;
	border: solid 1px #cccccc;
}
.inside-posts .latest-post{
	border-bottom: none;
}
.load-more {
	text-align: center;
	padding: 30px 0;
}
.load-more a i {
	margin-right: 10px;
}
.load-more a {
	background: #f0f0f0;
	color: #8d8d8d;
	padding: 20px 30px;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    inset 0px 1px 3px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         inset 0px 1px 3px 0px rgba(50, 50, 50, 0.1);
}
.load-more a:hover, .load-more a:focus {
	color: #8d8d8d;
	text-decoration: none;
}
.area-help {
	margin-top: 15px;
}
/*Styles for error*/
.error {
	margin: 100px 0;
	text-align: center;
}
.error h1 {
	font-size: 200px;
	font-weight: 400;
	color: #000;
	margin: 0;
}
.error h2 {
	font-size: 40px;
}
/*End Styles for error*/
/*End Styles for blog inside*/
/*ANIMATION FOR SUBMENU*/
.drop-level:hover .submenu-level, .drop-level-two:hover .submenu-level-two {
	-webkit-animation-name: slidenavAnimation;
	-webkit-animation-duration:0.4s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;

	-moz-animation-name: slidenavAnimation;
	-moz-animation-duration:.4s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;

	-o-animation-name: slidenavAnimation;
	-o-animation-duration:.4s;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: forwards;

	animation-name: slidenavAnimation;
	animation-duration:0.4s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes slidenavAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
	}
	@-moz-keyframes slidenavAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-o-keyframes slidenavAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/*END ANIMATION FOR SUBMENU