.room-carousel .sp-nav {
	position: absolute;
    width: 100%;
    bottom: 15px;
    right: 0;
    text-align: center;
	@include media-up(md) {
        width: auto;
        bottom: 40px;
        right: 60px;   
    }
	span {
        width: 34px;
        height: 34px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: solid 2px rgba(#fff, 0.6);
        transition: $d_transition;
        cursor: pointer;
        &.next {
        	margin-left: 40px;
        }
        &:hover {
            background: #a5803f;
            border-color: #a5803f;
            svg {
                fill: #fff;
            }
        }
        svg {
            fill: #fff;
            font-size: 10px;
            transition: $d_transition;
        }
    }
}
.room-carousel {
    position: relative;
}
.single-room {
    max-width: 1920px;
    margin: 0 auto;
    .room-row {
        margin: 0 0 45px;
        @include media-up(md) {
            margin: 0 0 55px;
        }
        @include media-up(lg) {
            display: flex;
            align-items: flex-start;
            margin: 0 0 35px;
        }
        @include media-up(nt) {
            margin: 0 0 55px;
        }
        @include media-up(lp) {
            margin: 0 0 rem(70);
        }
    }
    .room-carousel {
        @include media-up(lg) {
            width: 50%;
        }
        @include media-up(nt) {
            width: 58%;
        }
        @include media-up(lp) {
            width: 67%;
        }
    }
    .room-info {
        padding: 30px 15px 0;
        display: flex;
        flex-direction: column;
        @include media-up(lg) {
            width: 50%;
            padding: 30px 30px 0;
        }
        @include media-up(nt) {
            width: 42%;
        }
        @include media-up(lp) {
            width: 33%;
            padding: 0 rem(45) 0;
        }
        .r-title {
            font-size: 30px;
            font-weight: 500;
            color: #000;
            margin: 0 0 15px;
            @include media-up(lp) {
                font-size: 36px;
                margin: 0 0 20px;
            }
        }
        .r-descr {
            font-size: 16px;
            margin: 0 0 30px;
            @include media-up(sm) {
                margin: 0 0 45px;
            }
            @include media-up(md) {
                font-size: 18px;
                margin: 0 0 30px;
            }
        }
        .r-text {
            font-size: 14px;
            color: #333;
            margin: 0 0 35px;
            @include media-up(md) {
                font-size: 15px;
            }
        }
        .room-area {
            padding: 30px 0;
            border-top: solid 1px rgba(#a38f54, 0.24);
            border-bottom: solid 1px rgba(#a38f54, 0.24);
            margin: 0;
            @include media-up(sm) {
                display: flex;
                align-items: center;
            }
            @include media-up(md) {
                margin: 0 0 35px;
            }
            .r-space,
            .r-capacity {
                display: flex;
                align-items: center;
                .num {
                    font-size: 18px;
                    font-weight: 300;
                    span {
                        font-size: 36px;
                    }
                }
                .n-text {
                    font-size: 14px;
                    margin-left: 20px;
                }
            }
            .r-capacity {
                margin: 20px 0 0;
                @include media-up(sm) {
                    margin: 0 0 0 70px;
                }
            }
        }
        .r-row {
            order: -1;
            @include media-up(md) {
                order: 0;
            }
        }
        .r-controls {
            order: -1;
            margin-bottom: 40px;
            @include media-up(sm) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            @include media-up(md) {
                align-items: flex-start;
                flex-direction: column;
                order: 0;
                margin-bottom: 0;
            }
            @include media-up(nt) {
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            }
            @include media-up(lp) {
                align-items: flex-start;
                flex-direction: column;
            }
            .btn {
                margin-top: 25px;
                min-width: 100%;
                @include media-up(sm) {
                    margin-top: 0;
                    min-width: 235px;
                }
                @include media-up(md) {
                    margin-top: 30px;
                }
                @include media-up(nt) {
                    margin-top: 0;
                }
                @include media-up(lp) {
                    margin-top: 33px;
                }
            }
        }
        .r-price {
            display: flex;
            align-items: center;
            font-size: 15px;
            span {
                font-size: 24px;
                font-weight: 500;
                margin: 0 5px;
            }
        }
    }
    .acccommodations-row {
        margin-bottom: 55px;
        padding: 0 15px;
        @include media-up(md) {
            margin-bottom: 85px;
            padding: 0 50px;
        }
        @include media-up(lg) {
            padding: 0 50px;
            display: flex;
            align-items: flex-start;
        }
        @include media-up(lp) {
            padding: 0 rem(110);
        }
        .left-info {
            @include media-up(lg) {
                padding: 0 30px 0 0;
            }
            @include media-up(xl) {
                padding: 0 60px 0 0;
            }
        }
        .r-information {
            position: relative;
            @include media-up(md) {
                padding: 0 0 0 30px;
                border-left: solid 1px #9a7f45;
            }
            @media all and (min-width: 1600px) {
                padding: 0 0 0 rem(70);
            }
            .room-decorate {
                position: absolute;
                transform-origin: left bottom;
                transform: rotate(-90deg) translateX(-100%);
                left: -15px;
                top: 0;
                font-size: 16px;
                color: #9a7f45;
                text-transform: uppercase;
            }
            .r-descr {
                font-size: 18px;
                font-weight: 500;
                margin: 0 0 25px;
            }
            .r-text {
                color: #363636;
                font-size: 14px;
                @include media-up(md) {
                    font-size: 15px;
                }
            }
            .r-title {
                color: #000;
                font-weight: 500;
                font-size: 18px;
                margin: 0 0 30px;
                line-height: 30px;
                @include media-up(md) {
                    font-size: 20px;
                }
            }
        }
        .r-notice {
            color: #9a7f45;
            font-size: 14px;
            margin: 25px 0 0;
            font-weight: 500;
            line-height: 30px;
            @include media-up(md) {
                font-size: 15px;
            }
            @include media-up(lg) {
                margin: 15px 0 0;
            }
            @include media-up(lp) {
                margin: 35px 0 0;
            }
        }
    }
    .acccommodations-block {
        max-width: 460px;
        width: 100%;
        background: #333650;
        flex-shrink: 0;
        box-shadow: 0 25px 45px 10px rgba(0,0,0,.3);
        padding: 35px 45px;
        color: #fff;
        @include media-up(sm) {
            margin-top: 45px;
        }
        @include media-down(md) {
            margin: 60px auto 0;
        }
        @include media-down(xs) {
            margin: 20px 0 0;
            padding: 35px 15px;
        }
        .a-title {
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            margin: 0 0 20px;
            @include media-up(md) {
                font-size: 24px;
            }
        }
        .a-text {
            font-size: 14px;
            line-height: 30px;
            margin: 0 0 30px;
            color: rgba(#fff, 0.82);
            @include media-up(md) {
                font-size: 15px;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                margin-bottom: 24px;
                padding-left: 25px;
                font-size: 14px;
                color: rgba(#fff, 0.82);
                @include media-up(md) {
                    font-size: 15px;
                }
                &:before {
                    content: '';
                    width: 7px;
                    height: 7px;
                    border-radius: 20px;
                    border: solid 1px #a09065;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 6px;
                }
            }
        }
    }
    .room-icons {
        margin: 0 -8px;
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        @include media-up(lg) {
            max-width: 590px;
            margin-bottom: 0;
        }
        @media all and (min-width: 1600px) {
            max-width: 800px;
            margin-bottom: 80px;
        }
        li {
            width: 50%;
            padding: 0 8px;
            display: inline-flex;
            align-items: center;
            margin-bottom: 20px;
            @include media-up(sm) {
                width: 33.333%;
                margin-bottom: 20px;
            }
            @include media-up(md) {
                margin-bottom: 30px;
            }
            @include media-up(lg) {
                width: auto;
            }
            @include media-up(xl) {
                width: 33.333%;
            }
            @media all and (min-width: 1600px) {
                width: 25%;
            }
            .icon {
                width: 48px;
                height: 48px;
                flex-shrink: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: solid 2px rgba(#a5803f, 0.4);
                border-radius: 56px;
                @include media-up(md) {
                    width: 56px;
                    height: 56px;
                }
                .fi,
                .fi-rest {
                    color: #a5803f;
                    font-size: 20px;
                    @include media-up(md) {
                        font-size: 25px;
                    }
                }
            }
            .i-text {
                font-size: 10px;
                color: #000;
                line-height: 18px;
                word-wrap: break-word;
                margin-left: 10px;
                @include media-up(sm) {
                    font-size: 11px;
                }
                @include media-up(md) {
                    font-size: 12px;
                }
                @include media-up(lg) {
                    font-size: 11px;
                    display: none;
                }
                @include media-up(xl) {
                    display: inline-block;
                }
            }
        }
    }
    .back-to-catalog {
        text-align: center;
        padding: 0 15px;
        padding-bottom: 40px;
        @include media-up(sm) {
            padding-bottom: 50px;
        }
        @include media-up(lg) {
            padding-bottom: 85px;
        }
        .btn {
            @include media-up(md) {
                min-width: 315px;
            }
        }
    }
}
