.rooms-list {
	.room {
		margin: 0 0 5px;
		@include media-up(lg) {
			display: flex;
			align-items: stretch;
		}
		.img-block {
			position: relative;
			overflow: hidden;
			min-height: 235px;
			@include media-up(sm) {
				min-height: 350px;
			}
			@include media-up(md) {
				min-height: 470px;
			}
			@include media-up(lg) {
				min-height: 545px;
				width: 45%;
			}
			@include media-up(nt) {
				width: 58%;
			}
			@include media-up(lp) {
				min-height: 735px;
			}
			@media all and (min-width: 1600px) {
				width: 67%;
			}
			img {
				height: auto;
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				max-width: none;
				top: -100%;
				left: -100%;
				bottom: -100%;
				right: -100%;
				margin: auto;
			}
		}
		.room-info{
			background: #fff;
			padding: 25px 15px;
			@include media-up(sm) {
				padding: 30px 15px;
			}
			@include media-up(lg) {
				width: 54%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			@include media-up(nt) {
				width: 42%;
			}
			@include media-up(lp) {
				padding: rem(65) rem(45);
			}
			@media all and (min-width: 1600px) {
				width: 33%;
			}
		}
		.r-title {
			color: #000;
			font-size: 30px;
			font-weight: 500;
			margin: 0 0 10px;
			@include media-up(md) {
				margin: 0 0 20px;
			}
			@include media-up(lg) {
				margin: 0 0 10px;
			}
			@include media-up(lp) {
				font-size: 36px;
			}
		}
		.r-descr {
			font-size: 16px;
			color: #000;
			margin: 0 0 20px;
			@include media-up(sm) {
				margin: 0 0 35px;
			}
			@include media-up(md) {
				margin: 0 0 45px;
				font-size: 18px;
			}
			@include media-up(lg) {
				margin: 0 0 20px;
			}
		}
		.r-text {
			line-height: 30px;
			color: #333;
			font-size: 14px;
			margin: 0 0 25px;
			max-width: 590px;
			@include media-up(sm) {
				margin: 0 0 35px;
			}
			@include media-up(lg) {
				max-width: none;
				margin: 0 0 25px;
			}
			@include media-up(lp) {
				font-size: 15px;
			}
		}
		.r-price {
			font-size: 15px;
			color: #000;
			margin: 0 0 35px;
			@include media-up(md) {
				margin: 0 0 75px;
			}
			@include media-up(lg) {
				margin: 0 0 30px;
			}
			span {
				font-weight: 500;
				font-size: 24px;
			}
		}
		.btn-bordered {
			color: #000;
			&:hover {
				color: #fff;
			}
		}
		.r-control {
			display: flex;
			a + a {
				@include media-up(sm) {
					margin-left: 20px;
				}
				@include media-down(xs) {
					margin-top: 10px;
				}
			}
			@include media-down(xs) {
				flex-wrap: wrap;
			}
			.btn {
				@include media-down(xs) {
					width: 100%;
				}
			}
		}
		.room-icons {
			margin: 0 -8px;
			list-style: none;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			max-width: 590px;
			@include media-up(lg) {
				max-width: none;
			}
			li {
				width: 50%;
				padding: 0 8px;
				display: inline-flex;
				align-items: center;
				margin-bottom: 20px;
				@include media-up(sm) {
					width: 33.333%;
					margin-bottom: 40px;
				}
				@include media-up(md) {
					margin-bottom: 25px;
				}
				@include media-up(lg) {
					width: auto;
				}
				@include media-up(xl) {
					width: 33.333%;
				}
				.icon {
					width: 48px;
					height: 48px;
					flex-shrink: 0;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					border: solid 2px rgba(#a5803f, 0.4);
					border-radius: 56px;
					@include media-up(md) {
						width: 56px;
						height: 56px;
					}
					.fi,
					.fi-rest {
						color: #a5803f;
						font-size: 20px;
						@include media-up(md) {
							font-size: 25px;
						}
					}
				}
				.i-text {
					font-size: 10px;
					color: #000;
					line-height: 18px;
					word-wrap: break-word;
					margin-left: 10px;
					@include media-up(sm) {
						font-size: 11px;
					}
					@include media-up(md) {
						font-size: 12px;
					}
					@include media-up(lg) {
						font-size: 11px;
						display: none;
					}
					@include media-up(xl) {
						display: inline-block;
					}
				}
			}
		}
		&:nth-child(even) {
			.room-info {
				background: url(../img/pattern.png);
				@include media-up(lg) {
					order: -1;
				}
			}
			.btn-bordered {
				color: #fff;
			}
			.r-title,
			.r-descr,
			.r-text,
			.r-price {
				color: #fff;
			}
			.btn-filled {
				&:hover {
					color: #fff;
				}
			}
			.room-icons {
				li {
					.icon {
						border: solid 2px rgba(#fff, 0.4);
						.fi,
						.fi-rest {
							color: #fff;
						}
					}
					.i-text {
						color: #fff;
					}
				}
			}
		}
	}
}