.special-offer {
	padding-bottom: 40px;
	@include media-up(lg) {
		padding-bottom: 50px;
	}
	@include media-up(nt) {
		padding-bottom: 65px;
	}
	@include media-up(lp) {
		padding-bottom: 85px;
	}
}
.special-row {
	margin: 0 0 40px;
	@include media-up(lg) {
		display: flex;
		align-items: stretch;
	}
	@include media-up(lp) {
		margin: 0 0 70px;
	}
	.img-block {
		height: 235px;
		overflow: hidden;
		position: relative;
		@include media-up(sm) {
			height: 350px;
		}
		@include media-up(md) {
			height: 470px;
		}
		@include media-up(lg) {
			height: 540px;
			width: 50%;
		}
		@include media-up(xl) {
			width: 58%;
		}
		@include media-up(lp) {
			width: 66%;
		}
		&:after {
			content: '';
			width: 100%;
			height: 110px;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			@include media-up(sm) {
				height: 175px;
			}
			@include media-up(md) {
				height: 260px;
			}
			@include media-up(lg) {
				height: 320px;
			}
		}
		@include media-up(lp) {
			height: 735px;
		}
		img {
			height: auto;
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			max-width: none;
			top: -100%;
			left: -100%;
			bottom: -100%;
			right: -100%;
			margin: auto;
			@include media-down(nt) {
				max-height: 575px;
			}
			@include media-down(md) {
				max-height: 670px;
			}
			@include media-down(xs) {
				max-height: 400px;
			}
		}
		.period {
			position: absolute;
			z-index: 10;
			right: 0;
			bottom: 0;
			padding: 20px 15px;
			color: #fff;
			font-size: 14px;
			@include media-up(sm) {
				padding: 25px;
			}
			@include media-up(md) {
				padding: 35px 30px;
				font-size: 18px;
			}
			@include media-up(lg) {
				padding: 35px 60px;
			}
			.p-title {
				font-size: 14px;
				@include media-up(md) {
					font-size: 18px;
				}
				font-weight: 500;
				margin: 0 0 10px;
			}
		}
	}
	.i-title {
		font-size: 24px;
		color: #000;
		margin: 0 0 25px;
		font-weight: 500;
		@include media-up(md) {
			font-size: 30px;
			margin: 0 0 20px;
		}
		@include media-up(lg) {
			font-size: 24px;
		}
		@include media-up(xl) {
			font-size: 30px;
		}
		@include media-up(lp) {
			font-size: 36px;
			margin: 0 0 30px;
		}
		@include media-down(sm) {
			order: -1;
		}
	}
	.i-booking {
		@include media-down(sm) {
			order: -1;
			margin: 0 0 25px;
		}
		.btn {
			@include media-down(xs) {
				width: 100%;
			}
		}
	}
	.i-text {
		color: #363636;
		font-size: 14px;
		line-height: 30px;
		@include media-up(md) {
			font-size: 15px;
			margin: 0 0 30px;
		}
		@include media-up(lg) {
			font-size: 14px;
		}
		@include media-up(lp) {
			font-size: 15px;
			margin: 0 0 45px;
		}
	}
	.info-block {
		padding: 30px 15px 0;
		display: flex;
		flex-direction: column;
		@include media-up(lg) {
			width: 50%;
			padding: 30px 30px 0;
		}
		@include media-up(xl) {
			width: 42%;
		}
		@include media-up(lp) {
			width: 34%;
			padding: rem(40) rem(50) 0 rem(75);
		}
	}
}
.text-block {
	color: #363636;
	font-size: 14px;
	line-height: 30px;
	@include media-up(md) {
		font-size: 15px;
	}
	.container {
		@include media-down(nt) {
			width: 100%;
			padding: 0 30px;
		}
		@include media-down(lg) {
			padding: 0 15px;
		}
	}
	.t-title {
		color: #363636;
		font-size: 18px;
		font-weight: 500;
		margin: 0 0 10px;
		@include media-up(md) {
			font-size: 24px;
			margin: 0 0 20px;
		}
		@include media-up(lg) {
			font-size: 20px;
		}
		@include media-up(lp) {
			font-size: 24px;
		}
	}
	.notice {
		font-weight: 500;
		color: #9a7f45;
	}
	.n-block {
		@include media-up(lp) {
			margin: 35px 0 0;
		}
	}
}