.textpage {
	padding: 0 0 40px;
	@include media-up(md) {
		padding: 0 0 50px;
	}
	@include media-up(lp) {
		padding: 0 0 80px;
	}
	/* ==========================================================================
	   STYLES FOR PARAGRAPH, TEXT
	   ========================================================================== */
	p,
	.text {
		color: #363636;
		font-size: 14px;
		@include media-up(md) {
			font-size: 15px;
		}
		@include media-up(lg) {
			font-size: 14px;
		}
		@include media-up(lp) {
			font-size: 15px;
		}
	}
	/* ==========================================================================
	   STYLES FOR IMG ROW
	   ========================================================================== */
	.text-row {
		&:after {
			content: '';
			display: table;
			width: 100%;
			clear: both;
		}
		@include media-up(lg) {
			padding: 0 15px 0 0;
		}
		@include media-up(lp) {
			padding: 0 35px 0 0;
		}
		.img-block {
			height: 235px;
			overflow: hidden;
			position: relative;
			@include media-up(sm) {
				height: 350px;
			}
			@include media-up(md) {
				height: 470px;
			}
			@include media-up(lg) {
				height: 540px;
				width: 50%;
				float: left;
				margin: 0 30px 30px 0;
			}
			@include media-up(xl) {
				width: 58%;
			}
			@include media-up(lp) {
				width: 66%;
				height: 735px;
				margin: 0 50px 50px 0;
			}
			img {
				height: auto;
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				max-width: none;
				top: -100%;
				left: -100%;
				bottom: -100%;
				right: -100%;
				margin: auto;
				@include media-down(nt) {
					max-height: 575px;
				}
				@include media-down(md) {
					max-height: 670px;
				}
				@include media-down(xs) {
					max-height: 400px;
				}
			}
		}
		.t-info {
			padding: 0 15px;
		}
		.underline-list {
			@include media-up(lg) {
				// margin: 25px 15px;
			}
			@include media-down(nt) {
				clear: both;
				max-width: 1140px;
				margin: 25px auto;
			}
			@include media-up(lp) {
				display: inline-flex;
				flex-direction: column;
				max-width: 30%;
			}
		}
	}
	.t-title {
		font-size: 24px;
		color: #000;
		font-weight: 500;
		margin: 0;
		padding: 20px 0 15px;
		@include media-up(sm) {
			padding: 25px 0 20px;
		}
		@include media-up(md) {
			font-size: 30px;
		}
		@include media-up(lg) {
			padding: 25px 0 25px;
		}
		@include media-up(lp) {
			font-size: 36px;
			padding: 20px 0 15px;
		}
	}
	.container {
		@include media-down(xl) {
			width: 100%;
		}
	}
}
/* ==========================================================================
   STYLES FOR UNDERLINE LIST
   ========================================================================== */
.underline-list {
	list-style: none;
	padding: 0 0 0 30px;
	margin: 25px 0;
	li {
		position: relative;
		color: rgba(#363636, 0.9);
		font-size: 14px;
		margin-bottom: 20px;
		span {
			border-bottom: solid 1px rgba(#363636, 0.9);
		}
		@include media-up(md) {
			font-size: 15px;
		}
		@include media-up(lg) {
			font-size: 14px;
		}
		@include media-up(lp) {
			font-size: 15px;
		}
		&:last-child {
			margin: 0;
		}
		&:before {
			content: '';
			width: 9px;
			height: 9px;
			border-radius: 10px;
			border: solid 1px #9a8f67;
			display: block;
			position: absolute;
			left: -30px;
			top: 5px;
		}
	}
}
/* ==========================================================================
   STYLES FOR CUSTOM LIST
   ========================================================================== */
.custom-list {
	list-style: none;
	padding: 0;
	margin: 30px 0;
	li {
		position: relative;
		color: rgba(#363636, 0.9);
		font-size: 14px;
		margin-bottom: 20px;
		padding-left: 30px;
		@include media-up(md) {
			font-size: 15px;
		}
		@include media-up(lg) {
			font-size: 14px;
		}
		@include media-up(lp) {
			font-size: 15px;
		}
		&:last-child {
			margin: 0;
		}
		&:before {
			content: '';
			width: 9px;
			height: 9px;
			border-radius: 10px;
			border: solid 1px #9a8f67;
			display: block;
			position: absolute;
			left: 0;
			top: 5px;
		}
	}
}
hr {
	margin: 30px 0;
	border: 0;
    border-top: 1px solid #9a7f45;
}
/* ==========================================================================
   STYLES FOR DECORATION TEXTS
   ========================================================================== */
.allotted {
	color: #9a7f45;
}
/* ==========================================================================
   STYLES FOR TABLE
   ========================================================================== */
.responsive-table {
	margin: 25px 0;
	@include media-up(md) {
		margin: 45px 0;
	}
	table {
		min-width: 1000px;
	}
}
table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    color: #363636;
    border: solid 2px #e1d8c7;
    th {
    	background: rgba(#9a7f45, 0.04);
    	text-align: center;
    	font-weight: 500;
    	color: #ae9566;
    	padding: 25px;
    	border: 1px solid #e3e3e3;
    }
    td {
    	padding: 25px;
	    color: #666;
	    font-size: 15px;
	    border: 1px solid #e3e3e3;
    }
}
/* ==========================================================================
   STYLES FOR TABLE SCROLL
   ========================================================================== */
.responsive-table {
	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
		height: 4px;
		border-radius: 0;
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
		width: 50px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background: #9a7f45;
		margin: 7px auto;
		border-radius: 0;
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		background: rgba(#000, 0.04)
	}
	.mCSB_horizontal.mCSB_inside>.mCSB_container {
	    margin-bottom: 45px;
	}
	.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
		margin-bottom: 0;
	}
}
/* ==========================================================================
   STYLES FOR BLOCKQUOTE ROW
   ========================================================================== */
.blockquote-row {
	margin: 30px 0;
	@include media-up(lg) {
		display: flex;
		align-items: center;
	}
	blockquote {
		@include media-up(lg) {
			margin-left: 30px;
			max-width: 510px;
			flex-shrink: 0;
		}
		@include media-up(lp) {
			margin-left: 60px;
		}
	}
}
blockquote {
	color: #333;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-weight: 600;
	margin: 20px 0;
	@include media-up(md) {
		font-size: 18px;
	}
	&:before {
		content: '“';
		font-size: 30px;
		color: #a5803f;
	}
	&:after {
		content: '”';
		font-size: 30px;
		color: #a5803f;
	}
}