.wrapp-container {
	padding-top: 60px;
	position: relative;
	@include media-up(lg) {
		padding-top: 161px;
	}
}
header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	@media all and (min-width: 1290px) {
		padding: 0 60px;
	}
	.top-header {
		padding: 0;
		@include media-up(lg) {
			padding: 25px 0 20px;
		}
		.flex-row {
			justify-content: space-between;
			align-items: center;
			@include media-down(md) {
				height: 60px;
			}
		}
	}
	.logo-block {
		position: relative;
		min-height: 1px;
		width: 167px;
		height: 53px;
		@include media-up(lg) {
			align-self: flex-start;
		}
		a {
			display: block;
		}
		img {
			@include media-up(lg) {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.logo {
			@include media-down(md) {
				display: none;
			}
		}
	}
	.scroll-logo {
		display: none;
		@include media-down(md) {
			display: block;
			padding-left: 60px;
		}
		img {
			position: static;
		}
	}
	.bottom-header {
		background: #9ec01a;
		@include media-down(md) {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			transition: $d_transition;
			&.show {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.work-block {
		display: none;
		@include media-up(lg) {
			display: block;
		}
		.w-title {
			font-family: $main_bold;
			color: #000;
			margin: 0 0 15px;
		}
		.time {
			.icon {
				margin-right: 10px;
				vertical-align: middle;
			}
		}
	}
	.contact-block {
		display: none;
		@include media-up(lg) {
			display: block;
		}
		a {
			color: #333;
			.icon {
				margin-right: 10px;
				vertical-align: middle;
			}
		}
		.tel {
			margin: 0 0 15px;
			a {
				font-family: $main_bold;
				text-decoration: none;
			}
		}
		.email {
			a {
				text-decoration: none;
			}
		}
	}
	.call-block {
		@include media-down(xs) {
			margin-right: -15px;
		}
		.btn {
			span {
				@include media-down(sm) {
					display: none;
				}
			}
			@include media-down(lg) {
				font-size: 12px;
				padding: 13px 20px;
			}
			@include media-down(sm) {
				height: 60px;
				border-radius: 0;
			}
		}
		.icon {
			@include media-up(md) {
				display: none;
			}
		}
	}
}
.toggle-btn {
	position: absolute;
	top: 12px;
	left: 0;
	z-index: 100;
	@include media-up(lg) {
		display: none;
	}
	button {
		cursor: pointer;
		width: 40px;
		height: 30px;
		padding: 0;
		margin: 0;
		background: none;
		border: 0;
		position: relative;
		outline: none;
		span {
			transform: rotate(0deg);
			display: block;
			height: 3px;
			width: 100%;
			background: #9ec01a;
			transition: .25s ease-in-out;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 2px;
			&:nth-child(2) {
				top: 12px;
			}
			&:nth-child(3) {
				top: 25px;
			}
		}
		&.open {
			span {
				&:nth-child(1) {
					transform: rotate(135deg);
					top: 12px;
				}
				&:nth-child(2) {
					opacity: 0;
					left: -30px;
				}
				&:nth-child(3) {
					transform: rotate(-135deg);
					top: 12px;
				}
			}
		}
	}
}

// fixed header
.fixed-header {
	header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: #fff;
		animation: slide-down .5s;
		box-shadow: 5px 0 10px rgba(#000,0.1);
	}
	.top-header {
		padding: 0;
		.flex-row {
			height: 74px;
		}
	}
	.work-block {
		display: none;
	}
	.contact-block {
		display: flex;
		align-items: center;
		.tel {
			margin: 5px 40px 0 0;
		}
		@include media-down(lg) {
			font-size: 14px;
		}
	}
	.bottom-header {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		transition: none;
		nav {
			ul {
				justify-content: space-between;
				height: 50px;
				li {
					flex-grow: 1;
				}
			}
		}
		&.show {
			opacity: 1;
			visibility: visible;
			transition: $d_transition;
		}
	}
	.logo-block {
		align-self: center;
		width: auto;
		height: auto;
		padding-left: 80px;
		@include media-up(xl) {
			margin-right: 30px;
		}
		.logo {
			display: none;
		}
		.scroll-logo {
			display: block;
		}
	}
	.toggle-btn {
		display: block;
	}
	.call-block {
		.btn {
			@include media-down(lg){
				font-size: 12px;
			}
		}
	}
}
@keyframes slide-down {
    0% {
    	opacity: 0;
        transform: translateY(-100%);
    }
    100% {
    	opacity: 1;
        transform: translateY(0);
    } 
}