.lessons {
	padding: 40px 0 45px;
	background: #fffbed;
}
.lessons-list {
	display: flex;
	align-items: flex-start;
	margin: 0 -15px;
	@include media-down(md) {
		flex-wrap: wrap;
	}
	.lesson-item {
		padding: 0 15px;
		width: 100%;
		@include media-up(lg) {
			width: 33.3333%;
		}
	}
	.l-block {
		border-radius: 15px;
		overflow: hidden;
		height: 408px;
		position: relative;
		box-shadow: 0 18px 28px 10px rgba(136,136,135,0);
		transition: $d_transition;
		@include media-down(md) {
			width: 360px;
			margin: 0 auto 20px;
		}
		@include media-down(xs) {
			width: 100%;
			height: 350px;
		}
		.l-content {
			z-index: 1;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: flex;
			align-items: center;
			overflow: hidden;
			color: #fff;
			.content-row {
				padding: 0 20px;
				text-align: center;
				transform: translateY(50%);
				transition: 0.5s;
				transition-delay: 0.1s;
				width: 100%;
				& > * {
					opacity: 0;
					transform: translateY(50px);
					margin: 0 auto;
				}
				.c-title {
					transform: translateY(-50%);
					transition: 0.5s;
					transition-delay: 0.3s;
					opacity: 1;
					font-family: $main_medium;
					font-size: 24px;
					@include media-down(xs) {
						font-size: 18px;
					}
				}
				.c-preview {
					transition: 0.5s;
					transition-delay: 0.15s;
					line-height: 30px;
					margin: 30px 0 40px;
					@include media-down(xs) {
						font-size: 14px;
						margin: 20px 0;
					}
				}
				.c-link {
					transition: 0.5s;
					transition-delay: 0s;
					text-align: center;
					.btn {
						box-shadow: 0 7px 25px 5px rgba(93,115,7,.24);
					}
				}
			}
		}
		a {
			display: block;
			text-decoration: none;
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(#000, 0.3);
				transition: $d_transition;
			}
		}
		img {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			min-height: 100%;
			min-width: 100%;
		}
		// hover on l-block
		&:hover {
			box-shadow: 0 18px 28px 10px rgba(136,136,135,.28);
			a {
				&:after {
					background: #9fb924;
				}
			}
			.l-content {
				.content-row {
					transform: translateY(0);
					transition-delay: 0s;
					& > * {
						opacity: 1;
						transform: translateY(0);
					}
					.c-title {
						transition-delay: 0s;
					}
					.c-preview {
						transition-delay: 0.3s;
					}
					.c-link {
						transition-delay: 0.5s;
					}
				}
			}
		}
	}
}