.banner-block {
	.sp-slide {
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			background: #000;
			opacity: 0.7;
			top: 0;
			left: 0;
		}
	}
	.slide-area {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		.container {
			height: 100%;
			.flex-row {
				height: 100%;
				display: flex;
				width: 100%;
				flex-wrap: wrap;
				justify-content: center;
				align-content: center;
			}
		}
		.slide-info {
			width: 100%;
			@include respond-to($m-phone) {
				margin-top: -40px;
			}
			.s-title {
				text-align: center;
				color: #fff;
				font-size: 36px;
				font-family: $title_font;
				font-weight: 700;
				@include respond-to($phone) {
					font-size: 48px;
				}
				@include respond-to($tablet) {
					font-size: 60px;
				}
				@include respond-to($desktop) {
					font-size: 72px;
				}
			}
		}
		.s-description {
			max-width: 250px;
			color: #fff;
			font-size: 12px;
			text-align: center;
			margin: 0 auto;
			@include respond-to($phone) {
				font-size: 15px;
				max-width: 320px;
			}
			@include respond-to($tablet) {
				font-size: 18px;
				max-width: 480px;
			}
			@include respond-to($desktop) {
				max-width: 690px;
			}
		}
		.slide-placement {
			color: #fff;
			margin: 30px auto 0;
			width: 100%;
			@include respond-to($phone) {
				width: 540px;
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}
			@include respond-to($desktop) {
				width: 630px;
				margin: 115px auto 0;
			}
			.item {
				display: flex;
				align-items: center;
				@include respond-to($phone) {
					text-align: center;
					display: block;
				}
				img {
					height: 58px;
					margin-right: 20px;
					@include respond-to($phone) {
						height: 40px;
						margin: 0;
					}
					@include respond-to($tablet) {
						height: 58px;
					}
				}
				.i-title {
					font-family: $title_font;
					font-weight: 700;
					font-size: 18px;
					@include respond-to($phone) {
						margin: 10px 0;
						font-size: 20px;
					}
					@include respond-to($tablet) {
						font-size: 24px;
						margin: 25px 0 15px;
					}
				}
				.i-description {
					max-width: 130px;
					font-size: 14px;
					@include respond-to($phone) {
						font-size: 16px;
						max-width: 250px;
					}
				}
				&:last-child {
					@include respond-to($m-phone) {
						display: none;
					}
				}
			}
		}
	}
	.sp-horizontal .sp-arrows {
		@include respond-to($m-phone) {
			top: 65%;
		}
	}
	.sp-arrow {
		width: 50px;
		height: 50px;
		border: solid 1px #fff;
		display: block !important;
		transform: none;
		@include respond-to($desktop) {
			width: 70px;
			height: 70px;
		}
		&:after, &:before {
			content: '';
			transform: none;
			top: 0;
			left: 0;
			position: static;
			background: none;
			display: block;
			width: 0;
			height: 0;
		}
		&.sp-next-arrow {
			right: 20px;
			@include respond-to($desktop) {
				right: 100px;
			}
			&:after {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				@include sprite($i-arr-right);
			}
		}
		&.sp-previous-arrow {
			left: 20px;
			@include respond-to($desktop) {
				right: 100px;
			}
			&:after {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				@include sprite($i-arr-left);
			}
			@include respond-to($m-phone) {
				display: none !important;
			}
		}
		&:hover {
			border-color: $orange;
			&.sp-next-arrow {
				&:after {
					@include sprite($i-arr-right-hover);
				}
			}
			&.sp-previous-arrow {
				&:after {
					@include sprite($i-arr-left-hover);
				}
			}
		}
	}
	.sp-buttons {
		position: absolute;
		bottom: 20px;
		.sp-button {
			width: 10px;
			height: 10px;
			border: solid 1px #fff;
			&.sp-selected-button {
				background: #cf9b41;
				border-color: #cf9b41;
			}
		}
	}
}