#map {
	width: 100%;
	height: 240px;
	@include respond-to($phone) {
		height: 430px;
	}
	@include respond-to($desktop) {
		height: 552px;
	}
}
.top-footer {
	@include respond-to($desktop) {
		padding: 30px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo {
		@include respond-to($m-lg-desktop) {
			display: none;
		}
	}
}
.footer-menu {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@include respond-to($desktop) {
			display: flex;
		}
		li {
			position: relative;
			&:after {
				@include respond-to($m-desktop) {
					content: '';
					width: 100vw;
					left: 50%;
					margin-left: -50vw;
					top: 100%;
					height: 1px;
					background: #ccc;
					position: absolute;
				}
			}
			a {
				font-weight: 700;
				text-transform: uppercase;
				display: block;
				text-decoration: none;
				transition: $d_transition;
				font-size: 15px;
				color: #333;
				padding: 20px 0;
				@include respond-to($desktop) {
					border-right: solid 1px #ccc;
					padding: 3px 20px;
				}
				@include respond-to($lg-desktop) {
					padding: 3px 25px;
				}
				&:hover, &:focus {
					color: $orange;
				}
			}
			&:first-child {
				a {
					@include respond-to($desktop) {
						border-left: solid 1px #ccc;
					}
				}
			}
		}
	}
}

.footer-contacts {
	font-size: 14px;
	@include respond-to($phone) {
		display: flex;
		> div:first-child {
			max-width: 230px;
			margin-right: 35px;
		}
	}
	@include respond-to($desktop) {
		display: block;
		> div:first-child {
			max-width: none;
			margin-right: 0;
		}
	}
	@include respond-to($m-desktop) {
		margin-top: 30px;
	}
	span {
		font-weight: 700;
		color: #ae8f60;
	}
	.cnt {
		div {
			@include respond-to($desktop) {
				margin-top: 15px;
			}
			@include respond-to($m-phone) {
				margin-top: 20px;
			}
		}
	}
	a {
		color: #000;
		text-decoration: underline;
		font-weight: 600;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

.bottom-footer {
	padding: 25px 0;
	font-size: 14px;
	color: #666;
	@include respond-to($desktop) {
		border-top: solid 1px #ccc;
	}
	@include respond-to($m-desktop) {
		padding: 45px 0;
	}
	@include respond-to($m-tablet) {
		padding: 25px 0;
	}
	.flex-row {
		@include respond-to($phone) {
			display: flex;
			justify-content: space-between;
		}
	}
	.copy {
		margin-bottom: 20px;
		@include respond-to($phone) {
			margin: 0;
		}
	}
	a {
		color: #666;
		text-decoration: none;
		&:focus, &:hover {
			text-decoration: underline;
		}
	}
}