.rooms {
	background: url('../img/form-pattern.jpg');
}
.rooms-list {
	display: flex;
	align-items: flex-start;
	margin: 0 -15px;
	flex-wrap: wrap;
	@include respond-to($desktop) {
		flex-wrap: nowrap;
	}
	.item {
		width: 100%;
		margin-bottom: 30px;
		@include respond-to($tablet) {
			width: 50%;
			padding: 0 15px;
		}
		@include respond-to($desktop) {
			width: 33.3333%;
			margin-bottom: 0;
		}
		.room {
			background: #fff;
			padding: 20px;
			img {
				display: block;
				width: 100%;
			}
			border: solid 1px transparent;
			transition: $d_transition;
			&:hover {
				border-color: #e19d36;
				box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.09);
			}
			.btn {
				width: 100%;
				background: #ae8f60;
				margin-top: 30px;
				padding: 15px 25px;
				&:hover, &:focus {
					background: #e19d36;
				}
			}
		}
	}
	.r-title {
		font-size: 24px;
		font-weight: 700;
		margin: 15px 0 10px;
	}
	.r-descr {
		color: #999;
		font-size: 14px;
	}
	@include respond-to($m-tablet) {
		max-width: 360px;
		margin: 0 auto;
	}
}
.equip {
	font-size: 14px;
	line-height: 24px;
	span {
		color: #e19d36;
		font-weight: 600;
		display: block;
		margin: 10px 0;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			&:after {
				content: ',';
			}
			&:last-child {
				&:after {
					content: '.';
				}
			}
		}
	}
}

.price {
	margin-top: 20px;
	font-weight: 600;
	font-size: 14px;
	span {
		font-weight: 700;
		b {
			font-size: 24px;
		}
	}
}