.services {
	background: url('../img/form-pattern.jpg');
}
.service-list {
	@include respond-to($tablet) {
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;
	}
	@include respond-to($desktop) {
		margin: 0 -30px;
	}
	.item {
		padding: 0 15px;
		text-align: center;
		@include respond-to($desktop) {
			padding: 20px 30px 35px;
		}
		img {
			height: 70px;
		}
		&:nth-child(2) {
			@include respond-to($desktop) {
				border-left: solid 1px rgba(#cfcfcf, 0.47);
				border-right: solid 1px rgba(#cfcfcf, 0.47);
			}
		}
		.s-title {
			color: #000;
			font-weight: 700;
			margin: 20px 0;
			text-transform: uppercase;
			font-size: 14px;
			@include respond-to($desktop) {
				margin: 25px 0;
				font-size: 16px;
			}
			@include respond-to($m-tablet) {
				font-size: 16px;
			}
			@include respond-to($m-phone) {
				font-size: 15px;
			}
		}
		.s-text {
			line-height: 30px;
			font-size: 14px;
			max-width: 330px;
			margin: 0 auto;
			@include respond-to($desktop) {
				font-size: 16px;
			}
			@include respond-to($m-tablet) {
				font-size: 16px;
			}
			@include respond-to($m-phone) {
				font-size: 15px;
			}
		}
		& + .item {
			@include respond-to($m-tablet) {
				margin-top: 30px;
			}
		}
	}
}