.i-svg {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 30px;
}

{{#shapes}}
.{{base}} {
  width:({{width.inner}}/{{height.inner}})*1em;
}
{{/shapes}}