// default styles
html {
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

// body styles 
body {
	font-family: $main_font;
	font-size: $main_fontsize;
	color: $main_color;
}
// styles for container
.container {
	padding: 0 15px;
	margin: 0 auto;
	@include media-up(sm) {
		width: 568px;
	}
	@include media-up(md) {
		width: 768px;
	}
	@include media-up(lg) {
		width: 970px;
	}
	@include media-up(xl) {
		width: 1170px;
	}
}
.main-wrap {
	position: relative;
}
.flex-row {
	display: flex;
}
.t-right {
	text-align: right;
}
.t-center {
	text-align: center;
}
p {
	margin: 0 0 15px;
}
picture {
	display: block;
}
// sprite icons 
.icon {
	display: inline-block;
}
.custom-checkbox {
	margin: 20px 0;
	input[type=checkbox] {
	    position: absolute;
	    right: -999999px;
	    z-index: -999999;
	    display: none;
	    &:checked {
		    & + label {
		    	&:before {
		    		//@include sprite($i-check-fill);
		    	}
		    }
		}
	}
	label {
	    min-height: 30px;
	    display: inline-flex;
	    align-items: center;
	    flex-wrap: wrap;
	    font-size: 16px;
	    position: relative;
	    padding-left: 50px;
	    line-height: 1.2;
	    color: #fff;
	    font-weight: normal;
	    @include media-down(xs) {
	    	font-size: 15px;
	    }
	    &:before {
		    content: '';
		    display: block;
		    position: absolute;
		    left: 0;
			//@include sprite($i-check-empty);
		}
	}
}