@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&subset=cyrillic');

@font-face {
	font-family: 'rosa_marenaregular';
	src: url('../fonts/rosa_marena.eot');
	src: url('../fonts/rosa_marena.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/rosa_marena.woff2') format('woff2'),
		 url('../fonts/rosa_marena.woff') format('woff'),
		 url('../fonts/rosa_marena.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}