body {
	font: $main_fsize $main-ffamily;
	color: $main-color;
	background: $main-bg;
	line-height: 1.42857143;
}
.container {
	padding: 0 20px;
	@include respond-to($tablet) {
		margin: 0 auto;
		width: 758px;
		padding: 0 15px;
	}
	@include respond-to($desktop) {
	    width: 970px
	}
	@include respond-to($lg-desktop) {
		width: 1170px;
	}
}
.btn {
	display: inline-block;
	color: #fff;
	text-align: center;
	font-weight: 700;
	padding: 12px 25px;
	text-decoration: none;
	transition: $d_transition;
	border: none;
	cursor: pointer;
	font-size: 16px;
	&.orange-btn {
		background: $orange;
		&:hover, &:focus {
			text-decoration: none;
			background: #efb763;
		}
	}
}
section {
	padding: 30px 0;
	@include respond-to($desktop) {
		padding: 40px 0;
	}
}
.section-title {
	font-family: $title_font;
	font-size: 34px;
	color: #000;
	text-align: center;
	margin: 0 0 25px;
	font-weight: 700;
	@include respond-to($desktop) {
		font-size: 48px;
	}
}
p {
	margin: 0 0 10px;
}
* {
	box-sizing: border-box;
}
*:before, *:after {
	box-sizing: border-box;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.text-center {
	text-align: center;
}