// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$i-arr-left-b-name: 'i-arr-left-b';
$i-arr-left-b-x: 20px;
$i-arr-left-b-y: 62px;
$i-arr-left-b-offset-x: -20px;
$i-arr-left-b-offset-y: -62px;
$i-arr-left-b-width: 10px;
$i-arr-left-b-height: 17px;
$i-arr-left-b-total-width: 128px;
$i-arr-left-b-total-height: 79px;
$i-arr-left-b-image: '../img/sprite.png';
$i-arr-left-b: (20px, 62px, -20px, -62px, 10px, 17px, 128px, 79px, '../img/sprite.png', 'i-arr-left-b', );
$i-arr-left-hover-name: 'i-arr-left-hover';
$i-arr-left-hover-x: 33px;
$i-arr-left-hover-y: 62px;
$i-arr-left-hover-offset-x: -33px;
$i-arr-left-hover-offset-y: -62px;
$i-arr-left-hover-width: 10px;
$i-arr-left-hover-height: 17px;
$i-arr-left-hover-total-width: 128px;
$i-arr-left-hover-total-height: 79px;
$i-arr-left-hover-image: '../img/sprite.png';
$i-arr-left-hover: (33px, 62px, -33px, -62px, 10px, 17px, 128px, 79px, '../img/sprite.png', 'i-arr-left-hover', );
$i-arr-left-name: 'i-arr-left';
$i-arr-left-x: 46px;
$i-arr-left-y: 62px;
$i-arr-left-offset-x: -46px;
$i-arr-left-offset-y: -62px;
$i-arr-left-width: 10px;
$i-arr-left-height: 17px;
$i-arr-left-total-width: 128px;
$i-arr-left-total-height: 79px;
$i-arr-left-image: '../img/sprite.png';
$i-arr-left: (46px, 62px, -46px, -62px, 10px, 17px, 128px, 79px, '../img/sprite.png', 'i-arr-left', );
$i-arr-right-b-name: 'i-arr-right-b';
$i-arr-right-b-x: 59px;
$i-arr-right-b-y: 62px;
$i-arr-right-b-offset-x: -59px;
$i-arr-right-b-offset-y: -62px;
$i-arr-right-b-width: 10px;
$i-arr-right-b-height: 17px;
$i-arr-right-b-total-width: 128px;
$i-arr-right-b-total-height: 79px;
$i-arr-right-b-image: '../img/sprite.png';
$i-arr-right-b: (59px, 62px, -59px, -62px, 10px, 17px, 128px, 79px, '../img/sprite.png', 'i-arr-right-b', );
$i-arr-right-hover-name: 'i-arr-right-hover';
$i-arr-right-hover-x: 72px;
$i-arr-right-hover-y: 62px;
$i-arr-right-hover-offset-x: -72px;
$i-arr-right-hover-offset-y: -62px;
$i-arr-right-hover-width: 10px;
$i-arr-right-hover-height: 17px;
$i-arr-right-hover-total-width: 128px;
$i-arr-right-hover-total-height: 79px;
$i-arr-right-hover-image: '../img/sprite.png';
$i-arr-right-hover: (72px, 62px, -72px, -62px, 10px, 17px, 128px, 79px, '../img/sprite.png', 'i-arr-right-hover', );
$i-arr-right-name: 'i-arr-right';
$i-arr-right-x: 85px;
$i-arr-right-y: 62px;
$i-arr-right-offset-x: -85px;
$i-arr-right-offset-y: -62px;
$i-arr-right-width: 10px;
$i-arr-right-height: 17px;
$i-arr-right-total-width: 128px;
$i-arr-right-total-height: 79px;
$i-arr-right-image: '../img/sprite.png';
$i-arr-right: (85px, 62px, -85px, -62px, 10px, 17px, 128px, 79px, '../img/sprite.png', 'i-arr-right', );
$i-close-name: 'i-close';
$i-close-x: 0px;
$i-close-y: 62px;
$i-close-offset-x: 0px;
$i-close-offset-y: -62px;
$i-close-width: 17px;
$i-close-height: 17px;
$i-close-total-width: 128px;
$i-close-total-height: 79px;
$i-close-image: '../img/sprite.png';
$i-close: (0px, 62px, 0px, -62px, 17px, 17px, 128px, 79px, '../img/sprite.png', 'i-close', );
$i-near-ico-name: 'i-near-ico';
$i-near-ico-x: 0px;
$i-near-ico-y: 0px;
$i-near-ico-offset-x: 0px;
$i-near-ico-offset-y: 0px;
$i-near-ico-width: 59px;
$i-near-ico-height: 59px;
$i-near-ico-total-width: 128px;
$i-near-ico-total-height: 79px;
$i-near-ico-image: '../img/sprite.png';
$i-near-ico: (0px, 0px, 0px, 0px, 59px, 59px, 128px, 79px, '../img/sprite.png', 'i-near-ico', );
$i-section-ico-name: 'i-section-ico';
$i-section-ico-x: 62px;
$i-section-ico-y: 0px;
$i-section-ico-offset-x: -62px;
$i-section-ico-offset-y: 0px;
$i-section-ico-width: 66px;
$i-section-ico-height: 51px;
$i-section-ico-total-width: 128px;
$i-section-ico-total-height: 79px;
$i-section-ico-image: '../img/sprite.png';
$i-section-ico: (62px, 0px, -62px, 0px, 66px, 51px, 128px, 79px, '../img/sprite.png', 'i-section-ico', );
$spritesheet-width: 128px;
$spritesheet-height: 79px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($i-arr-left-b, $i-arr-left-hover, $i-arr-left, $i-arr-right-b, $i-arr-right-hover, $i-arr-right, $i-close, $i-near-ico, $i-section-ico, );
$spritesheet: (128px, 79px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
