// fonts
$main_ffamily: 'Open Sans', sans-serif;
$main_fsize: 16px;
$title_font: 'Playfair Display', serif;
// colors
$main-color: #333;
$main-bg: #fff;

$orange: #e19d36;

// default transition
$d_transition: all 0.3s linear 0s;

// media mixin
$phone: '(min-width: 568px)';
$tablet: '(min-width: 768px)';
$desktop: '(min-width: 992px)';
$lg-desktop: '(min-width: 1200px)';
// max-mixin
$m-lg-desktop: '(max-width: 1199px)';
$m-desktop: '(max-width: 991px)';
$m-tablet: '(max-width: 767px)';
$m-phone: '(max-width: 567px)';


@mixin respond-to($media) {
	@media only screen and #{$media} {
		@content;
	}
}