.btn {
	display: inline-flex;
	text-align: center;
	justify-content: center;
	color: $gold;
	padding: 10px 25px;
	background: transparent;
	cursor: pointer;
	outline: none;
	position: relative;
	font-size: 13px;
	transition: $d_transition;
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
	position: relative !important;
	z-index: 1;
	font-weight: 500;
	letter-spacing: 0.05em;
	min-height: 58px;
	align-items: center;
	&.btn-bordered {
		color: #fff;
		min-width: 235px;
		border: 2px solid $gold;
		&:hover {
			background: $gold;
			color: #fff;
		}
		&.dark-color {
			color: #000;
			&:hover {
				color: #fff;
			}
		}
	}
	&.btn-filled {
		color: #fff;
		background: #a5803f;
		min-width: 235px;
		border: 2px solid $gold;
		&:hover {
			background: none;
			color: #24222e;
		}
		&.white-color {
			&:hover {
				color: #fff;
			}
		}
	}
}
input.btn,
button.btn {
	display: inline-block;
}