/*Media 1199px*/
@media screen and (max-width: 1199px) {
	.slogan {
		width: 500px;
	}
	.slogan h1 {
		font-size: 30px;
	}
}
/*Media 991px*/
@media screen and (max-width: 991px) {
	.slogan {
		width: auto;
	}
	.slogan h1 {
		font-size: 40px;
	}
	.nav > li > a {
		padding: 15px 12px;
	}
	.dropdown-menu > li > a {
		padding: 15px 12px;
	}
}
/*Media 767px*/
@media screen and (min-width: 767px) {
	.collapse {
		display: block;
		height: auto !important;
		visibility: visible;
	}
}
@media screen and (max-width: 767px) {
	.slogan {
		width: 100%;
		float: none !important;
		text-align: center;
		margin: 0;
	}
	.telephone h4 {
		text-align: center;
	}
	.slogan h1 {
		font-size: 20px;
	}
	.socials ul {
		float: none;
		text-align: center;
		margin-top: 20px;
	}
	.navbar-collapse {
		padding: 0 15px;
	}
	.navbar-form .form-group {
		margin-bottom: 0;
	}
	.navbar-form {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-form .form-control {
		height: 50px;
	}
	.btn-search {
		right: 4px;
		top: 17px;
	}
	.nav > li > a {
		border-bottom: solid 1px #1E5F93;
	}
	.nav > li:first-child > a {
		border-top: solid 1px #1E5F93;
	}
	.nav > li > a,
	.dropdown-menu > li > a {
		padding: 15px;
	}
	.navbar-header {
		padding: 10px 0;
	}
	.top-header .col-md-8,
	.top-header .col-md-4 {
		padding: 0 30px;
	}
	.slogan {
		padding: 0;
	}
	.dropdown-menu > li > a {
		color: #fff;
	}
	.dropdown-menu > li > a:hover,
	.dropdown-menu > li > a:focus {
		color: #000;
	}
	.slider-descr {
		font-size: 30px;
	}
	.dropdown-menu > li > a:hover, 
	.dropdown-menu > li > a:focus {
		background-color: #024275;
		color: #fff;
	}
	.bottom-footer p {
		text-align: center;
	}
	footer .socials ul {
		float: none;
		text-align: center;
		margin-top: 40px;
	}
	.logo {
		float: none !important;
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
}
/*Media 700px*/
@media screen and (max-width: 700px) {
	.carousel-pag {
		display: none;
	}
	section h3 {
		font-size: 16px;
	}
}
/*Media 540px*/
@media screen and (max-width: 540px) {
	.chair-wrapp .col-md-3 {
		width: 100%;
	}
}