@import url(fonts.css);
/*Main style*/
body {
	font: 13px "Open sans light", sans-serif;
	color: #fff;
}
.wrapp {
	min-width: 360px;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1 {
	font-size: 40px;
	margin: 0;
}
h4 {
	font-size: 20px;
	margin: 0;
}
h3 {
	margin: 0;
	font-size: 25px;
}
h5 {
	margin: 0;
	font-size: 15px;
}
/*End main style*/
/*Style for header*/
.top-header {
	background: #0b5fa3;
	padding: 20px 0;
}
.slogan {
	margin-left: 30px;
	padding-top: 10px;
}
.slogan h1 {
	margin: 0 0 10px;
}
.slogan p {
	text-transform: uppercase;
}
.telephone {
	padding-top: 20px;
	font-size: 20px;
}
.telephone h4 {
	text-align: right;
	margin-bottom: 10px;
}
.telephone h4 i {
	margin-right: 15px;
}
.socials ul {
	float: right;
}
.socials ul li {
	display: inline-block;
	margin-left: 2px;
}
.socials ul li:first-child {
	margin: 0;
}
.socials ul li a {
	display: block;
	width: 33px;
	height: 33px;
	background-color: #054d87;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	font-size: 15px;
	-moz-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.socials ul li a:hover,
.socials ul li a:focus {
	background-color: #063f6d;
}
.bottom-header {
	background: #054d87;
}
.navbar-collapse {
	padding: 0;
}
.nav > li > a {
	color: #fff;
}
.nav > li > a:hover,
.nav > li > a:focus {
	background-color: #024275;
}
.navbar-right {
	position: relative;
}
.btn-search {
	background-color: transparent;
	color: #fff;
	position: absolute;
	right: 15px;
	top: 0;
	outline: none !important;
}
.btn-search:active,
.btn-search:hover,
.btn-search:focus {
	color: inherit;
}
.navbar-form .form-control {
	background: #024275;
	box-shadow: none;
	border: none;
	color: #fff;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.navbar-form .form-control:focus {
	background-color: #fff;
	color: #000;
}
.navbar-form .form-control::-webkit-input-placeholder {color:#fff;}
.navbar-form .form-control::-moz-placeholder {color:#fff;}
.navbar-form .form-control:-moz-placeholder {color:#fff;}
.navbar-form .form-control:-ms-input-placeholder {color:#fff;}
.navbar-form .form-control:focus::-webkit-input-placeholder {color:#000;}
.navbar-form .form-control:focus::-moz-placeholder {color:#000;}
.navbar-form .form-control:focus:-moz-placeholder {color:#000;}
.navbar-form .form-control:focus:-ms-input-placeholder {color:#000;}
.navbar-toggle {
	background-color: #024275;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-form {
	box-shadow: none;
	border: none;
}
.navbar-collapse {
	border: none;
	box-shadow: none;
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
	background-color: #024275;
	color: #fff;
}
.dropdown-toggle > .fa {
	margin-left: 5px;
}
.dropdown-menu {
	border-radius: 0;
	border: none;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.5);
	min-width: 210px;
}
.dropdown-menu > li > a {
	padding: 15px;
	color: #000;
}
/*End style for header*/
/*Style for slider*/
.slider-content {
	margin: 0 auto;
	max-width: 1680px;
	position: relative;
}
.slider-img {
	margin-top: 60px;
}
.slider-descr {
	position: relative;
	font-size: 40px;
	max-width: 530px;
	margin: 30px auto 0;
}
.slider-descr > span {
	font-family: "Open sans semibold";
}
.slider-descr img {
	position: absolute;
	right: 0;
	top: 120%;
}
.to-news {
	display: block;
	position: absolute;
	bottom: 0;
	width: 163px;
	height: 81px;
	background: url(../img/to-news.png) no-repeat;
	left: 50%;
	margin-left: -81px;
}
/*End style for slider*/
/*Style for news*/
section {
	padding: 50px 0;
}
section h3 {
	color: #585858;
	border-bottom: solid 2px #356891;
}
.news {
	background: #ffffff;
}
.block-line {
	border-bottom: solid 1px #e5e5e5;
}
.block-line > a {
	display: block;
	color: #7389a4;
}
.carousel-wrapp {
	margin-top: 40px;
}
#owl .item span {
	display: block;
	margin: 0 auto;
	width: 90%;
	background: #295c86;
	overflow: hidden;
}
#owl .item span img {
	height: auto;
	width: 100%;
	-ms-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	opacity: 1;
}
#owl .item .carousel-content {
	margin: 0 auto;
	width: 90%;
	padding-top: 20px;
}
#owl .item .carousel-content h5 {
	color: #000;
}
.carousel-text {
	padding-top: 20px;
	color: #737373;
	line-height: 1.8;
}
#owl .item a:hover,
#owl .item a:focus {
	text-decoration: none;
}
#owl .item a:hover span img,
#owl .item a:focus span img {
	opacity: 0.5;
	-o-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
.carousel-wrapp {
	position: relative;
}
.carousel-pag {
	background-color: rgba(255, 255, 255, 0.9);
	height: 100%;
	position: absolute;
	top: 0;
	width: 10%;
	z-index: 1001;
	outline: none !important;
	cursor: pointer;
	display: block;
}
#prev {
	background-image: url(../img/carousel-prev.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	left: 0;
}
#next {
	background-image: url(../img/carousel-next.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	right: 0;
}
/*End Style for news*/
/*Style for speciality*/
.speciality {
	background-position: center center;
	background-size: cover;
	background-image: url(../img/bg-for-speciality.png);
	height: 450px;
	position: relative;
	background-color: #0b5fa3;
	width: 100%;
}
.speciality .block-line h3 {
	color: #e0e7ef;
	border: none;
}
.speciality .block-line {
	border-color: #ffffff;
}
.pag-spec {
	font-size: 0;
	margin-bottom: -1px;
}
.pag-spec .special-pag {
	color: #fff;
	display: inline-block;
	border: solid 1px #fff;
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 35px;
	cursor: pointer;
	text-align: center;
	-ms-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.spec-left {
	margin-right: -1px;
}
.pag-spec .special-pag:hover,
.pag-spec .special-pag:focus {
	background: #fff;
	color: #044376;
}
#owl2 .item > a,
.chair-wrapp .col-md-3 > div {
	display: block;
	width: 100%;
	max-height: 250px;
	overflow: hidden;
	position: relative;
	background: #c73c47;
	margin: 0 auto;
}
#owl2 .item a img,
.chair-wrapp .col-md-3 > div img {
	max-width: 100%;
	display: block;
	position: relative;
	width: 100%;
	-ms-transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-o-transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-webkit-transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-moz-transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	opacity: 1;
}
#owl2 .item a .not-over:after,
.chair-wrapp .col-md-3 > div .not-over:after {
	background-image: -o-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.8));
	background-image: -webkit-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.8));
	background-image: -moz-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.8));
	background-image: -ms-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.8));
	background-image: linear-gradient(transparent 40%, rgba(0, 0, 0, 0.8));
	bottom: 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}
#owl2 .item a span,
.chair-wrapp .col-md-3 > div span {
	display: block;
	padding: 20px;
}
#owl2 .item a .not-over,
.chair-wrapp .col-md-3 > div .not-over {
	opacity: 1;
	-ms-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	z-index: 100;
	display: block;
}
#owl2 .item a .not-over:before,
#owl2 .item a .overlay:before,
.chair-wrapp .col-md-3 > div .not-over:before,
.chair-wrapp .col-md-3 > div .overlay:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
#owl2 .item a .not-over > div,
.chair-wrapp .col-md-3 > div .not-over > div {
	display: inline-block;
	vertical-align: bottom;
	z-index: 100;
	width: 97%;
	line-height: 1.5;
}
#owl2 .item a .overlay > div h4 {
	margin-bottom: 10px;
}
#owl2 .item a .overlay,
.chair-wrapp .col-md-3 > div .overlay {
	opacity: 0;
	-ms-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-o-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-webkit-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	-moz-transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
	display: block;
	overflow: hidden;
}
#owl2 .item a .overlay > div,
.chair-wrapp .col-md-3 > div .overlay > div {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	width: 97%;
	line-height: 1.5;
}
#owl2 .item a:hover .not-over, 
#owl2 .item a:focus .not-over,
.chair-wrapp .col-md-3 > div:hover .not-over,
.chair-wrapp .col-md-3 > div:focus .not-over {
	opacity: 0;
}
#owl2 .item a:hover .overlay, 
#owl2 .item a:focus .overlay,
.chair-wrapp .col-md-3 > div:hover .overlay,
.chair-wrapp .col-md-3 > div:focus .overlay {
	opacity: 1;
}
#owl2 .item a:hover img, 
#owl2 .item a:focus img,
.chair-wrapp .col-md-3 > div:hover img,
.chair-wrapp .col-md-3 > div:focus img {
	opacity: 0.2;
	-o-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
#owl2 .item a .overlay div a {
	display: inline-block;
}
#owl2 .item a .overlay div i {
	font-size: 14px;
	position: relative;
	top: -8px;
}
#owl2 .item {
	margin: 0 10px;
}
/*End style for speciality*/
/*Style for chair*/
.chair-wrapp {
	margin-top: 40px;
}
.chair-wrapp .col-md-3 {
	padding: 0;
}
.chair-wrapp .col-md-3 > div {
	max-height: 290px;
	background: #0b5fa3;
	cursor: pointer;
}
.chair-wrapp .col-md-3 > div .overlay h5 {
	padding-bottom: 10px;
	border-bottom: solid 1px #72a0c4;
	line-height: 1.5;
	margin-bottom: 20px;
	max-width: 200px;
	margin: 0 auto;
}
.chair-wrapp .col-md-3 > div .overlay a {
	color: #fff;
	font-size: 11px;
	margin-top: 10px;
	display: block;
}
.chair-wrapp .col-md-3 > div .overlay a i {
	margin-right: 10px;
}
.chair-wrapp .col-md-3 > div .overlay > div > p {
	margin: 0 auto;
	max-width: 200px;
}
/*End style for chair*/
/*Style for footer*/
.top-footer {
	background: #212121;
}
.bottom-footer {
	background: #1a1a1a;
	padding: 25px 0;
	font-size: 14px;
}
footer .socials ul li a {
	background-color: #1a1a1a;
}
footer .socials ul li a:hover,
footer .socials ul li a:focus {
	background-color: #212121;
}
.bottom-footer p {
	padding-top: 10px;
}
.top-footer {
	padding: 40px 0;
}
.top-footer h4 {
	background: url(../img/separate.png) repeat-x left center;
	margin-bottom: 30px;
	position: relative;
}
.top-footer h4 span {
	background-color: #212121;
	padding-right: 20px;
}
.top-footer h4 a {
	color: #fff;
}
.collapse {
	display: none;
}
.contrl {
	background-color: #212121;
	color: #fff;
	font-size: 30px !important;
	padding: 0 0 0 10px;
	position: absolute;
	right: 0;
	top: -6px;
	padding-right: 0 !important;
}
.heading {
	cursor: pointer;
}
.contrl:before {
	content: "\f107";
}
.contrl.drop-angle:before {
	content:"\f106";
}
.foot-navigation ul {
	width: 50%;
	float: left;
}
.foot-navigation ul li {
	display: block;
	margin-bottom: 10px;
}
.foot-navigation ul li a {
	color: #909090;
	font-size: 14px;
}
.first-ul {
	padding-right: 20px;
}
.foot-contacts h6 {
	font-size: 14px;
	margin-top: 25px;
	color: #909090;
	line-height: 1.5;
}
.modal-open {
	padding: 0 !important;
}
/*End style for footer*/
/*Style for modal*/
.maps .modal-dialog {
	max-width: 850px;
	margin: 80px auto;
	width: 100%;
}
.maps .modal-content {
	border-radius: 0;
	border: none;
	box-shadow: none;
}
.maps .modal-body {
	padding: 0;
}
.maps .close {
	margin: 0;
	color: #fff;
	font-size: 30px;
	opacity: 1;
	position: absolute;
	top: -50px;
	right: 0;
}
.maps .modal-content {
	padding: 0 15px;
	background: transparent;
}
.modal {
	/*z-index: 999999;*/
	padding: 0 !important;
}