@import url(fonts.css);
/*default style*/
*{
	margin: 0;
	padding: 0;
}
html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	font-size: 14px;
	color: #8f8f8f;
	font-family: "Open sans light", sans-serif;
}
a:focus {
	outline: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
/*End default style*/
/*main style*/
.dev-width {
	min-width: 320px;
}
.m-t-40 {
	margin-top: 40px;
}
.m-t-30 {
	margin-top: 30px;
}
h4 {
	font-size: 20px;
}
.form-control {
	height: 50px;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: solid 2px #e9e9e9;
	padding: 0;
	position: relative;
	border-left: 0;
	padding-left: 20px;
}
.form-control:focus {
	-o-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #e9e9e9;
}
.input-group-addon {
	background-color: #fafafa;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: solid 2px #e9e9e9;
	border-right: 0;
	padding: 6px 16px;
	color: #959595;
}
.area-ico {
	vertical-align: top;
	padding-top: 18px;
}
textarea.form-control {
	min-height: 150px;
	resize: none;
	padding-top: 15px;
}
.past-main {
	background: rgba(0,0,0,0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000,endColorstr=#E5000000);
}
/*End main style*/
/*header style*/
header {
	line-height: 70px;
	width: 100%;
	position: fixed;
	top: 0;
	font-family: 'Open sans', sans-serif;
	min-width: 320px;
	z-index: 1000;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
nav {
	padding: 0;
}
.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}
.nav > li > a {
	padding: 0 12px;
	line-height: 70px;
	color: #b7b7b7;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	color: #fff;
	background: none;
	outline: none;
}
.navbar-toggle {
	margin-top: 18px;
	margin-bottom: 17px;
	background: #ffcb00;
}
.navbar-toggle .icon-bar {
	background: #fff;
}
.dropdown-menu {
	background: rgba(0,0,0,0.9);
	font-size: 13px;
	min-width: 150px;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000,endColorstr=#E5000000);
}
.dropdown-menu:after {
	content:""; 
    position: absolute;
    left: 35px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #000;
}
.dropdown-menu > li > a {
	padding: 12px 0 12px 20px;
	color: #b7b7b7;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.navbar-right .dropdown-menu {
	left: 0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background: none;
	color: #fff;
}
.dropdown-menu > li {
	border-bottom: solid 1px rgba(255,255,255,0.03);
}
.dropdown-menu > li:last-child {
	border: none;
}
.first-slog {
	color: #fff;
}
.second-slog {
	color: #ffcb00;
}
.logo h2 {
	padding-top: 22px;
	margin-left: 20px;
	font-family: "Raavi", sans-serif;
	font-weight: normal;
}
.logo h2 a {
	text-decoration: none;
}
.btn-default {
	height: 50px;
	padding-left: 30px;
	padding-right: 30px;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	border: solid 2px #fff;
	color: #fff;
	background: none;
	line-height: 45px;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
	font-family: 'Open sans semibold', sans-serif;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
	background: #fff;
	border-color: #fff;
	color: #000;
}
.btn-default:after {
	content: "";
	position: absolute;
	border: 7px solid transparent; 
	border-right: 7px solid #fff; 
	border-bottom: 7px solid #fff; 
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.slider-content {
	max-width: 1680px;
	margin: 0 auto;
	position: relative;
}
.ie-corner {
	display: none;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 100;
}
/*End header style*/

/*Style for about us*/
.ie-corner img {
	max-width: 100%;
}
.about-block{
	z-index: 1;
}
.about-block:after {
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
    content: "";
    background: url(../img/shadow-border2.png) no-repeat 0px 30px;
	-o-background-size: contain;
	-ms-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
    background-size: contain;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 325px;
	z-index: -1;
}
.about-block:hover.about-block:after{
	opacity: 1;
}
.about {
	padding-bottom: 40px;
	padding-top: 40px;
	min-height: 100px;
	background: url(../img/bg-about.png);
	border-bottom: solid 4px #f2f2f2;
}
.about h2, .our-team h2, .portfolio h2, .facts h2, .services h2, .clients h2, .partners h2, .contacts h2{
	font-size: 50px;
	font-family: "Open sans semibold", sans-serif;
	color: #323232;
}
.desc-about {
	font-size: 20px;
	color: #878787;
	margin-top: 40px;
}
.about-block:hover .image-block {
	background: #ffad00;
	color: #fff;
	border: solid 3px #ffad00;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.image-block {
	width: 125px;
	height: 125px;
	border: solid 3px #ebebeb;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	line-height: 145px;
	background: #fff;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.image-block .fa {
	font-size: 50px;
}
.about-title h4 {
	font-family: "Open sans semibold", sans-serif;
	color: #000;
}
.list-about ul {
	list-style: square;
	max-width: 300px;
	margin: 0 auto;
	color: #696969;
}
.list-about ul li {
	margin-bottom: 20px;
}
.list-about ul li span {
	color: #8f8f8f;
}
/*End style for about us*/
/*Style for our-team*/
.our-team {
	padding: 50px 0 40px 0;
}
.team-block{
	max-width: 340px;
	margin: 0 auto;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
    border: solid 1px #e9e9e9;
    overflow: hidden;
    min-height: 380px;
    position:relative;
}
.cont-block .social-ico {
	position: absolute;
	bottom: 20px;
}
.team-block:hover {
	background: #000;
	color: #fff;
	border: solid 1px #fff;
}
.team-block:hover .img-block:after {
	opacity: 1;
}
.team-block:hover .social-ico a {
	color: #fff;
	border-color: #fff;
}
.img-block {
	position: relative;
	overflow: hidden;
}
.cont-block{
	padding: 20px;
}
.team-title {
	position: absolute;
	bottom: 0;
	color: #fff;
	padding: 20px;
	font-size: 20px;
	font-family: "Open sans semibold", sans-serif;
	line-height: 1;
	z-index: 2;
}
.social-ico a {
	color: #8f8f8f;
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	border: solid 1px #e4e4e4;
	margin-right: 5px;
	padding: 1px 0;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.cont-block .social-ico a:hover {
	background: #fff;
	color: #000;
}
.team-title span {
	font-size: 14px;
	font-family: "Open sans light", sans-serif;
}
.img-block:after {
	content: "";
	display: block;
	width: 100%;
	height: 243px;
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	color: #fff;
	z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
/*End style for our-team*/
/*Style for ready-info*/
.ready-info {
	padding: 50px 0;
	height: 240px;
	width: 100%;
   	background: url('../img/slides/slide1.jpg') no-repeat;
    background-attachment: fixed;
    position: relative;
}
.ready-info h2 {
	font-size: 50px;
	font-family: "Open sans semibold", sans-serif;
	color: #fff;
}
.ready-info .overlay, .clients .overlay {
	bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
    background: url("../img/slides/patterns/overlay1.png") repeat;
}
.rdy-z {
	z-index: 1;
}
/*End Style for ready-info*/
/*Style for portfolio*/
.portfolio {
	padding: 50px 0;
}
.portfolio-filter {
	list-style: none;
	width: 530px;
	margin: 30px auto 50px;
	position: relative;
	min-height: 25px;
}
.portfolio-filter:before, .portfolio-filter:after {
	content: "{";
	font-size: 20px;
	position: absolute;
	left: -20px;
	margin-top: -5px;
}
.portfolio-filter:after {
	content: "}";
	left: inherit;
	right: -20px;
}
.portfolio-filter li {
	float: left;
	display: inline-block;
}
.portfolio-filter li .link-p {
	font-size: 16px;
	color: #8f8f8f;
	padding: 10px 20px;
}
.portfolio-filter li .link-p:hover, .portfolio-filter li .link-p:focus {
	text-decoration: none;
}
.portfolio-filter li .link-p:hover {
	color: #000;
}
.active-p {
	font-family: "Open sans semibold", sans-serif;
	border: solid 2px #000;
}
.help-p {
	padding: 0 15px;
}
.portfolio-items {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  margin-top: -20px;
}
.portfolio-items > li {
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.portfolio-items.col-4 li {
  width: 24%;
  margin-top: 20px;
}
.portfolio-image img {
	max-width: 100%;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.portfolio-item .item-box {
	max-width: 270px;
	background: #f2f2f2;
	text-align: center;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.portfolio-item .item-box h5 {
	font-size: 15px;
	padding: 19px 0;
}
.portfolio-image {
	position: relative;
}
.over-img {
	width: 100%;
	background: rgba(0,0,0,0.6);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	-webkit-transition: opacity 0.4s linear 0s;
    -moz-transition: opacity 0.4s linear 0s;
    -o-transition: opacity 0.4s linear 0s;
    -ms-transition: opacity 0.4s linear 0s;
    transition: opacity 0.4s linear 0s;
    opacity: 0;
    padding: 30% 0;
}
.portfolio-item .item-box:hover .over-img{
	opacity: 1;
}
.portfolio-item .item-box:hover {
	background: #000;
	color: #fff;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**/
.r-grid {
	padding-top: 20px;
	padding-right: 45px;
	overflow-y: auto;
	padding-bottom: 10px;
}
.r-grid h4{
	color: #000;
	font-family: "Open sans semibold";
	margin-bottom: 25px;
}
.r-grid .port-list {
	list-style: none;
	margin-top: 20px;
}
.r-grid .port-list li{
	height: 50px;
	border-bottom: dotted 1px #ccc;
	display: block;
}
.r-grid .port-list li .rect-modal {
	display: inline-block;
	width: 27px;
	height: 27px;
	border: solid 2px #000;
	position: relative;
	margin-right: 15px;
	top: 9px;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.r-grid .port-list li{
	color: #000;
	font-family: "Open sans light";
	cursor: pointer;
}
.r-grid .port-list li .rect-modal:before {
	content: "\f04b";
	font-family: FontAwesome;
	font-size: 10px;
	color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -3px;
	margin-top: -6px;
}
.r-grid .port-list li:hover .rect-modal:before{
	color: #fff;
}
.r-grid .port-list li:hover .rect-modal{
	background: #000;
}
.l-grid img {
	max-width: 100%;
}
.l-block {
	display: none;
	background: #fff;
	text-align: left;
}
/*.l-grid, .r-grid {
	height: 455px;
}
.l-block {
	background: #fff;
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
}
.l-hidden {
	overflow: hidden !important;
}*/
/*End style for portfolio*/
/*Style for facts*/
.facts {
	padding: 40px 0;
	background: url(../img/bg-about.png) repeat;
}
.facts-block {
	width: 100%;
	position: relative;
}
.top-img {
	width: 108px;
	height: 108px;
	background: #fff;
	color: #000;
	line-height: 120px;
	-webkit-transition: background 0.4s linear 0s;
    -moz-transition: background 0.4s linear 0s;
    -o-transition: background 0.4s linear 0s;
    -ms-transition: background 0.4s linear 0s;
    transition: background 0.4s linear 0s;
}
.facts-block:after {
	content: "";
	display: block;
	width: 1px;
	height: 175px;
	background: #f1f1f1;
	position: absolute;
	right: 0;
	top: 20px;
}
.top-img i {
	font-size: 40px;
}
.f-count {
	font-size: 45px;
	font-family: "Open sans semibold", sans-serif;
	color: #000;
	margin: 0;
}
.bott-text {
	font-family: "Open sans", sans-serif;
}
.facts-block:hover .top-img {
	background: #ffad00;
	color: #fff;
}
/*End style for facts*/
/*Style for services*/
.services {
	padding: 40px 0;
}
.service-item {
	max-width: 340px;
	border: solid 1px #f7f7f7;
	margin: 0 auto;
}
.list-serv {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.list-serv li {
	padding: 12px 0;
	border-bottom: solid 1px #f2f2f2;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
}
.list-serv li:nth-child(odd) {
	background: #fafafa;
}
.list-serv li:last-child {
	border: none;
}
.title-service {
	font-size: 20px;
	font-family: "Open sans semibold", sans-serif;
	color: #000;
}
.price-block .value {
	color: #e37f7f;
	font-size: 18px;
	font-family: "Open sans semibold", sans-serif;
}
.b-black {
	border: solid 2px #000;
	color: #000;
}
.b-black:after {
	border: 7px solid transparent; 
	border-right: 7px solid #000; 
	border-bottom: 7px solid #000;
}
.b-black:hover {
	border: solid 2px #000;
	color: #fff;
	background: #000;
}
.b-black:focus {
	border: solid 2px #000;
	color: #000;
}
.service-item:hover .list-serv li{
	background: #000;
	color: #fff;
	border-color: #000;
}
.service-item:hover .title-service{
	color: #fff;
}
.service-item:hover .b-black {
	border-color: #fff;
	color: #fff;
}
.service-item:hover .b-black:after {
	border: 7px solid transparent; 
	border-right: 7px solid #fff; 
	border-bottom: 7px solid #fff;
}
.serv-img {
	position: relative;
}
.service-item:hover .over-img{
	opacity: 1;
}
.list-serv .b-black:hover {
	color: #000;
	background: #fff
}  
.list-serv .btn.btn-default.b-black {
	margin-bottom: 15px;
}
/*End Style for services*/
/*Style for clients*/
.clients{
	height: 460px;
	width: 100%;
	padding: 50px 0;
	position: relative; 
    background: url('../img/slides/slide4.jpg') no-repeat;
    background-attachment: fixed;
}
.clients h2 {
	color: #fff;
}
.clients-block {
	width: 300px;
	border: solid 2px #fff;
	background: rgba(255,255,255,.1);
	height: 170px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFFFF,endColorstr=#19FFFFFF);
	margin: 0 auto;
	padding: 35px 10px 35px 70px;
	color: #fff;
	position: relative;
}
.title-clients {
	font-family: "Open sans semibold", sans-serif;
}
.txt-cl {
	font-family: "Open sans", sans-serif;
	margin: 0;
}
.client-photo {
	width: 104px;
	height: 104px;
	border: solid 2px #fff;
	position: absolute;
	top: 50%;
	margin-top: -52px;
	left: -50px;
}
/*End Style for clients*/
/*Style for partners*/
.partners {
	padding: 40px 0;
	background: url("../img/bg-about.png") repeat;
	border-bottom: solid 4px #f2f2f2;
}
.banner-block {
	width: 270px;
	height: 170px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
	-o-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
	-ms-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
	margin: 0 auto;
	background: #fff;
	text-align: center;
	line-height: 165px;
	font-family: "Open sans", sans-serif;
	font-size: 20px;
}
.banner-block span{
	font-family: "Open sans semibold", sans-serif;
}
/*End Style for partners*/
/*Style for contacts*/
.contacts {
	padding: 40px 0;
}
/*End Style for contacts*/
/*Style for footer*/
#top {
	width: 47px;
	height: 47px;
	background: rgba(0,0,0,.2);
	position: fixed;
	bottom: 150px;
	right: 50px;
	z-index: 100;
	cursor: pointer;
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
    display: none;
    font-size: 30px;
    text-align: center;
}
#top:hover {
	background: #000;
	color: #fff;
}
#map {
	height: 390px;
	width: 100%;
}
footer {
	padding: 50px 0;
}
footer .social-ico a{
	-webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -o-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
    width: 40px;
    height: 40px;
    font-size: 25px;
}
footer .social-ico a:hover {
	color: #fff;
	border-color: #fff;
	background: #000;
}
footer p {
	margin: 0;
}
footer p a {
	color: #8f8f8f;
	border-bottom: #ccc 1px dotted;
}
footer p a:hover, footer p a:focus {
	color: #8f8f8f;
	border: none;
	text-decoration: none;
}
/*End style for footer*/
/*IE STYLE*/
.ie8 .banner-block {
	border: solid 1px #ccc;
}
.ie8 .nav > li a {
	display: inline;
}
.ie8 .dropdown-menu > li a {
	display: block;
}
.ie8 .navbar-nav > li > .dropdown-menu {
	margin-top: 0px;
	border: none;
	margin-right: -50px;
}
.ie8 .ie-corner {
	display: block;
}
.ie8 .about-block:after {
	background: none;
}
.ie8 #owl {
	width: 1024px;
}
.ie8 input.form-control {
	line-height: 50px;
}
.ie8 .over-img a {
	display: none;
}
.ie8 .item-box:hover .over-img a{
	display: inline-block;
}
.nicescroll-rails {
	z-index: 10000 !important;
}
/*END IE STYLE*/

/*ANIMATION FOR SUBMENU*/
.open > .dropdown-menu {
  -webkit-animation-name: slidenavAnimation;
  -webkit-animation-duration:0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;

  -moz-animation-name: slidenavAnimation;
  -moz-animation-duration:.4s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;

  -o-animation-name: slidenavAnimation;
  -o-animation-duration:.4s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: forwards;

  animation-name: slidenavAnimation;
  animation-duration:0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes slidenavAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*END ANIMATION FOR SUBMENU*/