.about-hotel {
	padding: 25px 15px 35px;
	position: relative;
	overflow: hidden;
	@include media-up(sm) {
		padding: 40px 15px 50px;
	}
	@include media-up(md) {
		padding: 50px 15px;
		background-size: cover;
		background: url(../img/mramor-bg.png) no-repeat left bottom;
	}
	@include media-up(xl) {
		padding: 200px 15px 90px;
		padding-left: 55px;
	}
	@include media-up(lp) {
		padding-left: 15px;
	}
	.about-container {
		max-width: 1260px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		@include media-up(xl) {
			padding: 170px 80px 35px 595px;
			border: solid 2px rgba(#9d845e, 0.39);
		}
		@include media-up(nt) {
			padding: 170px 80px 110px 640px;
		}
		.a-text {
			color: #474646;
			font-size: 14px;
			line-height: 30px;
			font-weight: 300;
			position: relative;
			z-index: 1;
			margin-bottom: 25px;
			@include media-up(md) {
				font-size: 16px;
			}
			b {
				font-weight: 600;
				color: #a7855c;
			}
		}
		.a-title {
			color: #000;
			font-size: 24px;
			font-weight: 500;
			text-transform: uppercase;
			margin: 0 0 15px;
			@include media-up(md) {
				font-size: 48px;
				margin: 0 0 30px;
			}
			@include media-up(nt) {
				position: absolute;
				right: 90px;
				top: -95px;
			}
		}
	}
	.img-container {
		display: block;
		@include media-up(sm) {
			display: flex;
		}
		@include media-up(xl) {
			position: absolute;
			left: -40px;
			top: -125px;
		}
		.first-img {
			width: 290px;
			height: 195px;
			position: relative;
			overflow: hidden;
			margin: 20px 0 0 0;
			box-shadow: 10px 25px 30px rgba(201,198,196,.41);
			@include media-up(sm) {
				width: 350px;
				height: 230px;
				margin: 30px 30px 0 0;
			}
			@include media-up(md) {
				margin: 40px 50px 0 0;
				width: 480px;
				height: 315px;
			}
			@include media-up(lg) {
				margin: 45px 60px 0 0;
			}
			@include media-up(xl) {
				width: 577px;
				height: 377px;
			}
			img {
				height: auto;
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				max-width: none;
				top: -100%;
				left: -100%;
				bottom: -100%;
				right: -100%;
				margin: auto;
			}
		}
		.second-img {
			position: relative;
			overflow: hidden;
			width: 155px;
			height: 150px;
			margin-top: 20px;
			@include media-up(sm) {
				margin-top: 0;
			}
			@include media-up(md) {
				width: 210px;
				height: 205px;
			}
			@include media-up(xl) {
				width: 250px;
				height: 250px;
			}
			img {
				height: auto;
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				max-width: none;
				top: -100%;
				left: -100%;
				bottom: -100%;
				right: -100%;
				margin: auto;
			}
		}
	}
	.partners-block {
		display: flex;
		align-items: center;
		margin: 35px 0 0 -15px;
		@include media-up(md) {
			margin: 45px 0 0 -15px;
		}
		@include media-up(lg) {
			position: absolute;
			left: 540px;
			bottom: 0;
		}
		@include media-up(xl) {
			left: 35px;
			top: 340px;
			bottom: auto;
			margin: 0;
		}
		@include media-down(xs) {
			flex-wrap: wrap;
			margin-top: 0;
		}
		a {
			display: block;
			padding: 0 15px;
			@include media-down(xs) {
				flex-wrap: wrap;
				margin-top: 20px;
			}
		}
	}
	.decorate-p {
		font-size: 48px;
		color: #896e4a;
		font-family: $marena_font;
		position: absolute;
		transform-origin: 0 100%;
		transform: rotate(90deg) translateY(0);
		display: none;
		left: -180px;
		top: 0;
		@media all and (min-width: 1660px) {
			display: block;
		}
	}
}