.breadcrumbs {
	border-bottom: solid 1px #e4ddd4;
	@include media-down(sm) {
		background: #896e4a;
		border: 0;
	}
	.container {
		@include media-down(nt) {
			width: 100%;
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		li {
			position: relative;
			@include media-down(sm) {
				display: none;
			}
			&.prev {
				@include media-down(sm) {
					display: block;
					width: 100%;
					margin: 0;
				}
				a {
					@include media-down(sm) {
						padding: 12px 0;
						text-align: center;
						color: #fff;
					}
					&:hover {
						color: #000;
					}
				}
			}
			&:after {
				@include media-up(md) {
					content: '';
					width: 7px;
					height: 7px;
					border-radius: 10px;
					border: solid 1px #907755;
					position: absolute;
					top: 28px;
					right: -22px;
				}
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			a,
			span {
				padding: 22px 0;
				color: #000;
				font-size: 16px;
				text-decoration: none;
				font-weight: 300;
				display: block;
			}
			span {
				color: #907755;
			}
			& + li {
				margin-left: 35px;
			}
		}
	}
}