header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	.top-area {
		padding: 30px 15px;
		display: flex;
		align-items: center;
		@include media-down(sm) {
			background: #191919;
			padding: 0;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.top-area-block {
			@include media-up(lg) {
				width: 50%;
			}
			@include media-down(sm) {
				width: 100px;
			}
			.t-wrap {
				display: flex;
				align-items: center;
				@include media-down(sm) {
					flex-wrap: wrap;
					justify-content: space-between;
				}
			}
			&.tb-right {
				@include media-up(md) {
					flex-grow: 1;
				}
				.t-wrap {
					justify-content: flex-end;
				}
			}
		}
		@include media-up(xl) {
			padding: 15px;
		}
		@include media-up(lp) {
			padding: 15px 30px;
		}
		.show-mobile {
			display: none;
			@include media-down(sm) {
				display: block !important;
			}
		}
		.hide-mobile {
			@include media-down(sm) {
				display: none !important;
			}
		}
	}
}
.tel {
	flex-grow: 1;
	@include media-up(lg) {
		flex-grow: 0;
	}
	@include media-down(sm) {
		width: 100%;
		text-align: center;
		order: -1;
		padding: 7px 0;
	}
	a {
		color: #f5f5f5;
		text-decoration: none;
		font-size: 18px;
		transition: $d_transition;
		font-weight: 500;
		@include media-up(lg) {
			font-size: 16px;
		}
		@include media-up(xl) {
			font-size: 18px;
		}
		@include media-down(sm) {
			font-size: 14px;
		}
		&:hover {
			color: #896e4a;
			svg {
				fill: #896e4a;
			}
		}
		svg {
			font-size: 16px;
			margin: -3px 10px 0 0;
			transition: $d_transition;
			vertical-align: middle;
			fill: #f5f5f5;
			@include media-down(sm) {
				font-size: 14px;
				margin: -3px 5px 0 0;
			}
		}
	}
}
.booking-btn {
	@include media-down(sm) {
		width: 100%;
	}
	.btn {
		@include media-up(lg) {
			font-size: 14px;
		}
		@include media-up(xl) {
			font-size: 16px;
		}
		@include media-down(sm) {
			width: 100%;
			display: block;
		}
	}
}
.lang-block {
	margin: 0;
	@include media-up(md) {
		margin: 0 30px;
	}
	@include media-up(lg) {
		margin: 0 20px;
	}
	@include media-up(xl) {
		margin: 0 30px;
	}
	@include media-up(lp) {
		margin: 0 60px;
	}
	@include media-down(sm) {
		margin-right: 15px;
	}
	.desktop-lang {
		display: none;
		@include media-up(xl) {
			display: block;
		}
		a, span {
			color: #f5f5f5;
			font-size: 18px;
			font-weight: 500;
			display: inline-flex;
			text-decoration: none;
			transition: $d_transition;
			&:hover {
				color: #896e4a;
			}
			& + a,
			& + span {
				margin-left: 12px;
				padding-left: 15px;
				border-left: solid 1px #f5f5f5;
			}
		}
	}
	.mobile-lang {
		position: relative;
		cursor: pointer;
		@include media-up(xl) {
			display: none;
		}
		&:hover {
			.curr {
				color: #896e4a;
				&:after {
					border-top: 4px solid #896e4a;
				}
			}
		}
		.curr {
			color: #f5f5f5;
			transition: $d_transition;
			font-weight: 500;
			font-size: 18px;
			padding-right: 25px;
			position: relative;
			@include media-up(lg) {
				font-size: 16px;
			}
			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -2px;
				border: 4px solid transparent;
				border-top: 4px solid #fff;
				transition: $d_transition;
			}
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			top: -13px;
			left: 0;
			position: absolute;
			background: #fff;
			box-shadow: 0 0 5px 0 rgba(50,50,50,.2);
			opacity: 0;
			visibility: hidden;
			transition: all .3s ease-in-out 0s;
			transform: translateY(10px);
			z-index: 2;
			&.open {
				opacity: 2;
				visibility: visible;
				transform: translateY(0);
			}
			li {
				& + li {
					a, span {
						border-top: solid 1px #eaeaea;
					}
				}
			}
			a, span {
				text-transform: uppercase;
				font-weight: 500;
				color: #303030;
				text-decoration: none;
				cursor: pointer;
				display: block;
				font-size: 14px;
				padding: 7px 15px;
				transition: all .3s ease-in-out 0s;
				&:hover {
					background: #816e4d;
					color: #f5f5f5;
				}
			}
		}
	}
}
.socials-head {
	display: none;
	@include media-up(lg) {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}
	div {
		color: #f5f5f5;
		margin-right: 30px;
		font-size: 16px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		li {
			margin-right: 20px;
		}
		a {
			text-decoration: none;
			color: #fff;
			&:hover {
				svg {
					fill: #896e4a;
				}
			}
			svg {
				font-size: 16px;
				fill: #fff;
				transition: $d_transition;
			}
		}
	}
}
.toggle-btn {
	margin-right: 30px;
	@include media-up(lg) {
		display: none;
	}
	@include media-down(sm) {
		margin-left: 15px;
		margin-right: 0;
	}
	.toggle-menu {
		cursor: pointer;
		display: block;
		background: none;
		border: 0;
		padding: 0;
		outline: none;
		width: 34px;
		height: 24px;
		position: relative;
		transition: all 0.3s ease;
		&.show {
			border-color: #896e4a;
			span {
				background: #896e4a;
				&:nth-child(1) {
					transform: rotate(135deg);
    				top: 11px;
    				left: 0;
				}
				&:nth-child(2) {
					opacity: 0;
					left: -30px;
				}
				&:nth-child(3) {
					transform: rotate(-135deg);
    				top: 11px;
    				left: 0;
				}
			}
		}
		&:hover {
			border-color: #896e4a;
			span {
				background: #896e4a;
			}
		}
		span {
			display: block;
			width: 34px;
			height: 3px;
			background: #fff;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 1;
			transform: rotate(0);
			transition: all 0.3s ease;
			&:nth-child(2) {
				top: 10px;
			}
			&:nth-child(3) {
				top: 20px;
			}
		}
	}
}
.logo-area {
	width: 55px;
	margin-bottom: 7px;
	@include media-up(md) {
		margin: 0;
		position: absolute;
		top: 15px;
		left: 50%;
		width: 77px;
		margin-left: -38.5px;
	}
	@include media-up(xl) {
		margin-left: -57.5px;
		top: 45px;
		width: 115px;
	}
	img {
		width: 100%;
	}
}
// Styles for inner page header
.inner-page {
	header {
		background: #000;
		.logo-area {
			@include media-up(xl) {
				top: 15px;
			}
		}
		.menu-block {
			& > ul {
				& > li {
					& > ul {
						@include media-up(lg) {
							border: solid 1px #a7855c;
						}
					}
				}
			}
		}
	}
}
// styles for fixed header
.fixed-header {
	header {
		position: fixed;
		animation: slide-down .3s;
		background: transparent;
		.top-area {
			background: rgba(#0c0b0b, 0.95);
			padding: 15px;
		}
		.logo-area {
			top: 5px;
			width: 80px;
			margin-left: -40px;
		}
		.socials-head {
			display: none;
		}
		.toggle-btn {
			display: block;
		}
		.top-area-block {
			@include media-up(lg) {
				padding: 0 60px 0 0;
			}
			&.tb-right {
				@include media-up(lg) {
					padding: 0 0 0 60px;
				}
			}
			.t-wrap {
				@include media-up(lg) {
					border-top: solid 1px rgba(#fff,0.16);
					border-bottom: solid 1px rgba(#fff,0.16);
					height: 55px;
				}
				@include media-up(lp) {
					padding: 0 30px;
				}
			}
		}
		.bottom-area {
			position: absolute;
			width: 100%;
			left: 0;
			top: 100%;
			@include media-up(lg) {
				opacity: 0;
				z-index: 0;
				visibility: hidden;
				transform: translateY(-10px);
				background: rgba(#0c0b0b, 0.95);
			}
			&.menu_is_show {
				transition: all .3s ease;
				@include media-up(lg) {
					opacity: 1;
					z-index: 100;
					visibility: visible;
					transform: translateY(0);
				}
			}
		}
		.menu-block {
			& > ul {
				border: 0;
				& > li {
					a {
						@include media-up(lg) {
							font-size: 14px;
							padding: 20px 10px 40px;
						}
						@include media-up(xl) {
							font-size: 16px;
						}
					}
					& > ul {
						@include media-up(lg) {
							border: solid 1px #a7855c;
						}
					}
				}
			}
		}
	}
}
@keyframes slide-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}