.text-block {
	background: #fff;
	padding: 35px 15px;
	@include media-up(md) {
		padding: 45px 15px;
	}
	@include media-up(lg) {
		padding: 50px 15px;
	}
	@include media-up(lp) {
		padding: 95px 15px;
	}
	.t-title {
		font-size: 18px;
		color: #000;
		margin-bottom: 15px;
		text-transform: uppercase;
		@include media-up(sm) {
			margin-bottom: 30px;
		}
		@include media-up(md) {
			margin-bottom: 35px;
			font-size: 30px;
		}
	}
	.t-text {
		font-size: 14px;
		color: #484747;
		line-height: 30px;
		font-weight: 300;
		@include media-up(md) {
			font-size: 16px;
		}
	}
	.text-container {
		max-width: 1140px;
		margin: 0 auto;
		text-align: center;
	}
	&.catalog-section {
		@include media-up(sm) {
			padding: 55px 15px;
		}
		@include media-up(lg) {
			background: url(../img/text-catalog-bg.png), #faf9f7;
			background-size: cover;
		}
		@include media-up(xl) {
			padding: 75px 15px;
		}
		@include media-up(lp) {
			padding: 115px 15px;
		}
		.decorate-inscription {
			font-family: $marena_font;
			font-size: 24px;
			color: #816e4d;
			text-align: center;
			margin: 0 0 15px;
			@include media-up(md) {
				margin: 0 0 20px;
			}
		}
	}
}